@import 'organisator/mixins';
@import 'plan1835/constants';

/* ------------------------------------------ */

/* ------------------------------------------ */

#nav_sidebar {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	width: $nav_sidebar_width;
	
	color: black;
	background-color: black;
	z-index: 10;
	-webkit-filter: drop-shadow( 0px 0px 6px rgba(0,0,0,0.3) );
	filter: drop-shadow( 0px 0px 6px rgba(0,0,0,0.3) );

	h2 {
		font-size: 1rem;
		white-space: nowrap;
	}
	
	ul {
		margin: 0;
		padding: 0;
		list-style: none outside;
	}
	
	li {
		display: block;
		margin: 0.5rem;
		padding: 0.25rem 0.25rem 0.25rem;
		color: black;
		background-color: #ddd;
		border-radius: 0.5rem;
		font-weight: bold;
		font-size: 1.75rem;
		text-align: center;
		cursor: pointer;
		
		&.boerse_btn {
			color: black;
			background-color: $boerse_bgcol;
		}
		&.weisser_btn {
			color: black;
			background-color: white;
		}
	}
}

#sende_zug {
	position: relative;
	display: table;
	min-width: 100px;
	margin: 0;
	padding: 1.5em;
	border-radius: 0 0 0.5rem 0;
	
	color: white;
	background-color: black;
	pointer-events: none;
	
	.top_infos {
		display: flex;
		white-space: nowrap;
	}
	
	.aktionen {
		margin-top: 0.5rem;
		white-space: nowrap;
		
		p a {
			margin-left: 1rem;
			pointer-events: initial;
			cursor: default;
			color: #d8150f;
		}

		button {
			margin-top: 0.75rem;
		}
	}
	
	.button.sym {
		display: inline-block;
		margin-left: 0.5rem;
		vertical-align: middle;
		width: 1.25rem;
		cursor: pointer;
		
		img {
			width: 100%;
		}
	}
}

button {
	margin: 0;
	padding: 0.5rem 1rem;
	border: none;
	border-radius: 0.5rem;
	
	color: white;
	background-color: #36F;
	font-family: Arial, sans-serif;
	pointer-events: auto;
	
	&:disabled {
	}
}
button[disabled] {
	opacity: 0.4 !important;
	
	&:hover {
		 background-color: #36F !important;
	}
}
