@import 'organisator/mixins';
@import 'plan1835/constants';

/* ------------------------------------------ */

/* ------------------------------------------ */

body {
	margin: 0;
	padding: 0;
	background-color: #18a429;
	overflow: hidden;

	--farbeGelb: #FCDB00;
	--farbeGrün: #B9CF00;
	--farbeBraun: #C05B01;

	--farbePR: #000000;
	--farbeBY: #0a85ec;
	--farbeSX: #e60c1c;
	--farbeBA: #743512;
	--farbeWT: #f3f611;
	--farbeHE: #00690c;
	--farbeMS: #2e249e;
	--farbeOL: #a3a5a4;
}

#plan {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: hidden;
}

#plan_view {
	position: absolute;
	top: 0;
	left: $nav_sidebar_width;
	right: 0;
	bottom: 0;
	overflow: auto;
}

/* Extra Stile für integrierte Seiten */

form > select {
	float: right;
	margin-top: 13px;
}

h1 {
	margin: .5em 0 .3em;
	font-size: 1.5em
}

form > h1 > span {
	font-size: 1rem;
	font-weight: normal;
}

form p {
	margin: 0 0 .3em
}

#plan form input[type=checkbox],
#plan form svg,
#plan form a {
	pointer-events: auto !important;
}

#plan form a {
	cursor: default;
}

#gleise > p {
	position: absolute;
	background: #fff;
	padding: 0 3px;
	border-radius: 6px;
}

#meldung,
#wertverlauf {
	position: fixed;
	left: 50%;
	top: 50%;
	z-index: 1;
	background: #eee;
	border-radius: 0.5rem;
	padding: 1.5rem;
	transform: translate(-50%, -50%);
	filter: drop-shadow( 0px 2px 8px rgba( 0,0,0,0.3 ) );
}

#meldung h1 {
	margin: .4em 0px .2em;
	font-size: 1.2em;
}

#meldung h1:first-of-type {
	margin-top: 0;
}

#wertverlauf {
	position: absolute;
	left: initial;
	right: 10px;
	top: 50%;
	height: calc(100% - 20px);
	width: 700px;
	max-width: calc(100% - 418px);
	box-sizing: border-box;
	transform: translateY(-50%);
}

#problemForm,
#installationForm {
	position: fixed;
	z-index: 1;
	left: 50%;
	padding: 1rem;
	transform: translateX( -50% );
	border: 3px solid white;
	border-top: none;
	border-radius: 0 0 0.25rem 0.25rem;
	background: rgba( 255, 255, 255, 0.6 );
}

#problemForm {
	width: 500px;
}

#problemForm label {
	display: flex;
	flex-direction: column;
	margin-top: .6em;
}

#problemForm label:first-of-type {
	margin-top: 0;
}

#problemForm input[type=text] {
	width: initial !important;
	text-align: initial !important;
}

#problemForm button,
#installationForm button {
	margin-top: 1em;
}

#problemForm button:not(:first-of-type) {
	margin-left: .6em;
}

#spielerStop {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 10;
	background: #000;
	text-align: center;
}

#spielerStop > div {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

#spielerStop h1 { color: #fff }
