@import 'organisator/mixins';

/* ------------------------------------------ */

$boerse_bgcol: #faf9bf;

$nav_sidebar_width: 55px;
$boerse_width: 1000px;
$spielerinfo_width: 320px;
$spielerinfo_width_L: 456px;
$spielerinfo_width_XL: 640px;
$logbuch_width: 320px;
$logbuch_width_L: 430px;

/* ------------------------------------------ */

#plan {
	section {
		position: absolute;
		top: 0;
		bottom: 0;
		width: 320px;
		background: #ddd;
		z-index: 0;
		-webkit-filter: drop-shadow( 0px 0px 6px rgba(0,0,0,0.3) );
		filter: drop-shadow( 0px 0px 6px rgba(0,0,0,0.3) );
		
		& > h1 {
			position: absolute;
			box-sizing: border-box;
			height: 30px;
			padding: .5rem .5rem 0;
			border-radius: 0 0 7px 7px;
			user-select: none;
			-moz-user-select: -moz-none;
			font: bold 0.8rem sans-serif;
			transform-origin: top left;
			transform: rotate( -90deg );
			background: #ddd;
			text-align: center;
		}

		.tab_view {
			position: absolute;
			width: 100%;
			height: 100%;
			overflow: auto;
		}
	  }

	#section_boerse {
		left: 100%;
		width: 1000px;
		background-color: $boerse_bgcol;
		transition: left 0.5s ease-in-out, right 0.5s ease-in-out;

		&.open {
			left: initial;
			right: 0;
			max-width: calc(100% - #{$nav_sidebar_width + 35px});
		}

		& > h1 {
			width: 60px;
			top: 0;
			left: -60px;
			border-radius: 7px 7px 0 0;
			background-color: $boerse_bgcol;
			transform-origin: bottom right;
		}

		& > div {
			height: 100%;
			overflow: auto;
		}
	}
	
	#section_logbuch {
		left: -1 * $logbuch_width;
		width: $logbuch_width;
		display: flex;
		flex-direction: column;
		transition: left 0.5s ease-in-out;

		&.open {
			left: $nav_sidebar_width;
			z-index: 1;
		}

		& > h1 {
			width: 95px;
			top: 200px;
			right: -95px;
		}
		
		& > article {
			display: flex;
			flex-direction: column;
			height: 100%;
		}
	}
	
	#section_spielerinfo {
		left: -1 * $spielerinfo_width;
		width: $spielerinfo_width;
		transition: left 0.5s ease-in-out;

		&.open {
			left: $nav_sidebar_width;
			z-index: 1;
		}

		& > h1 {
			width: 90px;
			top: 293px;
			right: -90px;
		}
	}
	
	#section_phasen {
		left: -400px;
		width: 400px;
		background-color: white;
		transition: left 0.5s ease-in-out;

		&.open {
			left: $nav_sidebar_width;
			z-index: 1;
		}

		& > h1 {
			width: 70px;
			top: 366px;
			right: -70px;
			background-color: white;
		}
	}
	
	#section_gleise {
		left: -450px;
		width: 450px;
		background-color: white;
		transition: left 0.5s ease-in-out;

		&.open {
			left: $nav_sidebar_width;
			z-index: 1;
		}

		& > h1 {
			width: 60px;
			top: 429px;
			right: -60px;
			background-color: white;
		}

		#gleise {
  		position: relative;
			display: flex;
			flex-direction: column;
			overflow-y: auto;
			align-items: center;

			img {
				width: 440px;
			}

			#decker_1 {
				position: absolute;
				width: 210px;
				height: 53px;
				right: 0px;
				top: 331px;
				background: white;
			}
		}
	}
}

@media (min-width: $nav_sidebar_width + $boerse_width + $spielerinfo_width_L) {
	#plan #section_spielerinfo {
		left: -1 * $spielerinfo_width_L;
		width: $spielerinfo_width_L;
	}
}

@media (min-width: $nav_sidebar_width + $boerse_width + $spielerinfo_width_XL) {
	#plan #section_spielerinfo {
		left: -1 * $spielerinfo_width_XL;
		width: $spielerinfo_width_XL;
	}
}

@media (min-width: $nav_sidebar_width + $boerse_width + $logbuch_width_L) {
	#plan #section_logbuch {
		left: -1 * $logbuch_width_L;
		width: $logbuch_width_L;
	}
}

