- initially_hidden = false unless defined? initially_hidden
- cancel_action = nil unless defined? cancel_action

= form_for [ @question.container, @question ] do |f|
  - if @question.errors.any?
    #error_explanation
      %h2=t( 'errors.template.header', model: I18n.t( "activerecord.models.question.one" ), count: @question.errors.count )
      %ul
        - @question.errors.messages.each do |message|
          %li=t 'errors.format', message: message.last.first, attribute: I18n.t( "activerecord.attributes.question.#{message.first}" )
        
      
    
  
  .field
    = f.label :status
    = f.select :status, Question::STATUS_OPTIONS
  
  .field
    = f.label :content
    = f.text_field :content, placeholder: 'z.B. Was ist der Zweck?'
  
  .actions
    = cancel_action
    = f.submit
  

