- if @stream.started?
  %h1= @stream.title_text
  %h3 Teilnehmer*innen
- else
  %h1 Dein Chat
  %p
    Du beginnst gerade einen neuen Chat.
    %br
    Bisher hast du
    = @stream.participations.size
    Teilnehmer*innen vorgesehen:
  

= render 'participations/list', participations: @stream.participations

%h3 Mit wem möchtest du noch chatten?

= render 'form', participation: Participation.new

%p Alle da? Dann kannst du den Chat...
.action_buttons
  = button_to 'starten', @stream, method: :patch, params: { stream: { status: 'running' } }, class: 'button'

