// ---------------------------------------------

@font-face {
  font-family: 'SF_Cartoonist_Hand';
  src: asset-url('SF_Cartoonist_Hand-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SF_Cartoonist_Hand';
  src: asset-url( 'SF_Cartoonist_Hand_Bold-webfont.woff' ) format( 'woff' );
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'SF_Cartoonist_Hand';
  src: asset-url( 'SF_Cartoonist_Hand_Italic-webfont.woff' ) format( 'woff' );
  font-weight: normal;
  font-style: italic;
}

