@import 'organisator/colors';
@import 'item_list';

// MIXINS --------------------------------------

@mixin clearfix {
  &::before, &::after {
    content: "";
    display: table;
  }
  
  &::after {
    clear: both;
  }
}

@mixin image_back {
  background-color: $back_col;
}

@mixin text_font {
  font-family: Times, serif;
  font-size: 120%;
  line-height: 1.4;
}

@mixin title_font {
  font-family: Times, serif;
  line-height: 1.2;
}

@mixin button {
  display: inline-block;
  margin-top: 0.25em;
  padding: 0.3rem 0.5rem;
  color: $button_col;
  background-color: $button_bgcol;
  border: none;
  border-radius: 0.25rem;
  
  font-size: 1em;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  
  vertical-align: baseline;
  
  &.danger {
    background-color: $danger_col;
  }
  &.secondary {
    color: $link_col;
    background-color: lighten( $link_col, 50 );
  }
}
