// Place all the styles related to the Newsletters controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'organisator/colors';
@import 'organisator/constants';
@import 'organisator/mixins';

// ---------------------------------------------

.banner {
  padding-bottom: 1.5rem;
  background-image: url( asset_path( "pics/landschaft.jpg" ) );
  background-size: cover;
  text-align: center;
}
@media ( min-width: $more_than_smartphone ) {
  .banner {
    @include clearfix;
  }
}
