// Place all the styles related to the contentpart text picture
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'organisator/colors';
@import 'organisator/constants';
@import 'organisator/mixins';

.contentpart.img {
}
@media ( min-width: $more_than_smartphone ) {
  .contentpart.img {
    padding: 0 1.5rem;
    
    .picture {
      margin: 0;
    }
    .caption {
      padding-left: 1rem;
      padding-right: 1 rem;
    }
  }
}
