// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'organisator/colors';
@import 'organisator/constants';
@import 'organisator/mixins';

// ---------------------------------------------

$caption_bgcol: $dark_paper_col;
$label_col: $light_text_col;
$edit_bgcol: $dark_paper_col;

// ---------------------------------------------

.contentpart {
  margin: 1.5rem 0;
  
  &.file {
    padding: 0rem 1.5rem;
    
    a {
      display: block;
      text-decoration: none;
      
      .pdf_icon {
        float: left;
        width: 5rem;
        margin: 0 0.5rem 1rem -0.5rem;
      }
      .file_info {
        overflow: hidden;
        
        .name {
          overflow: hidden;
          text-decoration: underline;
          text-overflow: ellipsis;
        }
        .info {
          overflow: hidden;
          color: $text_col;
          text-decoration: none;
          text-overflow: ellipsis;
        }
        .description {
          margin: 0;
          padding: 0;
          color: $text_col;
          font-size: 1em
        }
      }
    }
  }
  
  &.info_block {
    display: flex;
    padding: 0 1.5rem;
    align-items: flex-start;
    
    .info_icon {
      flex: 0 0 auto;
      width: 4rem;
      padding-right: 1.5rem;
    }
    
    .info_content {
      padding-left: 1rem;
      border-left: 0.25rem solid $akzent_col;
      font-style: italic;
    }
  }
  
  .caption {
    padding: 0.75rem 1.5rem 1rem;
    background-color: $caption_bgcol;
  }
}

h2.contentpart,
h3.contentpart,
h4.contentpart {
  margin-top: 2em;
}

@media ( min-width: $more_than_smartphone ) {
}

.edit_contentpart {
  margin: 1rem 0;
  padding: 1rem 1.5rem;
  background-color: $edit_bgcol;
  border: none;
  
  label {
    color: $label_col;
  }
  textarea {
    padding: 0 0 0.25rem;
  }
}
