// Place all the styles related to the contentpart audio
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'organisator/colors';
@import 'organisator/constants';
@import 'organisator/mixins';

// ---------------------------------------------

// ---------------------------------------------

.contentpart.video {
  video{
    width: 100%;
  }
}
@media ( min-width: $more_than_smartphone ) {
  .contentpart.video {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    padding-left: 0;
    padding-right: 0;
    border-radius: 0.5rem;
  }
}
