// Place all the styles related to the contentpart text picture
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'organisator/colors';
@import 'organisator/constants';
@import 'organisator/mixins';

.contentpart.p_img {
  .text {
    margin-right: 0.5rem;
    padding: 0 1.5rem;
  }
  .picture {
    margin-top: 1rem;
    img {
      width: 100%;
    }
  }
}
@media ( min-width: $more_than_smartphone ) {
  .contentpart.p_img {
    display: flex;
    justify-content: space-between;
    padding: 0 1.5rem;
    
    .text {
      flex: 1 1 auto;
      margin: 0;
      padding-left: 0;
      padding-right: 1.5rem;
    }
    .picture {
      flex: 0 0 250px;
      margin: 0;
      padding: 0;
      align-self: stretch;
      
      img {
        width: auto;
        max-width: 250px;
      }
    }
  }
}
