@import 'organisator/colors';
@import 'organisator/constants';
@import 'organisator/mixins';

// ---------------------------------------------

.page_pages_datenschutz {  
  ul,
  ol {
    padding: 0 1.5rem 0 3rem;
    
    ul,
    ol {
      padding: 0 0 0 1.5rem;
    }
  }
  ul {
    list-style: square outside;
  }
  
  img.impressum {
    max-width: 18rem;
  }
}
@media ( min-width: $more_than_smartphone ) {
  .page_pages_datenschutz {  
    ul,
    ol {
      padding-left: 3.5rem;
      padding-right: 2rem;
    }
  }
}
