// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'organisator/colors';
@import 'organisator/constants';
@import 'organisator/mixins';

// ---------------------------------------------

$date_col: $text_col;

// ---------------------------------------------

.events_teaser {
  padding: 0.5rem 0;
  
  h2 {
    margin: 0.5rem 0 0;
    padding: 0 1.5rem;
    font-size: 1rem;
    
    .link {
      float: right;
      width: auto;
      font-weight: normal;
    }
  }
  
  .entry_block {
    padding: 0 1.5rem;
  }
  
  .event_entry {
    display: block;
    margin: 0.5rem 0;
    padding: 1rem;
    background-color: $akzent_bgcol;
    border-radius: 1rem;
    
    color: $text_col;
    text-decoration: none;
    
    .time {
      font-size: 1.19 * 1.19rem;
    }
    .title {
      margin-bottom: 0;
      font-weight: bold;
    }
  }
}
@media ( min-width: $more_than_smartphone ) {
  .events_teaser {
    .entry_block {
      display: flex;
    }
    .event_entry {
      flex: 1;
      margin-right: 0.5rem;
      
      &:last-child {
        margin-right: 0;
      }
    }
  }
}
