@import 'organisator/colors';
@import 'organisator/mixins';

// ---------------------------------------------

form {
  @include clearfix;
  margin: 1rem 1.5rem 2rem;
  padding: 0.75rem 1rem;
  border: 2px solid $akzent_col;
  
  &.button_to {
    display: inline-block;
    margin: 0.5rem 0;
    padding: 0;
    border: none;
    
    input[type=text],
    input[type=email],
    input[type=password],
    input[type=submit],
    textarea {
      margin: 0;
    }
  }
  &.button_to > &.button_to {
    margin-left: 0.5rem;
  }
  
  &.inline {
    margin: 1rem 0;
    padding: 0 1.5rem;
    border: none;
    
    input[type=text],
    input[type=email],
    input[type=password],
    textarea {
      background-color: $paper_col;
    }
  }
  
  &.without_border {
    margin: 1rem 0;
    padding: 0;
    border: none;
  }
  
  p,
  h1, h2, h3, h4, h5, h6 {
    padding-left: 0;
    padding-right: 0;
  }
  
  fieldset {
    margin: 1.5rem 0;
    
    legend {
      margin-bottom: 0.5rem;
      @include title_font;
      font-size: 1.19em;
    }
  }
  
  label {
    display: block;
    margin-bottom: 0.25rem;
    
    & + select,
    & + input[type=text],
    & + input[type=email],
    & + input[type=password],
    & + input[type=number] {
      margin-top: 0;
    }
  }
  
  input, select {
    @include text_font;
  }
  input[type=text],
  input[type=email],
  input[type=password],
  input[type=number],
  textarea {
    width: 100%;
    margin: 0.25rem 0;
    padding: 0.25rem 0.5rem;
    background-color: $dark_paper_col;
    border: none;
    border-bottom: 2px solid $akzent_col;
    box-shadow: none;
    @include text_font;
  }
  select {
    margin: 0.25rem 0;
  }
  
  input[type=checkbox] {
    float: left;
    width: auto;
    margin-top: 0.25rem;
  }
  input[type=checkbox] + label,
  .field_with_errors + .field_with_errors > label {
    margin-left: 1.5rem;
  }
  
  input[type=submit] {
    @include button;
    margin: 0.5rem 0 0 0.25rem;
  }
  
  .help {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
    color: $light_text_col;
    font-style: italic;
  }
  
  .field {
    margin: 0 0 1rem;
    
    &.file {
      padding: 0;
    }
    
    &.picture {
      background-color: unset;
      text-align: unset;
    }
  }
  
  .actions {
    @include clearfix;
    text-align: right;
    
    .start_side {
      float: left;
      width: auto;
      
      .button:first-child,
      .sym_button:first-child {
        margin-left: 0;
      }
    }
    
    .button,
    .sym_button {
      margin: 0.5rem 0 0 0.25rem;
    }
  }
  
  #error_explanation {
    h2 {
      margin: 0;
      padding: 0;
      color: $error_col;
    }
    ul {
      margin: 0.5rem 0 1.5rem;
      padding: 0 0 0 1.5em;
      
      li {
        padding: 0;
      }
    }
  }
  
  .field_with_errors * {
    color: $error_col;
  }
  .field_with_errors {
    input[ type=text ],
    input[ type=email ],
    input[ type=password ] {
      border-color: $error_col;
    }
  }
}

.form_actions {
  text-align: right;
}
