// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'organisator/colors';
@import 'organisator/constants';
@import 'organisator/mixins';

// ---------------------------------------------

.funding_detail {
  @include item_detail;
  padding: 0;
  
  .short_infos_block,
  .progress_actions_block,
  .supporters_block,
  .description_block,
  .social_block,
  .support_form_block,
  .rewards_block {
    margin: 2rem 0;
    padding: 0 1.5rem;
    
    .title {
      padding: 0;
    }
  }
  
  .status {
    top: 4rem;
  }
  
  h1.title {
    margin-top: 0.5rem;
  }
  
  .banner_block {
    position: relative;
    
    .banner {
      background-color: black;
      
      img {
        max-width: 100%;
        opacity: 0.75;
      }
    }
    .status {
      top: 2.5rem;
      right: 1rem;
      z-index: 5;
    }
    .text_block {
      position: absolute;
      bottom: 20%;
      width: 100%;
    }
    .title {
      @include title_font;
      color: $paper_col;
      text-align: center;
    }
    .slogan {
      @include title_font;
      width: auto;
      padding: 0;
      margin: 0 1.5rem;
      color: $paper_col;
      background-color: transparent;
      font-size: 1.19rem;
      text-align: center;
    }
  }
  
  .short_infos_block {
    .short_text {
      margin-bottom: 1rem;
    }
    
    .owners_block {
      .label {
        margin: 0.5rem 0;
        text-align: center;
      }
      
      .row {
        @include clearfix;
        width: fit-content;
        margin: 0 auto;
        
        .owner {
          display: block;
          float: left;
          width: 2.5rem;
          height: 2.5rem;
          margin-right: 0.5rem;
          background-color: $dark_paper_col;
          border-radius: 0.25rem;
          overflow: hidden;
          
          .picture {
            width: 100%;
            
            img {
              width: 100%;
              background-color: $dark_paper_col;
            }
          }
        }
      }
    }
  }
  
  .progress_actions_block {
    .progress_block {
      .label {
        margin: 0.5rem 0;
        padding: 0 0.75rem;
      }
      
      .progress_graph {
        position: relative;
        background-color: $akzent_2_bgcol;
        border-radius: 1rem;
        
        .progress_bar {
          @include title_font;
          padding: 0.25rem 0.75rem;
          background-color: $akzent_2_col;
          border-top-left-radius: 1rem;
          border-bottom-left-radius: 1rem;
          
          font-size: 1.19 * 1.19rem;
          font-weight: bold;
          white-space: nowrap;
          
          &.big {
            color: $paper_col;
          }
        }
        
        .goal_indicator {
          position: absolute;
          top: -0.3rem;
          left: 85%;
          height: 2.75rem;
          border: 0.25rem solid $akzent_col;
          border-radius: 0.5rem;
          z-index: 10;
        }
      }
      
      .row {
        display: flex;
        margin: 1rem 0;
        padding: 0 0.75rem;
        
        .label {
          flex: 1 auto;
          margin: 0;
          padding: 0;
          
          &.end {
            text-align: right;
          }
        }
      }
    }
    
    .share_buttons {
      margin-top: 2rem;
      
      .button {
        width: 100%;
        padding: 0.5rem 1rem;
        text-align: center;
        
        &.main {
          background-color: $akzent_2_col;
        }
      }
      .row {
        display: flex;
        margin-top: 0.25rem;
        
        .button {
          flex: 1 auto;
          color: $akzent_col;
          background-color: $akzent_bgcol;
        }
      }
    }
  }
  
  .supporters_block {
    text-align: center;
  }
  
  .funding_subnavi_block {
    width: 100%;
    padding-top: 2rem;
    background: linear-gradient( to bottom, $paper_col, $akzent_bgcol 50%, $akzent_bgcol );
    border-bottom: 3px solid $paper_col;
    overflow-x: auto;
    overflow-y: hidden;
    
    .funding_subnavi {
      padding: 0 1.5rem;
      white-space: nowrap;
      
      .tab {
        display: inline-block;
        padding: 0.5rem 0.25rem 0.25rem;
        border-left: 5px solid $akzent_bgcol;
        border-right: 5px solid $akzent_bgcol;
        border-bottom: 5px solid $akzent_bgcol;
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
        font-size: 1.19rem;
        font-weight: bold;
        text-decoration: none;
        
        &.active {
          padding: 0.5rem 1rem 0.25rem;
          background-color: $paper_col;
          border-bottom: 5px solid $paper_col;
        }
      }
    }
  }
  
  .video_block {
    min-height: 12rem;
    background-color: $dark_paper_col;
    text-align: center;
    
    .video {
      padding: 4rem;
    }
  }
  
  .description_block {
    .project_details {
      .label {
        padding: 0;
      }
      
      .row {
        display: flex;
        
        .from,
        .to {
          flex: 1 auto;
          
          strong {
            font-size: 1.19 * 1.19rem;
          }
        }
      }
    }
    
    #project_description {
      .description {
        display: none;
        @include text_font;
        padding: 0;
        font-style: normal;
      }
      .faq_block {
        display: none;
        
        .action_buttons {
          padding-left: 0;
          padding-right: 0;
        }
      }
      
      &.toggled_open {
        .description,
        .faq_block {
          display: block;
        }
      }
    }
  }
  
  .support_form_block {
    .support_form {
      margin: 0;
      padding: 1.5rem;
      border-radius: 0.5rem;
    }
  }
}
@media ( min-width: $more_than_smartphone ) {
  .funding_detail {
    .picture {
      margin: 0;
    }
  }
}
