// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'organisator/colors';
@import 'organisator/constants';
@import 'organisator/mixins';

// ---------------------------------------------

.funding_detail {
  .rewards_block {
    
    .action_buttons {
      padding-left: 0;
      padding-right: 0;
    }
  }
}
