@import 'organisator/colors';
@import 'organisator/constants';
@import 'organisator/mixins';

// ---------------------------------------------

.main_menu {
  display: none;
  position: fixed;
  top: 0;
  width: 100%;
  padding-top: $header_logo_height + 2rem;
  z-index: 10;
  
  background-color: $menu_bgcol;
  box-shadow: 0px 1px 8px 0px $shade_50;
  
  &.active {
    display: block;
  }
  &.with_sub {
    bottom: 0;
    overflow-y: auto;
  }
  
  ul {
    display: inline-block;
    list-style: none;
    margin: 0 auto;
    padding: 0 1.5rem 0.5rem;
    
    font-size: 1.19rem;
  }
  
  ul.nav {
    
    li {
      float: left;
      margin: 0;
      margin-right: 1.5rem;
      margin-bottom: 0.5rem;
      
      a {
        display: block;
        padding: 0.5rem 0 0;
        color: $menu_link_col;
        border-bottom: 3px solid transparent;
        
        font-weight: bold;
        text-decoration: none;
        white-space: nowrap;
        
        &:hover {
          border-bottom: 3px solid;
        }
        
        &.sym_link {
          img {
            margin-top: 0.25rem;
            display: block;
            height: 1rem;
          }
        }
      }
      &.selected > a,
      &.active > a {
        border-bottom: 3px solid;
      }
      &.dangerous > a {
        color: $danger_col;
      }
    }
    
    &.with_sub {
      li {
        @include clearfix;
        float: none;
        width: auto;
        
        a {
          display: inline-block;
        }
        
        ul.sub_nav {
          position: relative;
          display: none;
          padding: 0.5rem 0.5rem 0.5rem 1.5rem;
          z-index: 10;
          
          font-size: 1rem;
          
          &:hover {
            display: block;
          }
        }
        &:hover ul.sub_nav {
          display: block;
        }
      }
    }
  }
}
@media (min-width: $more_than_smartphone) {
  .main_menu {
    padding-top: 7rem;
  }
}
@media (min-width: $min_width_plus_menu) {
  .main_menu {
    display: block;
    position: absolute;
    top: $header_logo_height * 1.5 + 6rem;
    right: 1.5rem;
    padding-top: 1rem;
    background-color: $header_bgcol;
    box-shadow: unset;
    
    text-align: right;
    
    overflow-x: hidden;
    
    ul.nav {
      padding: 0;
      
      li {
        @include clearfix;
        float: none;
        width: auto;
        
        a {
          display: inline-block;
        }
      }
      
      &.with_sub {
        li {
          ul.sub_nav {
            padding: 0.5rem 1rem 0.5rem 0.5rem;
            li {
              margin-right: 0;
            }
          }
        }
      }
    }
  }
}
