@import 'organisator/colors';
@import 'organisator/constants';
@import 'organisator/mixins';

// ---------------------------------------------

#header {
  min-height: $header_min_height;
  @include clearfix;
  background-color: $header_bgcol;
}
@media (min-width: $min_width_plus_menu) {
  #header {
    min-height: unset;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: $menu_width;
    z-index: 10;
    box-shadow: inset -12px 0px 8px -8px $shade_10;
    text-align: right;
  }
}

.header_logo {
  @include clearfix;
  position: relative;
  display: block;
  float: left;
  width: auto;
  margin: 0.75rem 1rem 0.75rem 1.5rem;
  z-index: 20;
  overflow: hidden;
  color: $paper_col;
  
  font-size: 1.19 * 1.19 * 1.19rem;
  font-weight: bold;
  text-decoration: none;
  
  .logo_img {
    display: block;
    float: left;
    width: auto;
    height: $header_logo_height;
    margin-right: 1rem;
    border-radius: 0.25rem;
    vertical-align: baseline;
  }
  
  .logo_text {
    display: block;
    float: left;
    width: auto;
    margin-top: $header_logo_height / 6;
  }
}
@media (min-width: $more_than_smartphone) {
  .header_logo {
    margin: 1rem 3rem 1rem 1.5rem;
    
    font-size: 1.19 * 1.19 * 1.19rem;
    
    .logo_img {
      height: $header_logo_height * 1.25;
    }
    
    .logo_text {
      margin-top: $header_logo_height / 4 * 1.25;
    }
  }
}
@media (min-width: $min_width_plus_menu) {
  .header_logo {
    float: right;
    height: unset;
    margin: 2rem 3rem 1.5rem 2rem;
    text-align: right;
    
    .logo_img {
      display: inline-block;
      float: none;
      height: $header_logo_height * 1.5;
      margin-right: 0;
      margin-bottom: 0.25rem;
      text-align: right;
    }
    .logo_text {
      float: none;
      margin-top: 0;
      text-align: right;
    }
  }
}

.menu_button {
  position: fixed;
  right: 0.75rem;
  top: 0.75rem;
  width: 2rem;
  height: 2rem;
  padding: 0.5rem;
  z-index: 30;
  
  background-color: $menu_button_bgcol;
  border-radius: 3rem;
  box-shadow: 0px 1px 8px 0px $shade_20;
  
  font-size: 1rem;
  
  img {
    height: 100%;
    vertical-align: top;
  }
}
@media (min-width: $min_width_plus_menu) {
  .menu_button {
    display: none;
  }
}
