// Place all the styles related to the Newsletters controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'organisator/colors';
@import 'organisator/constants';
@import 'organisator/mixins';

// ---------------------------------------------

$application_bgcol: $light_green_col;
$message_bgcol: $green_col;

// ---------------------------------------------

.messages_list {
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: $akzent_bgcol;
  list-style: none outside;
  
  li {
    border-top: 1px solid $border_col;
    
    &:first-child {
      border-top: none;
    }
    
    &.separator {
      padding: 0.25rem 1.5rem;
      background-color: $akzent_bgcol;
      font-style: italic;
    }
  }
  
  .message_preview {
    @include clearfix;
    display: block;
    width: 100%;
    padding: 0.5rem 1rem 0.5rem 1.5rem;
    
    overflow: hidden;
    
    color: $text_col;
    text-decoration: none;
    
    .datum {
      float: right;
      width: auto;
    }
    
    .label {
      flex: 1 1 auto;
      overflow: hidden;
      
      .email {
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .name {
      }
    }
    
    .content {
      margin: 0.5rem 0 0.5rem;
    }
  }
}
@media ( min-width: $more_than_smartphone ) {
  .messages_list {
    margin-bottom: 0;
    padding: 0 1.5rem;
    
    li:last-child {
      border-bottom: none;
    }
    
    .message_preview {
      padding-left: 0;
      padding-right: 0;
    }
  }
}

.message_page {
  
}

.message_details {
  @include clearfix;
  position: relative;
  background-color: $akzent_bgcol;
  
  .status {
    top: 0rem;
    color: $text_col;
    background-color: $application_bgcol;
    
    &.accepted,
    &.member {
      color: $paper_col;
      background-color: $message_bgcol;
    }
  }
}

