// Place all the styles related to the Decisions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'organisator/colors';
@import 'organisator/constants';
@import 'organisator/mixins';

// ---------------------------------------------

$card_list_bgcol: $akzent_bgcol;

// ---------------------------------------------

.proposals_list {
  margin: 0;
  padding: 0;
  background-color: $card_list_bgcol;
  border-top: darken( $akzent_bgcol, 15 ) 1px solid;
  
  list-style: none;
  list-style-position: outside;
  
  &.selected {
    background-color: $akzent_2_bgcol;
    border-top: darken( $akzent_2_bgcol, 15 ) 1px solid;
    
    .proposal_card .selection_result {
      background-color: $green_col;
    }
  }
  
  li {
    padding: 0 0.5rem 0.5rem;
    
    &:first-child {
      padding-top: 0.5rem;
    }
    
    .proposal_card {
      padding: 1rem;
      background-color: $paper_col;
      border-radius: 0.5rem;
      
      .title {
        color: $akzent_col;
        @include title_font;
        font-size: 1.19rem;
        font-weight: bold;
        line-height: 1.2;
        
        .number {
          @include text_font;
          color: $text_col;
          font-size: 0.86 * 0.86em;
          margin-bottom: 0.25em;
        }
      }
      
      .description {
        margin: 1rem 0;
        font-size: 1rem;
      }
      
      .voting_section {
        margin-top: 1rem;
        
        .label {
          display: inline-block;
          color: $light_text_col;
        }
      }
      
      form {
        margin: 0;
        padding: 0;
        border: 0;
      }
      
      .selection_result {
        display: inline-block;
        margin-top: 0.5rem;
        padding: 0.1rem 0.75rem;
        color: $paper_col;
        background-color: $akzent_col;
        border-radius: 1rem;
      }
    }
  }
}

.proposal_form_block {
  padding: 0.5rem 0.5rem 1.5rem;
  background-color: $card_list_bgcol;
  
  .proposal_button {
    display: block;
    color: $light_text_col;
    text-align: center;
    text-decoration: none;
    
    .round {
      width: 4rem;
      height: 4rem;
      padding: 0.25rem;
      border-radius: 2rem;
      
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
  
  .new_proposal {
    margin: 0 0 0.5rem;
    border-style: dotted;
    border-width: 3px;
    border-radius: 0.5rem;
  }
  
  .actions {
    .toggler_text {
      margin-top: 0.85rem;
      color: $link_col;
      font-weight: bold;
    }
  }
}

.proposal_detail {
  @include item_detail;
  padding-bottom: 1rem;
  
  .title,
  .result,
  .voting_section {
    padding: 0 1.5rem;
  }
  
  .title {
    color: $akzent_col;
    @include title_font;
    font-size: 1.19 * 1.19rem;
    font-weight: bold;
    line-height: 1.2;
    
    .number {
      @include text_font;
      color: $text_col;
      font-size: 0.86 * 0.86em;
      margin-bottom: 0.25em;
    }
  }
  
  .description {
    font-style: normal;
    font-size: 1rem;
  }
  
  .result {
    margin: 1rem 0;
    padding: 0 1.5rem;
    font-size: 1.19rem;
  }
}
