// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'organisator/colors';
@import 'organisator/constants';
@import 'organisator/mixins';

// ---------------------------------------------

@media ( min-width: $more_than_smartphone ) {
  .page_statistics_current_requests #body {
    max-width: 96%;
  }
}

.statistic_detail {
  margin: 1rem 0;
  
  .request_statistics {
    padding: 0 1.5rem;
    overflow: hidden;
    
    table {
      width: 20rem;
      overflow: hidden;
      
      thead {
        background-color: $akzent_bgcol;
        
        th {
          padding: 0 0.25rem;
          text-align: left;
          font-weight: normal;
          font-style: italic;
          
          &.number {
            text-align: right;
          }
        }
      }
      
      td {
        padding: 0 0.25rem;
        
        .preview_text {
          width: 50%;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        
        &.number {
          text-align: right;
        }
        &.positive {
          color: $green_col;
        }
        &.negative {
          color: $danger_col;
        }
      }
    }
  }
}