// Place all the styles related to the Streams controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'organisator/colors';
@import 'organisator/constants';
@import 'organisator/mixins';

// ---------------------------------------------


// ---------------------------------------------

.streams_list {
  @include item_list;
  
  .stream_preview {
    .description {
      margin-top: 0;
      font-style: normal;
    }
  }
}

