// Place all the styles related to the Newsletters controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'organisator/colors';
@import 'organisator/constants';
@import 'organisator/mixins';

// ---------------------------------------------

$border_col: darken( $akzent_bgcol, 10 );

// ---------------------------------------------

.tabs_block {
  margin-bottom: -2px;
  overflow-x: auto;
  
  .tabs_block_scroller {
    @include clearfix;
    list-style: none outside;
    padding: 0 1.5rem;
    white-space: nowrap;
    
    .tab {
      display: inline-block;
      padding: 0.25em 0.75em 0.25em;
      border: 2px solid white;
      border-bottom-color: $border_col;
      border-top-left-radius: 0.5em;
      border-top-right-radius: 0.5em;
      
      &.active {
        background-color: $akzent_bgcol;
        border-color: $border_col;
        border-bottom-color: $akzent_bgcol;
        text-decoration: none;
      }
      
      &:last-child {
        margin-right: 1.5rem;
      }
    }
  }
}

.tab_view {
  @include clearfix;
  background-color: $akzent_bgcol;
  border-top: 2px solid $border_col;
}
