.small_content
  - if @code.blank?
    %h1 Sorry
    %p
      Dieser Code ist falsch.
      %br
      Bitte nochmals genau nachdenken und prüfen.
    
    %p
      = link_to 'nochmal...', quest_url
    
  - else
    %h1 Glückwunsch!
    %p
      Du hast das Rätsel richtig gelöst.
      %br
      Hier geht es nun weiter...
    
    %p
      = link_to 'Weiter', @code.url
    
  

