.small_content
  %p
    = form_for @code, url: 'quest/code' do |f|
      .field
        = f.label :input, 'Code Eingabe'
        = f.text_field :input, placeholder: 'Was du herausgefunden hast...'
      
      .actions
        = f.submit 'Prüfen'
      
    
  

