= form_for @membership do |f|
  - if @membership.errors.any?
    #error_explanation
      %h2= I18n.t( 'errors.template.header', model: I18n.t( "activerecord.models.membership.one" ), count: @membership.errors.count )
      %ul
        - @membership.errors.messages.each do |message|
          %li= I18n.t 'errors.format', message: message.last.first, attribute: I18n.t( "activerecord.attributes.membership.#{message.first}" )
        
      
    
  
  .field
    = f.label :gender
    = f.select :gender, Membership.t_gender_select
  
  .field
    = f.label :birth_on
    = f.date_select :birth_on, start_year: 1935, end_year: ( Time.zone.now - 12.years ).year
  
  %fieldset
    %legend Adresse
    
    .field
      = f.label :street
      = f.text_field :street
    
    .field
      = f.label :housenr
      = f.text_field :housenr
    
    .field
      = f.label :plz
      = f.text_field :plz
    
    .field
      = f.label :city
      = f.text_field :city
    
  
  %fieldset
    %legend Mitgliedsbeitrag
    
    .field
      = f.label :fee_amount
      = f.text_field :fee_amount
    
    .field
      = f.label :fee_period
      = f.select :fee_period, Membership.t_period_select
    
    .field
      = f.label :fee_mode
      = f.select :fee_mode, Membership.t_mode_select, {}, data: { sel: '#fee_mode_sepa' }
    
    #fee_mode_sepa{ class: h_fee_mode_class, data: { action: 'select_shows', which: '#membership_fee_mode', values: 'direct_debit' } }
      .field
        = f.label :account_owner
        = f.text_field :account_owner
      
      .field
        = f.label :iban
        = f.text_field :iban
      
    
    .field
      = f.label :fee_check_at
      = f.date_select :fee_check_at, include_blank: true
    
  
  %fieldset
    - if @membership.member?
      %legend Mitgliedschaft
    - else
      %legend Aufnahme
    
    
    .field
      = f.label :other_memberships
      = f.text_area :other_memberships
    
    .field
      = f.label :recommendation
      = f.text_field :recommendation
    
    .field
      = f.label :phone_nr
      = f.text_field :phone_nr
    
    .field
      - if @membership.member?
        = f.label :starts_at, 'Mitglied seit'
      - elsif @membership.accepted?
        = f.label :starts_at, 'Angenommen seit'
      - else
        = f.label :starts_at, 'Antrag gestellt am'
      
      = f.date_select :starts_at
    
    .field
      = f.label :ends_at
      = f.date_select :ends_at, include_blank: true
    
  
  .actions
    = f.submit class: 'button main'
  

