- h_title 'Mitgliedschaft bearbeiten'
- h_description( h_page_description_for 'memberships/edit' )
- cancel_action = capture do
  = link_to 'Abbrechen', @membership, class: 'button'

- # --------------------------------------------

%h1 Mitgliedschaft bearbeiten

= render 'form', cancel_action: cancel_action

