- h_page_title 'Anmelden'
- h_description 'Komm herein... bitte melde dich an oder registriere dich neu.'
- # --------------------------------------------

%h2
  Komm herein...

%p.form_explanation
  Bitte melde dich an
  %br
  oder
  = link_to 'registriere dich neu', check_accounts_path

= form_tag do
  .field
    = label_tag :login
    = text_field_tag :login, params[ :login ], placeholder: 'lisa.muster@organisator.org'
  
  .field
    = password_field_tag :password, params[ :password ], placeholder: 'Kennwort'
  
  .actions.clearfix
    = link_to 'Password vergessen?', request_password_accounts_path
    = submit_tag 'Login', |
          class: 'button float-right'
    
  

