- container = nil unless defined? container
- is_editable = false unless defined? is_editable

.page_content{ data: { editable: is_editable ? 'edit' : 'false' } }
  = render container.contentparts, is_editable: is_editable
  
  - if is_editable
    .action_buttons
      - new_contentpart = container.contentparts.build
      - cancel_action = capture do
        = link_to image_tag( 'sym/cross_w100.svg' ), "#", data: { action: 'show_hide', sel: "#new_contentpart_button, #edit_#{new_contentpart.iid}" }, class: 'sym_button'
      
      = link_to image_tag( 'sym/plus_w100.svg' ), '#new_contentpart', id: 'new_contentpart_button', class: 'sym_button', data: { action: 'show_hide', sel: "#new_contentpart_button, #edit_#{new_contentpart.iid}" }, title: 'Neuen Inhalt hinzufügen'
      %br
      = render 'contentparts/form', contentpart: new_contentpart, initially_hidden: true, cancel_action: cancel_action
    
  

