= link_to admin_account_path( account ), class: 'preview account_preview', id: account.token do
  - if account.has_picture?
    = render 'general/picture_thumb', entity: account
  - else
    .picture= image_tag 'default_user.jpg'
  
  .status= account.status
  
  .next_arrow
    = image_tag 'sym/angle_right_s25.svg'
  
  .title{ class: account.displayname.blank? ? 'blank' : '' }
    = account.displayname.blank? ?account.name_text : account.displayname
  
  .label= account.label

