.account_details
  .status{ class: @account.status }
    = account.status
  
  - if account.has_picture?
    = render 'general/picture_preview', entity: account
  - else
    .picture= image_tag 'default_user.jpg'
  
  
  %h4 Login
  %p
    Token:
    %strong= account.token
    %br
    Login:
    %strong= account.login
  
  %h4 Profilinfos
  %p
    Anzeigename:
    %strong= account.displayname
    %br
    Funktion:
    %strong= account.label
  
  %h4 Beschreibung
  %p= account.description

