- h_title 'Accounts'
- h_description( h_page_description_for 'accounts' )

%h1 Accounts / Profile
%p
  Alle Menschen, die einen Account für die Website eingerichtet haben.

- if false #h_is_editor?
  %p
    = link_to 'Neuer Account', new_account_path, class: 'button'
  

%ul.letters_list
  %li= link_to 'Alle', admin_accounts_path
  - Account::STATUS_OPTIONS.each do |status|
    %li= link_to Account.human_attribute_name( "status.#{status}" ), admin_accounts_path( status: status )
  

- if @status_selected.blank?
  .list_title= pluralize Account.count, 'Account', locale: :en
  %ul.info_list
    - Account::STATUS_OPTIONS.each do |status|
      %li
        = Account.human_attribute_name( "status.#{status}" ) + ':'
        = pluralize Account.where( status: status ).count, 'Account', locale: :en
      
    
  
- else
  %ul.accounts_list.admin
    - @accounts.each do |account|
      %li= render 'preview', account: account
    
  

