- result_proposal = decision.winning_proposals
- other_proposals = decision.proposals.reject { |p| p == result_proposal }.sort_by { |p| p.votes_value }

%section.result_section
  - if result_proposal
    %header
      Ergebnis der Abstimmung
    
    .proposal_detail
      .title
        .number
          Vorschlag
          %strong= result_proposal.position
        
        = result_proposal.title
      
      .description= h_format result_proposal.description
      .result Vorschlag mit geringstem Widerstand
      = render 'proposals/result_scale', proposal: result_proposal
      
    
  
  #proposals_list
    - if result_proposal
      %header.list_title
        Die
        = other_proposals.count
        weiteren Vorschläge
      
    
    %ul.proposals_list
      - other_proposals.each do |proposal|
        = render 'proposals/preview', proposal: proposal
      
    
  

