- h_page_title @decision.title
- h_description truncate( strip_tags( @decision.description ), length: 250 )

%article.decision_detail
  - unless @decision.published?
    .status= @decision.status
  
  %h1.title= @decision.title
  
  .action_buttons
    - if h_decision_editable?
      = link_to image_tag( 'sym/pencil_w100.svg' ),
            edit_decision_path( @decision ),
            class: 'sym_button', title: 'Entscheidung ändern'
      = link_to image_tag( 'sym/bin_w100.svg' ),
            @decision, method: :delete,
            class: 'sym_button', title: 'Entscheidung löschen'
    
  
  .variant
    via
    %strong= Decision.human_attribute_name( "variant.#{@decision.variant}" )
    - if @decision.is_selection?
      %br
      %strong
        = @decision.vote_count
        Stimmen
      
      - if @decision.done?
        waren
      - else
        sind
      
      zu vergeben
    
  
  .description= h_format @decision.description
  
  - if @decision.done?
    .date
      %strong
        Abgestimmt am
        =l @decision.end_voting_at, format: :very_short_day_time
      
    
  - else
    .date
      Vorschläge bis
      =l @decision.end_proposals_at, format: :very_short_day_time
    
    .date
      Abstimmen bis
      =l @decision.end_voting_at, format: :very_short_day_time
    
  
  = render 'infos', decision: @decision

- if @decision.proposing?
  %section.explanation_section
    %h3 Vorschlagsphase
    %p
      Diese Abstimmung befindet sich in der Vorschlagsphase.
      %br
      Es werden (weitere) Vorschläge gesammelt, die die Fragestellung beantworten könnten und über die später abgestimmt werden soll.
    
    %p
      Mit der Plus-Taste ganz unten können neue Vorschläge eingereicht werden.
    
  

- if @decision.show_results?
  - if @decision.is_selection?
    = render 'decisions/selection_section', decision: @decision
  - else
    = render 'decisions/result_section', decision: @decision
  
- else
  = render 'decisions/proposals_section', decision: @decision

