<script setup>
	import { computed } from "vue"
	
	const props = defineProps(["ag"])
	
	const stil = computed( () => {
		const stil = "background-position: "
		switch (props.ag) {
			case "PR": return stil + "-325px -333px"
			case "BY": return stil + "-305px -367px"
			case "SX": return stil + "-324px -398px"
			case "BA": return stil + "-285px -333px"
			case "WT": return stil + "-266px -369px"
			case "HE": return stil + "-287px -400px"
			case "MS": return stil + "-246px -335px"
			case "OL": return stil + "-248px -401px"
		}
	} )
</script>

<template>
	<div class="chip" :style="stil"></div>
</template>

<style scoped>
	div.chip {
		position: absolute;
		width: 37px;
		height: 37px;
		background-image: url(../1835/img/gelb.jpg);
		border-radius: 18.5px;
	}
</style>