<script setup>
	import { computed } from "vue"
	import { BAHNEN } from "../config.js"
	
	const boerseTab = document.querySelector("section:nth-of-type(1) > h1")
	const infoTab = document.querySelector("section:nth-of-type(3) > h1")
	
	const props = defineProps(["was", "kurs"])

	const istPreussen = computed( () => props.was.startsWith("PR") )
	const doppelAktie = computed( () => props.was.endsWith(2) )
	const doppelStrich = computed( () => istPreussen.value ? false : doppelAktie.value )
	const farbe = computed( () => {
		const farbe = `var(--farbe${props.was.slice(0,2)})`
		return "fill: " + farbe + "; stroke: " + farbe
	} )
	const name_1 = computed( () => BAHNEN[props.was.slice(0,2)].split(' ')[0] )
	const name_2 = computed( () => BAHNEN[props.was.slice(0,2)].split(' ')[1].split('-')[0] )
	const name_3 = computed( () => BAHNEN[props.was.slice(0,2)].split(' ')[1].split('-')[1])
	const dreispaltig = computed( () => props.was.slice(0,2) === 'MS' )
	const wert = computed( () => {
		const wert = props.was.endsWith(2) ? 2 * props.kurs : props.kurs
		return props.was.startsWith("PR") ? wert / 2 : wert
	} )
	const anteilProzent = computed( () => {
		const anteilP = doppelAktie.value ? 20 : 10
		return istPreussen.value ? anteilP / 2 : anteilP
	} )
</script>

<template>
  <svg class="aktie_karte"
      data-component="Aktie"
      :data-was="was"
      version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
    	viewBox="0 0 100 70" enable-background="new 0 0 100 70" xml:space="preserve">
    <defs>
      <clipPath id="logo_border">
        <path d="M1,1 l99,0 a49 86 0 0 1 -99,0 z" />
      </clipPath>
    </defs>
    
    <rect class="test_bg_box" x="0" y="0" width="100" height="70" />
    
    <g class="card">
      <path d="M1,6 a5 5 0 0 1 5,-5 l88,0 a5 5 0 0 1 5,5 l0,58 a5 5 0 0 1 -5,5 l-88,0 a5 5 0 0 1 -5,-5 l0,-58z" />
    </g>
    
    <g class="bars">
      <rect x="8" y="1" width="6" height="68" :style="farbe" />
      <line x1="17" y1="1" x2="17" y2="69" :style="farbe + '; ' + ( istPreussen && !doppelAktie ? `stroke-dasharray: 2` : `` )" />
      <line v-if="doppelStrich" x1="21" y1="1" x2="21" y2="69" :style="farbe" />
    </g>
    
    <g class="logo" :transform="'translate(' + (doppelStrich ? 45 : 43) + ' 5) scale(0.25 0.25)'">
      <g id="logo" clip-path="url(#logo_border)">
        <path d="M1,1 l99,0 a49 86 0 0 1 -99,0 z" :style="farbe" />
        <text x="8" y="74" :style="istPreussen ? `fill: white` : ``">{{was[0]}}</text>
        <text x="92" y="48" class="secondary" :style="istPreussen ? `fill: #bbbbbb` : ``">{{was[1]}}</text>
      </g>
    </g>
    
    <g class="labels">
      <text v-if="kurs" x="93" y="13" class="small end">{{wert}}M</text>
      
      <text :x="doppelStrich ? 59 : 57" :y="dreispaltig ? 37 : 39">{{name_1}}</text>
      <text :x="doppelStrich ? 59 : 57" :y="dreispaltig ? 45 : 48">{{name_2}}</text>
      <text v-if="dreispaltig"
            :x="doppelStrich ? 59 : 57"
            y="53">{{name_3}}</text>
      
      <text x="93" y="64" dx="1" class="big end">{{anteilProzent}}%</text>
      
      <text x="20" y="64" class="tiny start">AKTIE</text>
    </g>
    
    <g class="card_border">
      <path class="border" d="M1,6 a5 5 0 0 1 5,-5 l88,0 a5 5 0 0 1 5,5 l0,58 a5 5 0 0 1 -5,5 l-88,0 a5 5 0 0 1 -5,-5 l0,-58z" />
    </g>
  </svg>
</template>

<style scoped>
	svg.aktie_karte {
		direction: ltr;
	}
	
	.test_bg_box {
		fill: none;
	}
	
	path {
		stroke: #333333;
		stroke-width: 1;
		fill: none;
	}
	text {
		fill: black;
		stroke: none;
		font-size: 9px;
		font-weight: bold;
		text-anchor: middle;
	}
	
	.big {
	font-size: 11px;
	}
	.small {
	font-size: 8px;
	}
	.tiny {
		font-family: sans-serif;
		font-size: 7px;
		stroke-width: 3;
		stroke: rgb(255, 255, 255);
		paint-order: stroke;
	}
	.start {
		text-anchor: start;
	}
	.end {
		text-anchor: end;
	}
	
	.card path {
		stroke: none;
		stroke-width: 0.5;
		fill: white;
	}
	.card path.section {
		stroke: none;
		fill: #dddddd;
	}
	.card_border path {
		stroke: black;
		stroke-width: 0.5;
		fill: none;
	}
	
	.bars rect {
		fill: #4499ff;
	}
	.bars line {
		stroke-width: 2;
	}
	
	.logo path {
		fill: #4499ff;
		stroke: none;
	}
	.logo text {
		font-size: 100px;
		font-weight: normal;
		text-anchor: start;
	}
	.logo text.secondary {
		fill: white;
		font-size: 60px;
		text-anchor: end;
	}
</style>
