<script setup>
	import { ref } from "vue"
	
	const ags = ref(null)
	const x = ref(0)
	const y = ref(0)
	const element = ref(null)
	
	let beiAuswahl = null
	
	function stil(i, n) {
		let r = 40
		if (n > 6) {
			i = ((2 * i + 1) / n + 1) * Math.PI
			r = 5.686 * n + 5.4
		} else
			i -= n / 2 - .5
		return `position: absolute; left: ${Math.sin(i) * r}px; top: ${Math.cos(i) * -r}px`
	}
	
	function beiLosDraussen() {
		ags.value = null
		document.removeEventListener("mouseup", beiLosDraussen )
	}
	
	function zeig(dAgs, dX, dY, funk) {
		ags.value = dAgs
		x.value = dX
		y.value = dY
		beiAuswahl = funk
		document.addEventListener("mouseup", beiLosDraussen )
	}
	
	function beiLos(ag) {
		beiAuswahl(ag)
		beiLosDraussen()
	}
	
	defineExpose({ zeig })
	
	document.addEventListener("touchend", event => {
		if (event.touches.length > 0)
			return

		const touch = event.changedTouches[0]
		const target = document.elementFromPoint(touch.clientX, touch.clientY)
		if (!element.value.hasChildNodes(target))
			return

		const newEvent = document.createEvent("MouseEvents")
		newEvent.initMouseEvent("mouseup", true, true, window, 0, touch.screenX, touch.screenY, touch.clientX, touch.clientY,
		                        event.ctrlKey, event.altKey, event.shiftKey, event.metaKey, 0, null)
		newEvent.originalType = event.type
		target.dispatchEvent(newEvent)
	} )
</script>

<template>
	<div v-show="ags" ref="element" :style="`left: ${x}px; top: ${y}px`">
		<div v-for="(n, i) of ags" @mouseup="beiLos(n)" :style="stil(i, ags.length)">
			<AgMarker :ag="n" />
		</div>
	</div>
</template>

<style scoped>
	div {
		position:absolute;
		z-index: 1;
	}
</style>