<script setup>
	import { reactive } from "vue"
	import { BHF_VORLAGE } from "../config.js"

	import Fuellung from "./Fuellung.vue"

	const props = defineProps(["bahn"])
	const vorlagen = reactive(BHF_VORLAGE)
</script>

<template>
	<g>
		<Fuellung :id="bahn" :vorlagen prefix="b" />
		<!--use href="#kreis" :fill="`url(#b${bahn})`" -->
		<circle r="18" :fill="`url(#b${bahn})`" />
	</g>
</template>

<style scoped>
	g.vorläufig circle {
		opacity: .6
	}
	
	g.blockt circle {
		filter: grayscale(1) brightness(.7)
	}
</style>