<script setup>
	import { computed } from "vue"
	import { SCHLESIEN } from "../config.js"

	const props = defineProps(["x", "y", "baubar", "gleisRest", "bhfX", "bhfY", "geld", "beiAuswahl"])
	
	const trafo = computed( () => `translate(${props.x} ${props.y})` )
	const bhfTrafo = computed( () => `translate(${props.bhfX} ${props.bhfY})`)
	const links = computed( () => props.x < 0 )
	const rechts = computed( () => !SCHLESIEN && (props.x > 864) )
</script>

<template>
	<g :transform="trafo">
		<polygon points="0,27 0,81 47,108 94,81 94,27 47,0" />
		<path d="M 0,81 A 27,27 0 0 1 0,27" fill="rgba(210, 21, 14, 0.8)" :class="{ amRand: links }" @click="beiAuswahl()" />
		<path v-show="baubar" d="M 94,27 A 27,27 0 0 1 94,81" fill="rgba(18, 134, 32, 0.8)"
		      :class="{ amRand: rechts }" @click="beiAuswahl(true)" />
		<text v-show="gleisRest >= 0" x="90" y="42" style="stroke-width: 0; text-anchor: end">{{gleisRest}}</text>
		<g v-show="bhfX" :transform="bhfTrafo">
			<circle r="18" />
			<text v-show="geld" y="35">{{geld}} M</text>
		</g>
	</g>
</template>

<style scoped>
	text {
		font-size: 20px;
		fill: #d8150f
	}
	
	circle + text {
		paint-order: stroke;
		stroke: #fff;
		stroke-width: 4px
	}
	
	polygon,
	circle {
		fill: none;
		stroke: #d8150f;
		stroke-width: 2px
	}
	
	path {
		stroke: none
	}
	
	path,
	circle {
		pointer-events: auto
	}
	
	path.amRand {
		transform-origin: 47px 54px;
		transform: rotate(-120deg);
	}
</style>