<script>
	import { reactive } from "vue"
	const _neuGleisData = reactive({ feld: null, i: 0, w: 0, s: 0 })
	const neuBhfData = reactive({ feld: null, n: -1, geld: 0 })
	const _ziehWerte = reactive({ x: 0, y: 0, w: 0, letzterS: 0 })
</script>

<script setup>
	import { getCurrentInstance, reactive, ref, computed } from "vue"
	import { GLEIS_VORLAGE, GLEIS_REIHEN, BHF_VORLAGE } from "../config.js"
	import { nutzStand } from "../src/Stand.js"
	import { Verteiler } from "../src/Verteiler.js"
	
	import Gleis from "./Gleis.vue"
	
	const props = defineProps(["data", "dran", "svg", "netz", "kannNürnbergFürthBauen", "kannOstbayernBauen", "kannPfalzBauen",
	                           "setzSpurZurück", "gibSonderBauStatus"])
	const emit = defineEmits(["bauGleis", "zeigBauAuswahl", "auswahlInfo", "zieh", "fahrSpur", "löschAuswahl", "setzBhf", "bauBhf"])
	defineExpose({ x, y, nachbarn, setzNeuZurück, istStreckeFrei, gibHaltTyp, gibBhfAusgänge, gibAusgänge, gibNachbarRichtung, strecken, löschSpur,
	               posX, posY, gleicht, findNächstenBhf, spur, letzteSpur, wert, phase })

	const stand = nutzStand()

	const selbst = getCurrentInstance().ctx

	const MITTE_X = 47
	const MITTE_Y = 54
	const nachbarn = ref({})
	const ziehWerte = ref(null)
	const spur = ref([])
	const letzteSpur = ref([])
	const x = computed( () => props.data.x )
	const y = computed( () => props.data.y )
	
	const gleis = computed( () => {
		const data = o.gleisData || props.data.gleis
		return (data && data.i && Object.assign({}, data, GLEIS_VORLAGE[data.i])) || data
	} )
	const phase = computed( () => {
		let phase
		const gleis = o.gleis
		if (gleis)
			phase = gleis.i ? GLEIS_VORLAGE[gleis.i].bild : gleis.phase
		else
			phase = props.data.phase
		return isNaN(phase) ? -1 : phase
	} )
	const gleisRest = computed( () => o.neuGleisData && o.neuGleisData.fremd ? 0 : stand.gibGleisRest(_neuGleisData.i) )
	const gefahren = computed( () => stand.aktionen.some( a => a.fährt ) )
	const aktiv = computed( () => {
		return props.dran && (stand.fährt || o.gefahren
		                     || ((o.phase < 2) && kannGleisBauen() && stand.aktionen.every( a => {
			return !a.bhf || (a.bhf.bahn !== props.dran) || ((props.dran === "BA") && (a.bhf.x === 2) && (a.bhf.y === 11))
		} )))
		       && ((props.dran === "admin") || !o.gefahren
		           || (stand.aktionen.find( a => a.fährt ).fährt.length < (stand.ags[props.dran] || stand.vorPR[props.dran[1] - 1]).loks.length))
		       && stand.aktionen.every( a => !a.lok )
	} )
	const anschlussVons = computed( () => props.netz[o.x + "," + o.y] )
	const gleisBaubar = computed( () => {
		if (!o.neuGleisData)
			return true
		if (o.gleisRest <= 0)
			return false
		for (let n = 0; n < 6; ++n) { // erlaubte Verbindungen prüfen
			const nachbar = o.nachbarn[n]
			if (nachbar) {
				if (nachbar.phase === 2) {
					if (nachbar.strecken.some( s => ( s.includes((n + 3) % 6) )))
						continue
				} else
					continue
			}
			if (!o.strecken.some( s => s.includes(n) ) // bestehende Strecke
			    && GLEIS_VORLAGE[_neuGleisData.i].strecken.some( s => s.includes((n + 6 - _neuGleisData.w) % 6) ))
				return false
		}
		return !o.gleisData
		       || GLEIS_VORLAGE[_neuGleisData.i].strecken.some( s => s.some( e => o.anschlussVons.includes((e + _neuGleisData.w) % 6) ) )
	} )
	const reihe = computed( () => (!o.gleis && GLEIS_REIHEN[props.data.typ || 0]) || o.gleis.reihe )
	// Sonderzug Baden wählt Heimatbahnhof
	const bautBadenHeimatbahnhof = computed( () => stand.extra && stand.extra.slice(-1).some( a => a.gleis && (a.gleis.x === 2) && (a.gleis.y === 11) ) )
	const offen = computed( () => {
		if (o.anschlussVons) {
			if (stand.fährt || o.gefahren)
				return o.bhfData || o.strecken.some( s => s.some( e => o.anschlussVons.includes(e) ) )
			return (o.phase < stand.phase) && o.gleisBaubar && o.reihe
			       && !o.bautBadenHeimatbahnhof && kannGleisBauen(true)
		}
	} )
	const gleisData = computed( () => stand.gleise.find( g => !g.fremd && (g.x === o.x) && (g.y === o.y) ) )
	const neuGleisData = computed( () => (gleicht(_neuGleisData.feld) && _neuGleisData)
	                                     || stand.gleise.find( g => g.fremd && (g.x === o.x) && (g.y === o.y) ) )
	const bhfData = computed( () => {
		const x = o.x
		const y = o.y
		const bhfe = []
		for (let bhf of stand.bhfe)
			if ((bhf.x === x) && (bhf.y === y))
				bhfe[bhf.n] = { bahn: bhf.bahn, fremd: bhf.fremd }

		// Stuttgart für Württemberg markieren, wenn Gleis gebaut, aber kein Bahnhof
		if ((x === 4) && (y === 12) && o.gleisData && (props.dran !== "WT") && bhfe.every( b => b.bahn !== "WT" ))
			bhfe.push({ bahn: "WT", blockt: true })
		return bhfe.length ? bhfe : null
	} )
	const gleisBhfe = computed( () => {
		if (!gleicht(neuBhfData.feld))
			return o.bhfData
		const bhfe = o.bhfData ? o.bhfData.concat() : []
		bhfe[neuBhfData.n] = { bahn: props.dran, vorläufig: true }
		return bhfe
	} )
	const posX = computed( () => o.x * 96 - (o.y % 2 ? 0 : 48) )
	const posY = computed( () => o.y * 83 )
	const trafo = computed( () => `translate(${o.posX} ${o.posY})` )
	const kurzeSpur = computed( () => o.letzteSpur.filter( s => s[0] < 0 ) )
	const kurze = computed( () => o.spur.filter( s => s[0] < 0 ) )
	const geradeSpur = computed( () => o.letzteSpur.filter( s => (s[0] >= 0) && (s[1] - s[0] === 3) ) )
	const geraden = computed( () => o.spur.filter( s => (s[0] >= 0) && (s[1] - s[0] === 3) ) )
	const bogenSpur = computed( () => o.letzteSpur.filter( s => (s[0] >= 0) && ((s[1] - s[0] === 2) || ((s[0] < 2) && (s[0] + 6 - s[1] === 2))) ) )
	const bogen = computed( () => o.spur.filter( s => (s[0] >= 0) && ((s[1] - s[0] === 2) || ((s[0] < 2) && (s[0] + 6 - s[1] === 2))) ) )
	const kurveSpur = computed( () => o.letzteSpur.filter( s => (s[0] >= 0) && ((s[1] - s[0] === 1) || ((s[0] === 0) && (6 - s[1] === 1))) ) )
	const kurven = computed( () => o.spur.filter( s => (s[0] >= 0) && ((s[1] - s[0] === 1) || ((s[0] === 0) && (6 - s[1] === 1))) ) )
	const wert = computed( () => {
	// gibWert(spur) { TODO umwandeln?
		const gleis = (o.neuGleisData && o.neuGleisData.fremd && GLEIS_VORLAGE[o.neuGleisData.i]) || o.gleis
		const wert = gleis.geld // Wert des Gleises
		if (Array.isArray(wert)) {
			if (typeof wert[0] === "number") // Ausland
				return wert[stand.phase]
			return gleis.strecken[wert.findIndex( w => w )].some( e => o.spur.some( s => s.includes(e) ) ) ? 10 : 0 // Koblenz
		}

		const spur = o.spur.at(-1) // TODO löschen
		if (spur) {
			const x = o.x
			const y = o.y
			if ((x === 6) && (y === 2) && (spur[0] === 2) && (spur[1] === 4) // Schwerin
			    && ((props.dran !== "MS") || (stand.neueSpur.length && !stand.neueSpur.hatSchwerinAngefahren)
				    || (!stand.neueSpur.length && !stand.fahrstrecken.some( f => f[3].includes("+")))))
				return 0
			// if ((x === 3) && (y === 2) && (spur.reduce( (r, s) => r += 3 - s.length , 0) < 2)
			    // && (spur.some( e => (e === 3) || (e === 4) ))) // über Oldenburg
				// return 0
			if ((x === 5) && (y === 2) && (((spur[1] === 5) && [2, 3, 4].includes(spur[0]))
			                               || ([0, 1].includes(spur[0]) && [2, 3, 4].includes(spur[1])))) // Elbfähre
				return 50
		}
		return wert === true ? 10 : wert
	} )
	const wertX = computed( () => (o.x === 10) && (o.y === 7) ? -6 : MITTE_X )
	const wertY = computed( () => (o.x === 10) && (o.y === 7) ? 116 : MITTE_Y + 7 )
	const streckenBhf = computed( () => o.gleis && o.gleis.streckenBhf )
	const baubareBhfe = computed( () => {
		if (stand.fährt || o.gefahren || stand.aktionen.some( a => a.lok ))
			return
		const x = o.x
		const y = o.y
		if (((x === 6) && (y === 2)) // Schwerin
		    || ((x === 2) && (y === 3))) // Oldenburg
			return
		const bahn = props.dran
		if (bahn) {
			const istPfalz = (x === 2) && (y === 11)
			if (!istPfalz && o.bautBadenHeimatbahnhof)
				return
			const bhfePlätze = o.strecken.length && ((!o.gleisData && props.data.gleis && props.data.gleis.bhfe)
			                                         || (o.gleis && o.gleis.bhfe))
			if (bhfePlätze) {
				const bhfe = o.gleisBhfe
				const streckenBhf = o.streckenBhf
				if (!bhfe || bhfe.every( b => (streckenBhf && b.vorläufig) || (b.bahn !== bahn) )) {
					const vons = o.anschlussVons
					const istAufnahme = bahn === "admin"
					const rest = istAufnahme ? Number.MAX_VALUE : stand.aktionen.some( a => a.bhf && !a.bhf.extra )
					                                              ? 0 : stand.gibBhfRest(bahn)
					const kannNürnbergFürthBauen = (x === 6) && (y === 11) && (istAufnahme || props.kannNürnbergFürthBauen)
					const kannPfalzBauen = istPfalz && (istAufnahme || (bahn === "BA") || props.kannPfalzBauen)
					if (((vons && rest) || kannNürnbergFürthBauen || kannPfalzBauen) && !o.neuGleisData)
						return bhfePlätze.map( (b, i) => (!bhfe || !bhfe[i]) && ((x !== 3) || (y !== 9) || (i !== 0)) // Hessenstartbahnhof aussparen
						                                 && (kannNürnbergFürthBauen || kannPfalzBauen || !streckenBhf
						                                     || o.strecken[i].some( e => vons.includes(e) )) && b )
				}
			}
		}
	} )
	const bhfStil = computed( () => props.dran && (props.dran !== "admin") ? `stroke: var(--farbe${props.dran})` : "stroke: #000" )
	const strecken = computed( () => {
		const gleis = o.gleis
		if (!gleis || !gleis.strecken)
			return []
		const w = gleis.w
		return gleis.strecken.map( s => s.map( e => e < 0 ? e : (e + w) % 6 ) )
	} )
	const drehStil = computed( () => {
		if (stand.fährt || o.gefahren || !o.ziehWerte)
			return
		const bounds = props.svg.getBoundingClientRect()
		return { transform: `translate(${_ziehWerte.x - props.svg.parentElement.scrollLeft - 51 - bounds.x}px,
		                     ${_ziehWerte.y - props.svg.parentElement.scrollTop - 51 - bounds.bottom}px)
		                     rotate(${_ziehWerte.w}deg)` }
	} )
	const halte = computed( () => {
		const halte = o.ziehWerte && _ziehWerte.halte
		if (halte !== undefined) {
			const typ = stand.neueSpur.typ
			return halte.length ? `${halte[0] + Math.max(0, halte[1] - typ[0])}/${typ[0]} + ${Math.min(halte[1], typ[0])}/${typ[0]}`
			                    : `${halte}/${typ}`
		}
	} )
	const halteStil = computed( () => ({ left: _ziehWerte.x + "px", top: `${_ziehWerte.y - 50}px` }) )
	const o = reactive({ gleisData, gleis, neuGleisData, gefahren, phase, x, y, gleisRest, nachbarn, strecken, anschlussVons, bhfData, gleisBaubar, reihe,
	                     streckenBhf, bautBadenHeimatbahnhof, posX, posY, letzteSpur, spur, gleisBhfe, ziehWerte })

	function gibBhfX(bhf) {
		return Math.cos((2 * o.gleis.w + bhf[0]) * Math.PI / 6) * bhf[1] + MITTE_X
	}

	function gibBhfY(bhf) {
		return Math.sin((2 * o.gleis.w + bhf[0]) * Math.PI / 6) * bhf[1] + MITTE_Y
	}

	function kannGleisBauen(offen) {
		if (stand.dran === "admin")
			return true
		const gebauteGleiszahl = stand.aktionen.filter( a => a.gleis && !a.gleis.extra ).length
		if (!gebauteGleiszahl || ((gebauteGleiszahl < 2) && (stand.phase < 1) && stand.ags[stand.dran]))
			return true
		if (offen) {
			const x = o.x
			const y = o.y
			return (((x === 2) && (y === 11) && props.kannPfalzBauen)
			        || (((x === 7) || (x === 8)) && (y === 12) && props.kannOstbayernBauen))
			       && stand.aktionen.every( a => !a.gleis || (a.gleis.x !== x) || (a.gleis.y !== y) )
		}
		return (props.kannPfalzBauen && !stand.gleise.filter( g => (g.x === 2) && (g.y === 11) ).length)
		       || (props.kannOstbayernBauen && (stand.gleise.filter( g => ((g.x === 7) || (g.x === 8)) && (g.y === 12) ).length < 2))
	}

	function gibSpurTrafo(g) {
		let w 
		if (g[0] < 0)
			w = (g[1] + 2) % 6
		else if (g[1] - g[0] === 3)
			w = (g[0] + 2) % 3
		else if (g[1] - g[0] === 2)
			w = (g[0] + 4) % 6
		else if ((g[0] < 2) && (g[0] + 6 - g[1] === 2))
			w = (g[0] + 2) % 6
		else if (g[1] - g[0] === 1)
			w = (g[0] + 3) % 6
		else if ((g[0] === 0) && (6 - g[1] === 1))
			w = (g[0] + 2) % 6
		return w ? `transform: rotate(${60 * w}deg)` : ""
	}

	function gibBhfAusgänge(bahn) {
		const teile = o.strecken
		if (!teile.length)
			return []
		if (o.streckenBhf) {
			const teil = teile[o.bhfData.findIndex( b => b && (b.bahn === bahn) )]
			return teil[0] < 0 ? [teil[1]] : teil
		}
		return teile.reduce( (r, t) => {
			if (!r.includes(t[1]))
				r.push(t[1])
			return r
		} , [teile[0][0]])
	}

	function istStreckeFrei(bahn, index) {
		const bhfData = o.bhfData
		return !bhfData || bhfData.some( b => b.blockt )
			    || (o.streckenBhf && (!bhfData[index] || (bhfData[index].bahn === bahn)))
			    || (!o.streckenBhf && ((bhfData.reduce( (r, b) => b ? r + 1 : r , 0) !== o.gleis.bhfe.length)
			                              || bhfData.some( b => b.bahn === bahn )))
			    || ((o.x === 6) && (o.y === 2) && (index === 2))
	}

	function gibAusgänge(bahn, von) {
		return o.strecken.reduce( (r, teil, index) => {
			const i = teil.findIndex( e => e === von )
			if ((i >= 0) && (teil[i ? 0 : 1] >= 0) && istStreckeFrei(bahn, index)) // wenn kein Bahnhof blockiert
				r.push(teil[i ? 0 : 1])
			return r
		} , [])
	}

	function setzNächteGleisData(schritt, dataI, dataW) {
		const reihe = o.reihe
		const versatz = Math.floor(reihe.length / 2)
		let pos = schritt + versatz
		let vons = o.anschlussVons
		const amStart = !vons.length || (vons[0] === -1)
		const strecken = o.strecken
		let rundum
		if (amStart) {
			if (strecken.length)
				vons = [strecken[0][1]]
			else
				rundum = true
		}
		
		let i
		let w
		let id
		const schritte = (rundum ? 6 : vons.length) * reihe.length
		for (let j = 0; j < schritte; ++j) {
			i = pos % reihe.length
			if (i < 0)
				i += reihe.length
			pos = pos % schritte
			if (pos < 0)
				pos += schritte
			let von = rundum ? Math.floor(pos / reihe.length) : vons[Math.floor(pos / reihe.length)]
			if (strecken.length)
				w = (reihe[i][1] + o.gleis.w) % 6
			else {
				w = rundum ? Math.floor(pos / reihe.length) % 6 : von
				if (w < 0)
					w += 6
				w = (reihe[i][1] + w + 3) % 6
			}
			
			id = reihe[i][0]
			von = (von + 6 - w) % 6
			if (!strecken.length || (reihe.length === 1)
			    || GLEIS_VORLAGE[id].strecken.some(s => s.some(a => von === a))) { // Strecke hat Anschluss
				Object.assign(_neuGleisData, { i: id, w: w, s: pos - versatz })
				const nach = (von + 3) % 6
				if ((dataI && (dataI === id) && (dataW === w)) // gleiches Gleis liegt schon
				    || (!amStart && !dataI && strecken && !GLEIS_VORLAGE[id].strecken.some(s => s.some(a => nach === a))))
					    // geradeaus initial bevorzugen
					pos += Math.sign(schritt) || 1
				else {
					_neuGleisData.s = pos - versatz
					return
				}
			} else
				pos += Math.sign(schritt) || 1
		}
	}

	function beiBauGleis(bau) {
		if (bau)
			emit("bauGleis", selbst, { x: o.x, y: o.y, i: _neuGleisData.i, w: _neuGleisData.w },
			     o.gleisData || (props.dran === "admin") ? undefined : props.data.geld)
		else
			Verteiler.sendeGleisWeg()
		_neuGleisData.feld = null
	}

	function setzNeuZurück(ganz) {
		if (_neuGleisData.feld && (ganz || !gleicht(_neuGleisData.feld))) {
			Verteiler.sendeGleisWeg()
			_neuGleisData.feld = null
		}
		if (neuBhfData.feld) {
			Verteiler.sendeBhfWeg()
			neuBhfData.feld = null
		}
	}

	function gleicht(feld) {
		return feld && (selbst.$.uid === feld.$.uid)
	}

	function beiDrück(event) {
		o.ziehWerte = Object.assign(_ziehWerte, { x: event.pageX, y: event.pageY, w: 0, letzterS: 0 })
		if (stand.fährt) {
			props.setzSpurZurück()
			stand.neueSpur.push(selbst)
		} else if (!o.gefahren) {
			setzNeuZurück()
			if (o.neuGleisData) {
				setzNächteGleisData(_neuGleisData.s, _neuGleisData.i)
				Verteiler.sendeGleisAnders({ x: o.x, y: o.y, i: _neuGleisData.i, w: _neuGleisData.w })
			} else {
				_neuGleisData.feld = selbst
				setzNächteGleisData(0)
				Verteiler.sendeGleisNeu({ x: o.x, y: o.y, i: _neuGleisData.i, w: _neuGleisData.w })
			}
			emit("zeigBauAuswahl", o.posX, o.posY, 0, 0, 0, beiBauGleis)
			emit("auswahlInfo", o.gleisBaubar, o.gleisRest)
		}
	}

	function löschSpur(von, nach) {
		if (isNaN(von))
			return o.spur.pop()
		else
			o.spur.splice(o.spur.findIndex( s => !s[2] && (s[0] === von) && (s[1] === nach) ), 1)
	}

	function gibHaltTyp(vonFeld) { // TODO auf von Richtung umstellen?
		const gleis = o.gleis
		const geld = gleis && gleis.geld
		if (vonFeld && Array.isArray(geld) && (typeof geld[0] !== "number")) {
			const nachbar = Object.entries(o.nachbarn).find( e => e[1].gleicht(vonFeld) )
			if (nachbar && geld[o.strecken.findIndex( s => s.includes(Number(nachbar[0])) )] === true)
				return 1
		} else if (geld === true)
			return 1
		else if (geld)
			return 2
		return 0
	}

	/**
	 * Verfolgt mögliche Strecken bis zum nächsten Halt und liefert ..
	 * @param {Array<Feld>} geprüfte 
	 * @returns {Feld} Das nächste Feld mit einem eigenen Bahnhof oder null
	 */
	function findNächstenBhf(geprüfte) {
		if (geprüfte.some( f => gleicht(f) ))
			return null
		geprüfte.push(selbst)
		const vons = o.anschlussVons
		if (vons[0] < 0)
			return selbst
		if (gibHaltTyp())
			return null
		for (let v of vons)
			return o.nachbarn[v].findNächstenBhf(geprüfte)
	}

	function gibNachbarRichtung(feld) {
		return Number(Object.entries(o.nachbarn).find( n => n[1].gleicht(feld) )[0])
	}

	function emitFahrAuswahl(weg, halte) {
		emit("zeigBauAuswahl", o.posX, o.posY, 0, 0, 0, beiFahrSpur)
		emit("auswahlInfo", weg.some( f => f.bhfData && f.bhfData.some( b => b.bahn === props.dran ) )
		                    && ((halte.length && (halte[0] + halte[1] > 1)) || (halte > 1)))
	}

	function beiRein() {
		if (stand.fährt) { // Fahrstrecke ziehen
			const weg = stand.neueSpur
			const letztesFeld = weg.at(-1)
			let halte = _ziehWerte.halte
			if (halte === undefined) {
				const vonFeld = (letztesFeld.x === 1) && (letztesFeld.y === 9) ? selbst : null // Spezialfall Köln süd
				if (weg.typ.length > 1) {
					switch (letztesFeld.gibHaltTyp(vonFeld)) {
						case 1: halte = [0, 1]; break
						case 2: halte = [1, 0]; break
						default: halte = [0, 0]
					}
				} else
					halte = letztesFeld.gibHaltTyp(vonFeld) ? 1 : 0
			}
			let weiter = true
			let von
			let nach
			const strecke = letztesFeld.strecken.find( s => s.some( e => {
				if ((e < 0) || !gleicht(letztesFeld.nachbarn[e]))
					return false
				if ((weg.length > 1) && (gleicht(weg[weg.length - 2]))) { // Weg zurück bauen
					const data = [[o.x, o.y]]
					const spur = löschSpur()
					if (spur[0] >= 0) {
						const neu = [-1, spur[(spur[0] === (e + 3) % 6) ? 1 : 0]]
						o.spur.push(neu)
						data.push([o.x, o.y, neu])
					}
					weg.pop().löschSpur()
					data.push([letztesFeld.x, letztesFeld.y])
					weiter = false
					
					if ((props.dran !== "MS") && (o.x === 6) && (o.y === 2) && ((e === 1) || (e === 5))) // Spezialfall Schwerin
						halte.length ? ++halte[0] : ++halte
					if (halte.length) { // Halte anpassen
						switch (letztesFeld.gibHaltTyp(selbst)) {
							case 1: --halte[1]; break
							case 2: --halte[0]
						}
					} else if (letztesFeld.gibHaltTyp(selbst)) {
						if (weg.mitSchwerin && letztesFeld.bhfData && letztesFeld.bhfData.some( b => b.bahn === "MS"))
							weg.hatSchwerinAngefahren = true
						else
							--halte
					}
					if (weg.length > 1)
						emitFahrAuswahl(weg, halte)
					else
						emit("löschAuswahl")
					Verteiler.sendeFahrstrecke(data)
				} else
					nach = (e + 3) % 6
				von = e
				return true
			} ) )
			if (strecke && weiter && o.strecken.some( s => s.includes(nach) )
			    && o.spur.every( s => (s.length > 2) || !s.includes(nach) ) // bereits gefahrene Strecken sperren
			    && (!gibHaltTyp(letztesFeld) || weg.every( f => !gleicht(f) ) // Halt nicht doppelt anfahren
			        || (o.streckenBhf && (!gleicht(weg[0]) || (o.x !== 9) || (o.y !== 4)) // Berlin sperren
			            && o.strecken.some( s => s.includes(nach) && !s.includes(weg[0].gibNachbarRichtung(weg[1])) )))) { // Mehrfachhalte erlauben
				const alteHalte = halte.length ? halte.concat() : halte
				if ((letztesFeld.x === 6) && (letztesFeld.y === 2) && ((von === 2) || (von === 4))) { // Spezialfall Schwerin
					if (props.dran === "MS")
						weg.hatSchwerinAngefahren = weg.mitSchwerin = true
					else
						halte.length ? --halte[0] : --halte
				}
				if (halte.length) { // Halte anpassen
					switch (gibHaltTyp(letztesFeld)) {
						case 1: ++halte[1]; break
						case 2: ++halte[0]
					}
				} else if (gibHaltTyp(letztesFeld)) {
					if (weg.hatSchwerinAngefahren && o.bhfData && o.bhfData.some( b => b.bahn === "MS"))
						delete weg.hatSchwerinAngefahren
					else
						++halte
				}
				const typ = weg.typ
				if ((!halte.length && (halte <= typ))
				    || ((halte[0] + Math.max(0, halte[1] - typ[0]) <= typ[0]) && (Math.min(halte[1], typ[0]) <= typ[0]))) {
					let letzteStrecke = true
					const letzteSpur = letztesFeld.spur
					if (weg.length > 1) {
						const nach2 = letzteSpur.at(-1)[1]
						const index = letztesFeld.strecken.findIndex( s => {
							return ((s[0] === von) && (s[1] === nach2)) || ((s[0] === nach2) && (s[1] === von))
						} )
						letzteStrecke = letztesFeld.istStreckeFrei(props.dran, index) ? letztesFeld.strecken[index] : null
					}
					if (letzteStrecke) {
						const data = []
						if (weg.length > 1) {
							letzteSpur.pop()
							data.push([letztesFeld.x, letztesFeld.y])
							const neu = [letzteStrecke[0], letzteStrecke[1]].sort()
							letzteSpur.push(neu)
							data.push([letztesFeld.x, letztesFeld.y, neu])
						} else {
							letzteSpur.push([-1, von])
							data.push([letztesFeld.x, letztesFeld.y, [-1, von]])
						}
						o.spur.push([-1, nach])
						data.push([o.x, o.y, [-1, nach]])
						weg.push(selbst)
						emitFahrAuswahl(weg, halte)
						Verteiler.sendeFahrstrecke(data)
					}
				} else
					halte = alteHalte
			}
			_ziehWerte.halte = halte // bereits angefahrene Halte anzeigen
		}
	}

	function beiFahrSpur(fährt) {
		const neueSpur = stand.neueSpur
		const spur = [neueSpur.typ]
		let verlauf = ""
		let von
		let geld = 0
		neueSpur.forEach( (f, i) => {
			if (i > 0)
				verlauf += Object.entries(von.nachbarn).find( n => n[1].gleicht(f) )[0]
			else
				spur.push(f.x, f.y)
			if (f.gibHaltTyp(von)) {
				geld += f.wert
				if (neueSpur.hatSchwerinAngefahren && (f.x === 6) && (f.y === 2)) // Schwerin
					verlauf += "+"
			}
			von = f
		} )
		spur.push(verlauf, geld)
		emit("fahrSpur", fährt && spur)
	}

	function beiZieh(event) {
		if (_ziehWerte) {
			if (stand.fährt)
				Object.assign(_ziehWerte, { x: event.pageX, y: event.pageY })
			else if (!isNaN(event.angle)) { // neues Gleis drehen
				_ziehWerte.w = Math.floor(event.angle * 180 / Math.PI)
				const s = Math.trunc(_ziehWerte.w / 20)
				if (s !== _ziehWerte.letzterS) {
					setzNächteGleisData(_neuGleisData.s + s - _ziehWerte.letzterS, _neuGleisData.i, _neuGleisData.w)
					emit("auswahlInfo", o.gleisBaubar, o.gleisRest)
					Verteiler.sendeGleisAnders({ x: o.x, y: o.y, i: _neuGleisData.i, w: _neuGleisData.w })
					_ziehWerte.letzterS = s
				}
			}
		}
	}

	function beiLos() {
		delete _ziehWerte.halte
		o.ziehWerte = null
	}
	function beiDrückBhf(event, n) {
		if (props.dran === "admin") {
			const bounds = event.target.getBoundingClientRect()
			const x = o.x
			const y = o.y
			const istNüFü = (x === 6) && (y === 11)
			const istPfalz = (x === 2) && (y === 11)
			emit("setzBhf", Object.keys(stand.ags).filter( name =>
				stand.ags[name].betrieb && stand.bhfe.every( b => (b.x != x) || (b.y != y) || (b.bahn != name) )
				&& (istNüFü || istPfalz || stand.gibBhfRest(name))
			), bounds.x, bounds.y, { x: x, y: y, n: n }, selbst)
		}
	}

	function beiBauBhf(bau) {
		if (bau)
			emit("bauBhf", selbst, { x: o.x, y: o.y, bahn: props.dran, n: neuBhfData.n }, neuBhfData.geld)
		else
			Verteiler.sendeBhfWeg()
		neuBhfData.feld = null
	}

	function beiKlickBhf(n, bhf) {
		if (props.dran !== "admin") {
			setzNeuZurück()
			neuBhfData.feld = selbst
			neuBhfData.n = n
			let x = o.x
			let y = o.y
			const sonderBauStatus = props.gibSonderBauStatus(x, y, o.strecken[n])
			let geld = 0
			if (sonderBauStatus < 2) {
				const ziel = BHF_VORLAGE[props.dran].start
				while (ziel[1] !== y) {
					geld += 20
					if (ziel[0] < x)
						x += y % 2 ? 0 : -1
					else if (ziel[0] > x)
						x += y % 2 ? 1 : 0
					y += ziel[1] < y ? -1 : 1
				}
				geld += Math.abs(ziel[0] - x) * 20
				if (geld)
					neuBhfData.geld = sonderBauStatus < 1 ? geld : -geld
			} else if ((props.dran !== "BA") || (x !== 2) || (y !== 11))
				neuBhfData.geld = Number.NEGATIVE_INFINITY
			emit("zeigBauAuswahl", o.posX, o.posY, gibBhfX(bhf), gibBhfY(bhf),
			      sonderBauStatus < 2 ? sonderBauStatus < 1 ? geld : "- / " + geld : undefined, beiBauBhf )
			Verteiler.sendeBhfNeu({ x: o.x, y: o.y, bahn: props.dran, n: n })
		}
	}
</script>

<template>
	<g :transform="trafo" :class="{ aktiv: aktiv, offen: offen, bedienbar: !gleisBaubar }">
		<Gleis v-if="gleisData || gleisBhfe" :id="gleisData && gleisData.i"
		       :winkel="gleisData ? gleisData.w : data.gleis && data.gleis.w"
		       :bhfPlätze="!gleisData && data.gleis && data.gleis.bhfe" :bhfe="!neuGleisData && gleisBhfe" />
		<Gleis v-if="neuGleisData" :id="neuGleisData.i" :winkel="neuGleisData.w" :bhfe="bhfData" class="vorläufig" />
		<polygon points="0,27 0,81 47,108 94,81 94,27 47,0"
		         v-drag="{ start: beiDrück, drag: beiZieh, end: beiLos, data: 'spur', accepts: d => d === 'spur', enter: beiRein }" />
		<path d="M 22,29 l 50,50 m 0,-50 l -50,50" />
		<line v-for="g in geradeSpur" x1="0" y1="54" x2="94" y2="54" class="letzte" :style="gibSpurTrafo(g)" />
		<path v-for="b in bogenSpur" d="m 0,54 a 80,80 0,0,1 70,43" class="letzte" :style="gibSpurTrafo(b)" />
		<path v-for="k in kurveSpur" d="m 0,54 a 28,28 0,0,1 24,40" class="letzte" :style="gibSpurTrafo(k)" />
		<line v-for="k in kurzeSpur" x1="0" y1="54" x2="18" y2="54" class="letzte" :style="gibSpurTrafo(k)" />
		<line v-for="g in geraden" x1="0" y1="54" x2="94" y2="54" :style="gibSpurTrafo(g)" />
		<path v-for="b in bogen" d="m 0,54 a 80,80 0,0,1 70,43" :style="gibSpurTrafo(b)" />
		<path v-for="k in kurven" d="m 0,54 a 28,28 0,0,1 24,40" :style="gibSpurTrafo(k)" />
		<line v-for="k in kurze" x1="0" y1="54" x2="18" y2="54" :style="gibSpurTrafo(k)" />
		<text v-if="spur.some( s => !s[2] ) && wert" :x="wertX" :y="wertY">{{wert}}</text>
		<template v-for="(b, i) in baubareBhfe">
			<template v-if="b">
				<circle v-if="stand.runde < 0" :cx="gibBhfX(b)" :cy="gibBhfY(b)" r="15" fill="#fff" stroke-width="2"
						:style="bhfStil" @mousedown.prevent="beiDrückBhf($event, i)" @touchstart.prevent="beiDrückBhf($event, i)" />
				<circle v-else :cx="gibBhfX(b)" :cy="gibBhfY(b)" r="15" fill="#fff" stroke-width="2"
						:style="bhfStil" @click.prevent="beiKlickBhf(i, b)" />
			</template>
		</template>
		<text v-if="gleisData && data.name" x="47" y="32" class="name">{{data.name}}</text>
		<!-- <Teleport to="#plan_view" v-if="drehStil"> -->
		<Teleport to="#plan" v-if="drehStil">
			<svg id="dreher" viewBox="-2 -2 104 104" width="104" :style="drehStil">
				<g>
					<path d="M 97,32.9 A 50,50 0 1 0 97,67.1" style="stroke: #000; stroke-width: 3px; fill: none" />
					<polygon points="5,0 10,10 0,10" transform="translate(94.1,60) rotate(20)" />
					<polygon points="5,0 10,10 0,10" transform="translate(103.6,37) rotate(160)" />
				</g>
			</svg>
		</Teleport>
		<foreignObject v-if="ziehWerte">
			<!-- <Teleport to="#plan"> -->
			<Teleport to="#plan">
				<div :style="halteStil">{{halte}}</div>
			</Teleport>
		</foreignObject>
	</g>
</template>

<style scoped>
	g > polygon {
		display: none;
		fill: rgba(0, 0, 0, .1);
	}
	g.aktiv polygon,
	g.aktiv polygon + path {
		display: initial;
	}
	g.offen > polygon {
		fill: transparent;
		pointer-events: auto;
	}
	g.bedienbar polygon {
		pointer-events: auto;
	}
	polygon + path {
		display: none;
		stroke-width: 5px;
		stroke: rgba(0, 0, 0, .3);
	}
	g.offen polygon + path {
		display: none;
	}
	line,
	path {
		transform-origin: 47px 54px;
		stroke: rgba(216, 21, 15, .8);
		stroke-width: 8px;
		fill: none;
	}
	line.letzte,
	path.letzte {
		stroke: rgba(255, 255, 255, .5);
	}
	text {
		font-size: 20px;
		text-anchor: middle;
		paint-order: stroke;
		fill: #d8150f;
		stroke: #fff;
		stroke-width: 3;
	}
	text.name {
		font-size: 10px;
		text-anchor: start;
		fill: #000;
		stroke-width: 2px;
	}
	circle {
		pointer-events: auto
	}
	#dreher {
		position: absolute;
		opacity: .5;
		transform-origin: 52px 52px;
	}
	#dreher polygon {
		display: initial;
		fill: #000;
	}
	div {
		position: absolute;
		border-radius: 9px;
		padding: 0px 5px;
		background: #d8150f;
		color: #fff;
		white-space: nowrap;
		filter: drop-shadow(0px 0px 2px #000)
	}
</style>