<script setup>
	import { toRef, computed, onBeforeMount, onBeforeUnmount, watch } from "vue"
	import { bilderPfad } from "../src/global.js"

	const props = defineProps(["id", "vorlagen", "prefix"])
	const id = toRef(props, "id")
	
	const BILDER = [
		{ url: bilderPfad + "gelb.jpg", b: 440, h: 438 },
		{ url: bilderPfad + "gruen.jpg", b: 605, h: 479 },
		{ url: bilderPfad + "braun.jpg", b: 525, h: 336 }
	]

	const vorlageRef = computed( () => props.vorlagen[props.id] )
	const bild = computed( () => BILDER[vorlageRef.value.bild || 0].url )
	const breit = computed( () => BILDER[vorlageRef.value.bild || 0].b )
	const hoch = computed( () => BILDER[vorlageRef.value.bild || 0].h )
	const trafo = computed( () => {
		const vorlage = vorlageRef.value
		if (!vorlage.id || vorlage.genutzt === 1)
			vorlage.id = props
		if (vorlage.genutzt && (vorlage.id === props))
			return isNaN(vorlageRef.value.bild) ? `translate(${-vorlage.x} ${-vorlage.y})`
			                                    : `rotate(30) translate(${14 - vorlage.x} ${-24 - vorlage.y})`
	} )
	
	function erhöhVorlage(vorlage) {
		if (vorlage.genutzt)
			++vorlage.genutzt
		else
			vorlage.genutzt = 1
	}
	
	function verminderVorlage(vorlage, id) {
		--vorlage.genutzt
		if (vorlage.id === id)
			vorlage.id = null
	}
	
	onBeforeMount( () => erhöhVorlage(vorlageRef.value) )
	onBeforeUnmount( () => verminderVorlage(vorlageRef.value, props) )
	watch(id, (neu, alt) => {
		if (neu)
			erhöhVorlage(vorlageRef.value)
		if (alt)
			verminderVorlage(props.vorlagen[alt], props)
	} )
</script>

<template>
	<g>
		<Teleport v-if="trafo" to="defs">
			<pattern :id="prefix + id" width="1" height="1">
				<image :xlink:href="bild" :width="breit" :height="hoch" :transform="trafo" />
			</pattern>
		</Teleport>
	</g>
</template>