<script setup>
	import { reactive, computed } from "vue"
	import { GLEIS_VORLAGE } from "../config.js"

	import Kurve from "./gleise/Kurve.vue"
	import Bogen from "./gleise/Bogen.vue"
	import Gerade from "./gleise/Gerade.vue"
	import Fuellung from "./Fuellung.vue"
	import Bahnhof from "./Bahnhof.vue"

	const props = defineProps(["id", "winkel", "bhfPlätze", "bhfe"])
	const vorlagen = reactive(GLEIS_VORLAGE)

	const MITTE_X = 47
	const MITTE_Y = 54
	
	const stil = computed( () => ({
		transformOrigin: `${MITTE_X}px ${MITTE_Y}px`,
		transform: `rotate(${props.winkel * 60}deg)`
	}) )
	const vorlage = computed( () => vorlagen[props.id] )
	const geldStil = computed( () => ({
		transformOrigin: `${MITTE_X}px ${MITTE_Y}px`,
		transform: `rotate(30deg) translate(${MITTE_X + vorlage.value.gx}px, ${MITTE_Y + vorlage.value.gy}px)`
	}) )
	const geld = computed( () => {
		const geld = vorlage.value.geld
		return geld === true ? false : geld
	} )
	
	function gibBhfTrafo(i) {
		const bhf = (props.bhfPlätze || vorlage.value.bhfe)[i]
		return `translate(${MITTE_X + Math.cos(bhf[0] * Math.PI / 6) * bhf[1]} `
		       + `${MITTE_Y + Math.sin(bhf[0] * Math.PI / 6) * bhf[1]}) rotate(${props.winkel * -60})`
	}
</script>

<template>
	<g :style="stil">
		<template v-if="id">
			<!-- <template v-if="id === 4">
				<g class="gleis gelb">
					<mask id="maske">
						<polygon points="0,27 0,81 47,108 94,81 94,27 47,0" fill="#fff" />
						<circle cx="47" cy="54" r="10" />
					</mask>
					<Gerade mask="url(#maske)" />
					<circle cx="47" cy="54" r="8" />
					<text x="47" y="58" :style="`transform-origin: ${MITTE_X}px ${MITTE_Y}px; transform: rotate(${(props.winkel - 1) * -60}deg)`">10</text>
				</g>
			</template> -->
			<g v-if="id === 7" class="gelb">
				<path d="M 0,54 A 27,27 0,0,1 23.5,94.5" class="gleis" />
				<Kurve class="gleis" />
			</g>
			<g v-else-if="id === 8" class="gelb">
				<path d="M 0,54 A 81,81 0,0,1 70.5,94.5" class="gleis" />
				<Bogen class="gleis" />
			</g>
			<g v-else-if="id === 9" class="gelb">
				<line x1="0" y1="54" x2="94" y2="54" class="gleis" />
				<Gerade class="gleis" />
			</g>
			<g v-else-if="id === 18" class="grün">
				<path d="M 0,54 A 27,27 0,0,1 23.5,94.5" class="gleis links" />
				<line x1="0" y1="54" x2="94" y2="54" class="gleis" />
				<Kurve class="gleis links" />
				<Gerade class="gleis" />
			</g>
			<g v-else-if="id === 23" class="gleis grün">
				<path d="M 0,54 A 81,81 0,0,1 70.5,94.5" />
				<line x1="0" y1="54" x2="94" y2="54" />
				<Bogen />
				<Gerade />
			</g>
			<g v-else-if="id === 24" class="grün">
				<path d="M 0,54 A 81,81 0,0,1 70.5,94.5" class="gleis links" />
				<line x1="0" y1="54" x2="94" y2="54" class="gleis" />
				<Bogen class="gleis links" />
				<Gerade class="gleis" />
			</g>
			<g v-else-if="id === 25" class="grün">
				<path d="M 0,54 A 81,81 0,0,1 70.5,94.5" class="gleis" />
				<path d="M 0,54 A 81,81 0,0,1 70.5,94.5" class="gleis links" />
				<Bogen class="gleis" />
				<Bogen class="gleis links" />
			</g>
			<g v-else-if="id === 26" class="gleis grün">
				<path d="M 0,54 A 27,27 0,0,1 23.5,94.5" />
				<line x1="0" y1="54" x2="94" y2="54" />
				<Kurve />
				<Gerade />
			</g>
			<g v-else-if="id === 27" class="grün">
				<path d="M 0,54 A 27,27 0,0,1 23.5,94.5" />
				<line x1="0" y1="54" x2="94" y2="54" class="gleis" />
				<Kurve />
				<Gerade class="gleis" />
			</g>
			<g v-else-if="id === 28" class="gleis grün">
				<path d="M 0,54 A 27,27 0,0,1 23.5,94.5" />
				<path d="M 0,54 A 81,81 0,0,1 70.5,94.5" />
				<Kurve />
				<Bogen />
			</g>
			<g v-else-if="id === 29" class="grün">
				<path d="M 0,54 A 27,27 0,0,1 23.5,94.5" />
				<path d="M 0,54 A 81,81 0,0,1 70.5,94.5" class="gleis links" />
				<Kurve />
				<Bogen class="gleis links" />
			</g>
			<g v-else-if="id === 39" class="braun">
				<path d="M 0,54 A 27,27 0,0,1 23.5,94.5" />
				<path d="M 0,54 A 27,27 0,0,1 23.5,94.5" class="gleis" />
				<path d="M 0,54 A 81,81 0,0,1 70.5,94.5" />
				<Kurve />
				<Kurve class="gleis" />
				<Bogen />
			</g>
			<g v-else-if="id === 40" class="braun">
				<path d="M 0,54 A 81,81 0,0,1 70.5,94.5" class="gleis" />
				<path d="M 0,54 A 81,81 0,0,1 70.5,94.5" class="gleis links" />
				<path d="M 0,54 A 81,81 0,0,1 70.5,94.5" class="gleis spiegel" />
				<Bogen class="gleis" />
				<Bogen class="gleis links" />
				<Bogen class="gleis spiegel" />
			</g>
			<g v-else-if="id === 41" class="braun">
				<path d="M 0,54 A 27,27 0,0,1 23.5,94.5" class="gleis spiegel" />
				<path d="M 0,54 A 81,81 0,0,1 70.5,94.5" class="gleis" />
				<line x1="0" y1="54" x2="94" y2="54" class="gleis" />
				<Kurve class="gleis spiegel" />
				<Bogen class="gleis" />
				<Gerade class="gleis" />
			</g>
			<g v-else-if="id === 42" class="braun">
				<path d="M 0,54 A 27,27 0,0,1 23.5,94.5" class="gleis spiegelLinks" />
				<path d="M 0,54 A 81,81 0,0,1 70.5,94.5" class="gleis links" />
				<line x1="0" y1="54" x2="94" y2="54" class="gleis" />
				<Kurve class="gleis spiegelLinks" />
				<Bogen class="gleis links" />
				<Gerade class="gleis" />
			</g>
			<!-- <template v-else-if="id === 57">
				<g class="gleis gelb">
					<Gerade />
					<circle cx="47" cy="54" r="14" stroke="#000" stroke-width="1" fill="#fff" />
				</g>
			</template> -->
			<template v-else>
				<Fuellung :id :vorlagen prefix="g" />
				<!--use href="#hex" :fill="`url(#g${id})`" -->
				<polygon points="0 27, 0 81, 47 108, 94 81, 94 27, 47 0" :fill="`url(#g${id})`" />
			</template>
			<g v-if="id === 221" transform="translate(34,41) rotate(180)">
				<path d="M 8,0 l 16,0 a 8,8 0,0,1 0,16 l -16,0 a 8,8 0,0,1 0,-16" class="wert" />
				<text x="16" y="12">60|50</text>
			</g>
			<g v-else-if="geld" :style="geldStil">
				<circle r="8" />
				<text y="4" :transform="`rotate(${330 - winkel * 60})`">{{geld}}</text>
			</g>
		</template>
		<template v-for="(bhf, i) in bhfe">
			<Bahnhof v-if="bhf" :bahn="bhf.bahn" :transform="gibBhfTrafo(i)" :class="{ vorläufig: bhf.vorläufig || bhf.fremd, blockt: bhf.blockt }" />
		</template>
	</g>
</template>

<style scoped>
	path {
		fill: #000;
		stroke: none;
	}
	
	text {
		font-size: 13px;
		text-anchor: middle;
		fill: #fff;
	}

	g.gleis,
	path.gleis,
	line.gleis {
		transform-origin: 47px 54px 0px;
		transform: rotate(-60deg);
	}

	g.gleis text {
		text-anchor: middle;
		font-size: 13px;
		fill: #fff;
	}

	g > path { fill: none }
	g > path,
	g > line { stroke-width: 12 }
	g.gelb > path,
	g.gelb > line { stroke: var(--farbeGelb) }
	g.grün > path,
	g.grün > line { stroke: var(--farbeGrün) }
	g.braun > path,
	g.braun > line { stroke: var(--farbeBraun) }
	g > path.wert { fill: #000 }
	
	g.gleis.links,
	path.gleis.links,
	line.gleis.links { transform: rotate(60deg) }
	g.gleis.spiegelLinks,
	path.gleis.spiegelLinks,
	line.gleis.spiegelLinks { transform: rotate(120deg) }
	g.gleis.spiegel,
	path.gleis.spiegel,
	line.gleis.spiegel { transform: rotate(180deg) }
	
	g.vorläufig polygon {
		opacity: .6
	}
</style>