<script setup>
	import { GLEIS_VORLAGE } from "../config.js"
	import { bilderPfad } from "../src/global.js"
	import { nutzStand } from "../src/Stand.js"

	const stand = nutzStand()

	function gibGleisRestStil(vorlage) {
		switch (vorlage.bild) {
			case 0: return `left: ${vorlage.x + 48}px; top: ${vorlage.y + 20}px`
			case 1: return `left: ${.7273 * vorlage.x + 32}px; top: ${.7273 * vorlage.y + 394}px`
			case 2: return `left: ${.8678 * vorlage.x + 40}px; top: ${.8678 * vorlage.y + 748}px`
		}
	}
</script>

<template>
	<div class="gleise">
		<img :src="bilderPfad + '/gelb.jpg'" />
		<div class="decker"></div>
		<img style="margin-top: -54px" :src="bilderPfad + 'gruen.jpg'" />
		<img :src="bilderPfad + '/braun.jpg'" />
		<p v-for="(v, i) in GLEIS_VORLAGE" :style="gibGleisRestStil(v)">
			{{stand.gibGleisRest(i)}}
		</p>
	</div>
</template>

<style scoped>
	.gleise {
		position: relative;
		width: 440px;
		display: flex;
		flex-direction: column;
	}
	img {
		width: -moz-available
	}
	.decker {
		position: absolute;
		right: 0;
		top: 331px;
		width: 203px;
		height: 53px;
		background: #fff;
	}

	p {
		position: absolute;
		background: #fff;
		padding: 0 3px;
		border-radius: 6px;
	}
</style>