<script setup>
	import { ref, reactive, computed } from "vue"
	import { BAHNEN } from "../config.js"

	const props = defineProps(["was", "von", "ziehbar", "kurs"])

	const el = ref(null)
	const o = reactive({ el })

	// ermittle die Klasse zu den jeweiligen
	// Karten. Damit werden dann die SVG
	// Dateien als Hintergrundbild zugeordnet.
	const klasse = computed( () => {
		switch (props.was) {
			case "p1": return 'karte pb_nuernberg_fuerth'
			case "p2": return 'karte pb_leipzig_dresdner'
			case "p3": return 'karte pb_braunschweigische'
			case "p4": return 'karte pb_hannoversche'
			case "p5": return 'karte pb_ostbayrische'
			case "p6": return 'karte pb_pfalz'
			default: return (props.was[0] === 'v') ? 'vorpreussen' : 'karte'
		}
	} )

	const lokOffsetStil = computed( () => {
		let stil = "background-position: "
		switch (props.was) {
			case "2": return stil + "-665px -370px"
			case "2+": return stil + "-531px -371px"
			case "3": return stil + "-397px -370px"
			case "3+": return stil + "-263px -370px"
			case "4": return stil + "-129px -370px"
			case "4+": return stil + "3px -370px"
			case "5": return stil + "-665px -464px"
			case "5+": return stil + "-531px -464px"
			case "6": return stil + "-397px -464px"
			case "6+": return stil + "-263px -464px"
			default: return null
		}
	} )

	const geld = computed( () => {
		switch (props.was) {
			case "v2": return 170
			case "v4": return 160
			default: return 80
		}
	} )

	/**
	 * Prüft, ob ein gegebenes Papier eine Aktie ist (für Auswahl der Anzeige)
	 * @param {String} papiername Der Papiername
	 */
	const istAktie = computed( () => {
		return ["PR", "BY", "SX", "BA", "WT", "HE", "MS", "OL"].includes(props.was.slice(0,2))
	} )
	
	let klon = null

	function beiZieh(event) {
		if (props.ziehbar) {
			if (!klon) {
				const karte = ["p1", "p2", "p5", "p6"].includes(props.was) ? o.el.parentElement : o.el
				karte.style.opacity = .6
				klon = karte.cloneNode(true)
				document.body.appendChild(klon)
				klon.style.position = "absolute"
				klon.style.pointerEvents = "none"
				Array.from(klon.children).forEach( child => child.style.pointerEvents = "none" )
				klon.style.zIndex = 1
				klon.style.opacity = .6
				klon.style.transform = "translate(-50%, -50%) scale(.5)"
				klon.style.margin = "0"
			}
			klon.style.left = event.pageX + "px"
			klon.style.top = event.pageY + "px"
		}
	}

	function beiLos() {
		if (klon) {
			klon.remove()
			klon = null
			const element = ["p1", "p2", "p5", "p6"].includes(props.was) ? o.el.parentElement : o.el
			element.style.opacity = ""
		}
	}
</script>

<template>
	<div ref="el" v-drag="{ drag: beiZieh, end: beiLos, data: { was, von } }"
	     :class="klasse"
	     data-component="Karte"
	     :data-was="was">
		<Aktie v-if="istAktie" :was :kurs />
		
		<template v-else-if="was[0] === 'v'">
			<span></span>
			<div v-show="(was !== 'v2') && (was !== 'v4')">
				<div>5%</div>
				<svg width="20" height="20">
					<rect x="12" y="6" width="3" height="3" fill="#fff" />
					<rect x="12" y="13" width="3" height="3" fill="#fff" />
				</svg>
			</div>
			<span>{{BAHNEN[was].replace("Köln-", "Köln- ").replace("Ober", "Ober- ")}}</span>
			<svg width="30" height="30">
				<circle cx="15" cy="15" r="15" />
				<text x="15" y="24" text-anchor="middle" fill="#fff">{{was[1]}}</text>
			</svg>
			<div>{{geld}}M</div>
		</template>

		<div v-else-if="was[0]==='p'" data-non-component="Privatbahn"></div>

		<div v-else
			class="lok_karte"
			:style="lokOffsetStil"
			data-non-component="Lok">
		</div>
		
		<slot></slot>
	</div>
</template>

<style scoped>
	/* --- Stile der Privatbahnen --- */
	.pb_nuernberg_fuerth { background: url(../1835/cards/pb_nuernberg_fuerth.svg) }
	.pb_leipzig_dresdner { background: url(../1835/cards/pb_leipzig_dresdner.svg) }
	.pb_hannoversche { background: url(../1835/cards/pb_hannoversche.svg) }
	.pb_braunschweigische { background: url(../1835/cards/pb_braunschweigische.svg) }
	.pb_ostbayrische { background: url(../1835/cards/pb_ostbayrische.svg) }
	.pb_pfalz { background: url(../1835/cards/pb_pfalz.svg) }
	
	div.karte {
		width: 133px;
		height: 94px;
		pointer-events: auto
	}
	.lok_karte {
		height: calc(100% - 2px);
		border: 1px solid #999;
		border-radius: 0.5rem;
		background-image: url(../1835/img/karten.jpg);
		pointer-events: none;
	}
	div.lok .lok_karte {
		border: none;
	}
	
	/* --- weitere Stile --- */
	div.vorpreussen {
		vertical-align: top;
		border: 2px solid #000;
		border-radius: 0.5rem;
		background: #fff;
		width: 184px;
		height: 64px;
		font-family: serif;
		font-weight: bold;
		user-select: none;
		-moz-user-select: none;
		direction: ltr;
		pointer-events: auto
	}

	div.vorpreussen > span,
	div.vorpreussen > svg {
		display: inline-block;
		margin: 5px;
		vertical-align: top;
	}

	div.vorpreussen > svg text {
		font-size: 26px;
		font-weight: normal;
	}

	div.vorpreussen > span:first-of-type {
		width: 22px;
		height: 56px;
		background-image: url(../1835/img/karten.jpg);
		background-position: -271px -4px;
	}

	div.vorpreussen > div:first-of-type {
		position: absolute;
		margin: -42px 7px 0;
	}

	div.vorpreussen > div > div {
		padding: 1px;
		background: #fff;
		font-size: 12px;
	}

	div.vorpreussen > span:nth-of-type(2) {
		width: 100px;
	}
	
	div.vorpreussen > div:last-of-type {
		float: right;
		margin: -20px 7px;
		width: 40px;
		text-align: right;
		font-weight: normal;
	}
</style>