<script setup>
	import { ref, reactive, computed, onMounted, onUpdated } from "vue"
	import { nutzStand, Stand } from "../src/Stand.js"
	import { storeToRefs } from "../../lib/vendor/pinia.esm-browser.js"
	import { checkNotificationsPermission, gibAktienpackete, gibAktienWert, gibAktionenText } from "../src/global.js"
	import { BAHNEN } from "../config.js"

	const props = defineProps(["gibStreckenText"])

	const stand = nutzStand()
	const { spieler, log, letzteLogNr } = storeToRefs(stand)

	const roller = ref()
	const text = ref()
	const zeigtNachrichten = ref(true)
	const nachricht = ref("")
	const kannNichtNachrichtSenden = ref(true)
	const o = reactive({ roller, text, nachricht, kannNichtNachrichtSenden })

	const suchStrich = /-/g

	const ende = computed( () => stand.log.some( z => z.was && z.was.length && (z.was[0].art === 16) ) )

	function wandleInDate(text) {
		return new Date(text.replace(suchStrich, "/" ).slice( 0, 19 ))
	}
	
	function gibSpieler(zug) {
		if (zug.token) {
			const entries = Object.entries(stand.spieler)
			const dereine = entries.find( e =>
					e[1].token && e[1].token === zug.token )
			return dereine[0]
		} else
			return zug.wer < 0 ? "Spielleiter" : BAHNEN[zug.wer] || Object.keys(stand.spieler)[zug.wer]
	}

	/**
	 * Ermittelt die für ein Log Listenelement
	 * anwendbaren Klassen
	 * @param {Object} zug: der Zug, zu dem die Klassen berechnet werden sollen
	 * @param {Number} i: Index innerhalb des Log Arrays
	 */
	function listeKlasse(zug, i) {
		const letzteLogNr = stand.letzteLogNr
		const voriger = stand.log[i - 1]
		let klasse = ""
		// prüfe, ob der Zug einer neuer Zug ist
		klasse += i >= letzteLogNr ? 'neu ' : ''
		// prüfe, ob der Zug ein Chat Post ist
		klasse += zug.text ? 'chat_post ' : ''
		// prüfe, ob Folgepost vorliegt
		klasse += (i > 0) && (i !== letzteLogNr) && voriger.text && (voriger.token === zug.token) && !datumTrennerSetzen(zug, i) ? 'folgepost ' : ''
		// prüfe, ob der aktuelle Speiler schrieb
		return klasse + (gibSpieler(zug) === stand.aktuellerSpieler ? 'selbst' : '')
	}
	
	/**
	 * Erzeugt einen String mit Zeitangabe
	 * für den gegebenen Zug
	 * @param (Object) zug: der Zug für die
					 Zeitangabe
	 */
	function datumText(zug) {
		return zug.wann ? wandleInDate(zug.wann).toLocaleTimeString( 'de-DE', { hour: '2-digit', minute: '2-digit' } ) : null
	}
	
	/**
	 * Erzeugt einen String mit Datumsangabe
	 * für den gegebenen Zug
	 * @param (Object) zug: der Zug für die
					 Datumsangabe
	 */
	function datumTagesText(zug) {
		return zug.wann
		       ? wandleInDate(zug.wann).toLocaleDateString( 'de-DE', { weekday: 'short', day: 'numeric', month: 'numeric', year: 'numeric' } )
		       : null
	}
	
	/**
	 * Prüft, ob vor dem gegebenen Zug ein Trenner
	 * für einen neuen Tag gesetzt werden soll
	 * @param (Object) zug: der Zug der geprüft werden soll
	 * @param (Numeric) i: der Index des Zuges im Log Array
	 */
	function datumTrennerSetzen(zug, i) {
		if (i == 0)
			return true
		const voriger = stand.log[i - 1]
		return voriger.wann && zug.wann && wandleInDate(voriger.wann).getDate() !== wandleInDate(zug.wann).getDate()
	}

	function tipp(event) {
		o.nachricht = event.target.value
		o.kannNichtNachrichtSenden = !o.nachricht
	}
	
	function sendeText() {
		// haben wir schon die Erlaubnis
		// Notifications zu senden?
		checkNotificationsPermission()

		// zu den eigenen Aktionen dazu
		stand.letzteLogNr = stand.log.push(Stand.sendeText({
			token: stand.spieler[ stand.aktuellerSpieler ].token,
			text: o.nachricht
		}))
		
		// lösche Nachricht wieder aus Textfeld
		o.text.value = o.nachricht = ""
		o.kannNichtNachrichtSenden = true
	}

	let geld = 0 // TODO anders lösen
	function gibAGs(data) {
		return Object.entries(gibAktienpackete(data.papiere, stand.ags)).map( ag => {
			const wert = gibAktienWert(stand.ags[ag[0]]) * ag[1]
			geld += wert
			return ag.concat(wert)
		} )
	}

	function gibGeld(data) {
		const wert = data.geld + geld
		geld = 0
		return wert
	}

	function rollAnsEnde() {
		const element = o.roller
		if (element)
			element.scrollTop = element.scrollHeight - element.clientHeight
	}
	
	onMounted(rollAnsEnde)
	onUpdated(rollAnsEnde)
</script>

<template>
	<div class="flex">
		<div ref="roller" class="roll">
			<header>
				<h1>
					Logbuch
					<span v-if="log.length">#{{log.length}}</span>
				</h1>
				<p>Was bisher geschah..</p>
			</header>
			
			<ul v-if="log.length" class="logs">
				<template v-for="(zug, i) in log">
					<li v-if="i === letzteLogNr" class="neuTop">neue Züge</li>
					<li v-if="datumTrennerSetzen(zug,i)" v-show="zeigtNachrichten" class="tagesTrenner">{{datumTagesText(zug)}}</li>
					<li v-show="!zug.text || zeigtNachrichten" :class="listeKlasse(zug, i)">
						<div class="akteur">
							<span class="datum">{{datumText(zug)}}</span>
							<span v-if="!zug.text" class="nr">{{i + 1}} -&nbsp;</span>
							<span class="spieler">{{gibSpieler(zug)}}</span>
							<span v-if="zug.was && (zug.was.length === 0)">&nbsp;passt</span>
							<span v-if="zug.text">&nbsp;schreibt</span>
						</div>
						
						<div v-if="zug.text" class="chat_message" v-html="zug.text"></div>
						
						<div v-else-if="zug.was && zug.was.length" class="aktionen">
							<div v-for="a in zug.was">
								<div v-if="a.fährt">
									<div v-for="s in a.fährt" class="aktion_zeile">
										{{gibStreckenText(s.concat())}}</div>
									<div class="aktion_zeile">
										{{gibAktionenText(a, Object.keys(spieler))}}</div>
								</div>
								<div v-else class="aktion_zeile">
									{{gibAktionenText(a, Object.keys(spieler))}}</div>
							</div>
						</div>
					</li>
					<template v-if="ende && zug.was && zug.was.length && (zug.was[0].art === 16)">
						<li v-for="s in Object.entries(spieler)">
							<div class="spieler">{{s[0]}}</div>
							<div class="aktionen ende">
								<span class="aktion_zeile">hat <span style="float: right">{{s[1].geld}}M</span></span>
								<span v-for="ag in gibAGs(s[1])" class="aktion_zeile">
									{{10 * ag[1]}}% {{BAHNEN[ag[0]]}} im Wert von <span style="float: right">{{ag[2]}}M</span>
								</span>
								<span class="aktion_zeile">gesamt <span style="float: right">{{gibGeld(s[1])}}M</span></span>
							</div>
						</li>
					</template>
				</template>
			</ul>
		</div>

		<div class="new_chat_post">
			<label><input type="checkbox" v-model="zeigtNachrichten"> Chats anzeigen</label>
			<form @submit.prevent="sendeText">
				<textarea ref="text" @input="tipp" @keydown.ctrl.enter="sendeText" placeholder="Scheib was..."></textarea>
				<button type="submit" :disabled="kannNichtNachrichtSenden">
					<svg version="1.1" viewBox="0 0 10 10" xmlns="http://www.w3.org/2000/svg">
						<path d="M5,1 L9,5 L7,5 L7,9 L3,9 L3,5 L1,5Z" fill="white" />
					</svg>
				</button>
			</form>
		</div>
	</div>
</template>

<style scoped>
	.flex {
		display: flex;
		flex-direction: column;
		flex: 1;
		min-height: inherit;
	}
	.roll {
		flex: 1;
		overflow: auto;
	}

	/* --- Header Element --------------------- */
	header {
		margin: 0;
		padding: 1rem;
	}
	header h1 {
		margin: 0;
		font-size: 1.69rem;
	}
	header p:last-child {
		margin-bottom: 0;
	}
	header h1 + p {
		margin-top: 0.25rem;
	}
	header p a {
		float: right;
		color: white;
	}
	
	/* --- Log Liste Element ---------------- */
	.logs {
		margin: 0;
		padding: 0;
		list-style: none outside;
	}
	.logs li {
		padding: 0.5rem 1rem;
		border-top: 1px solid white;
	}
	.logs li:first-child {
		border-top: 0;
	}
	.logs li.neu {
		background: #efe
	}
	.logs li.neuTop {
		background: #dfd;
		border-top: 2px solid #030;
		font-weight: bold;
		color: #030;
	}
	.logs li.tagesTrenner {
		padding-top: 0.3em;
		padding-bottom: 0.2em;
		color: #888;
		background-color: #fff;
		font-size: 0.74rem;
		text-align: right;
	}
	
	.logs .akteur {
	}
	.logs .akteur .datum {
		float: right;
		width: auto;
		color: #888;
		font-size: 0.86rem;
	}
	.logs .nr {
		display: inline-block;
		text-align: right;
	}
	.logs .spieler {
		font-weight: bold;
	}
	.logs .aktionen {
		margin-top: 0.25rem;
	}

	div.ende span.aktion_zeile {
		display: block;
		clear: right;
	}
		
	.logs .chat_post.folgepost {
		margin-top: -0.25rem;
		padding-top: 0;
		border-top: none;
	}
	.logs .chat_post.folgepost .akteur {
		display: none;
	}
	.logs .chat_post.selbst {
		text-align: right;
	}
	.logs .chat_post.selbst .akteur {
		display: none;
	}
	.logs .chat_post.selbst .chat_message {
		color: white;
		background-color: #5983b3;
		border-radius: 1rem 0 1rem 1rem;
	}
	.logs .chat_post .akteur {
		margin-bottom: 0.25rem;
		font-size: 0.86rem;
	}
	.logs .chat_post .spieler {
		font-weight: normal;
	}
	.logs .chat_post .chat_message {
		display: inline-block;
		width: auto;
		min-width: 2rem;
		padding: 0.5rem 1rem;
		background-color: white;
		border: 1px solid #ccc;
		border-radius: 0 1rem 1rem 1rem;
		font-size: 1.1rem;
	}
	
	/* --- Chat Eingabe Element --------------- */
	div.new_chat_post {
		padding: 0.5rem;
		border-top: 1px solid #aaa;
		background-color: #ccc;
	}
	.new_chat_post label {
		display: block;
		margin-bottom: .5rem;
	}
	.new_chat_post form {
		display: flex;
	}
	.new_chat_post form textarea {
		flex: 1 1 auto;
		padding: 0.5rem;
		border: 1px solid #999;
		border-radius: 0.25rem;
	}
	.new_chat_post form button {
		width: 2rem;
		height: 2rem;
		margin-left: 0.5rem;
		padding: 0.25rem;
		background-color: #36F;
		border: none;
		border-radius: 3rem;
	}
</style>