<script setup>
</script>

<template>
	<table><tbody>
		<tr><th colspan="9">Folgendes passiert nach dem Kauf der ersten Lok vom</th></tr>
		<tr><th class="phase">Phase</th><th colspan="6">Verfügbare Gleisteile</th><th class="lok">Typ</th>
			<th>Sonstiges — Loklimit, Verschrotten von Loks, Anzahl der Betriebsrunden,
				Lokkauf bei anderen Gesellschaften,Gleisteile bauen, Umwandlung und Schließung von Privatbahrien,
				Inbetriebnahme der preußischen Eisenbahngesellschaft</th></tr>
		<tr><td rowspan="2" class="phase">1. Phase</td>
			<td colspan="6" rowspan="2" class="gelb"></td><td class="lok">2</td>
			<td><p>Loklimit für Aktiengesellschaften: 4</p>
				<p>Loklimit für Vorpreußische Gesellschaften: 2</p>
				<p>Aktiengesellschaften können zwei Gleisteile bauen.</p></td></tr>
		<tr><td class="lok">2<span>+2</span></td><td>Keine Veränderungen</td></tr>
		<tr><td rowspan="4" class="phase">2. Phase</td>
			<td colspan="3" rowspan="4" class="gelb"></td>
			<td colspan="3" rowspan="4" class="grün"></td><td class="lok">3</td>
			<td><p>Lokkauf bei anderen Gesellschaften ist möglich.</p>
				<p>Nach der nächsten Aktienrunde gibt es zwischen den Aktienrunden immer zwei Betriebsrunden.</p>
				<p>Ab sofort können alle Gesellschaften nur ein Gleisteil legen bzw. austauschen.</p></td></tr>
		<tr><td class="lok">3<span>+3</span></td><td>Keine Veränderungen</td></tr>
		<tr><td class="lok">4</td>
			<td><p>Alle 2er-Loks werden verschrottet.</p>
				<p>Loklimit für alle Aktiengesellschaften: 3</p>
				<p>Loklimit für Vorpreußische Gesellschaften: 1</p>
				<p>Der Besitzer der Berlin-Potsdamer kann seine Aktie zur Preußen erklären und damit die Preußen in Betrieb nehmen.</p>
				<p>Loklimit für die Preußen: 4</p>
				<p>Die Besitzer anderer Vorpreußischer Gesellschaften können nach der Inbetriebnahme der Preußen
					ihre Papiereebenfalls in Preußenaktien umwandeln.</p></td></tr>
		<tr><td class="lok">4<span>+4</span></td>
			<td><p>Alle 2+2 Loks werden verschrottet.</p>
				<p>Der Besitzer der Berlin-Potsdamer muß die Preußen in Betrieb nehmen,
					falls nicht schon vorher geschehen.</p></td></tr>
		<tr><td rowspan="4" class="phase">3. Phase</td>
			<td colspan="2" rowspan="4" class="gelb"></td>
			<td colspan="2" rowspan="4" class="grün"></td>
			<td colspan="2" rowspan="4" class="braun"></td><td class="lok">5</td>
			<td><p>Alle Privatbahnen werden geschlossen.</p>
				<p>Alle Vorpreußischen Gesellschaften müs-sen spätestens jetzt in Preußenaktien umgewandelt werden.</p>
				<p>Loklimit für Preußen: 3</p>
				<p>Loklimit für die anderen Aktiengesellschaften: 2</p>
				<p>Nach der nächsten Aktienrunde werden zwischen den Aktienrunden immer drei Betriebsrunden gespielt.</p></td></tr>
		<tr><td class="lok">5<span>+5</span></td><td>Keine Veränderungen</td></tr>
		<tr><td class="lok">6</td><td>3er Loks werden verschrottet. </td></tr>
		<tr><td class="lok">6<span>+6</span></td><td>3+3er Loks werden verschrottet. </td></tr>
	</tbody></table>
</template>

<style scoped>
	table {
		background: #fff;
		border-collapse: collapse;
	}
	tr:first-of-type > th { font-weight: normal }
	tr:nth-of-type(2) > th:last-of-type { text-align: left }
	th { background: #ddd }
	th, td {
		border: 1px solid #000;
		padding: .5rem;
	}
	th.phase, td.phase {
		writing-mode: sideways-lr;
		min-width: 18px;
		font-weight: bold;
	}
	th.lok { font-size: 1.5em }
	td.gelb, td.grün, td.braun {
		border-left: none;
		border-right: none;
	}
	td.gelb { background: var(--farbeGelb) }
	td.grün { background: var(--farbeGrün) }
	td.braun { background: var(--farbeBraun) }
	td.lok {
		font-size: 1.5rem;
		font-weight: bold;
		text-align: center;
	}
	td.lok span {
		font-size: 1rem;
		font-weight: normal;
	}
	p { margin: .3rem 0 0 }
	p:first-of-type { margin: 0 }
</style>