<script setup>
	import { nutzStand } from "../../1835/src/Stand.js"
	import { storeToRefs } from "../../../lib/vendor/pinia.esm-browser.js"
	import { ref, computed, reactive, onMounted } from "vue"
	import { BAHNEN } from "../config.js"

	const RAND = 15
	const stand = nutzStand()
	const { tabelle } = storeToRefs(stand)
	const svg = ref()
	const svgBreit = ref(0)
	const svgHoch = ref(0)
	const viewBox = computed( () => `0 0 ${o.svgBreit} ${o.svgHoch}` )
	const breit = computed( () => stand.tabelle.runde.length - 1 )
	const min = computed( () => {
		const min = Math.min.apply(null, Object.entries(stand.tabelle).slice(1).map( werte => {
			return BAHNEN[werte[0]] ? werte[1].reduce( (r, w) => !w || (r < w) ? r : w , Number.POSITIVE_INFINITY)
									: Math.min.apply(null, werte[1])
		} ))
		return min ? Math.log(min) : 0
	} )
	const hoch = computed( () => Math.log(Math.max.apply(null, Object.values(stand.tabelle)
	                                                                 .map( werte => Math.max.apply(null, werte) ))) - o.min )
	const skalB = computed( () => (o.svgBreit - 2 * RAND - o.textBreite - 4) / o.breit )
	const skalH = computed( () => (o.svgHoch - 2 * RAND - 10) / o.hoch )
	const textBreite = computed (() => {
		const texte = o.svg.querySelectorAll("text:not([class=runde])")
		return texte.length ? Math.max.apply(null, Array.from(texte).map( t => t.getComputedTextLength() )) : o.svgBreit
	} )
	const namenX = computed( () => o.svgBreit - RAND - o.textBreite)
	const alleNamenY = computed( () => {
		let start = 0
		return Object.entries(stand.tabelle)
						.map( e => [e[0], (o.hoch - (Math.log(stand.tabelle[e[0]][o.breit])) + o.min) * o.skalH + 10] )
						.sort( (a, b) => a[1] > b[1] ? 1 : a[1] < b[1] ? -1 : 0 )
						.map( (e, i, alle) => {
			const next = alle[start][1] + 12 * (i - start)
			if (e[1] < next)
				e[1] = next
			else
				start = i
			return e
		} )
	} )
	const o = reactive({ svg, svgBreit, svgHoch, breit, min, hoch, skalB, skalH, textBreite, alleNamenY })

	// function skalBahn(name) { TODO Bahnen im Schaubild verschieben?
	// 	return BAHNEN[name] ? 2.5 : 1
	// }

	function graf(werte) {
		let i = 0
		return werte[1].reduce( (r, w) => {
			if (r)
				r += " "
			if (w)
				r += `${r ? "L" : "M"} ${RAND + i * o.skalB}, ${RAND + (o.hoch - Math.log(w) + o.min) * o.skalH}`
			++i
			return r
		} , "")
	}

	function rundenX(i) {
		return RAND + (i + .5) * o.skalB
	}

	function namenY(name) {
		return RAND - 6 + o.alleNamenY.find( e => e[0] === name )[1]
	}

	function name(name) {
		switch (name) {
			case "p1": return "Nü-Fü"
			case "p2": return "Le-Dr"
			case "p3": return "Braun."
			case "p4": return "Hann."
			case "p5": return "Ostby"
			case "p6": return "Pfalz"
			default: return BAHNEN[name] ? name.toUpperCase() : name
		}
	}

	onMounted(() => {
		new ResizeObserver( a => {
			o.svgBreit = a[0].contentRect.width
			o.svgHoch = a[0].contentRect.height
		}).observe(o.svg)
	})
</script>

<template>
	<svg ref="svg" :viewBox>
		<template v-if="tabelle && svg">
			<template v-for="(g, i) of Object.entries(tabelle).slice(1)">
				<path :d="graf(g)" :class="BAHNEN[g[0]] ? g[0].toUpperCase() : 'name' + (i - 19)" />
				<text :x="namenX" :y="namenY(g[0])"
					:class="BAHNEN[g[0]] ? g[0].toUpperCase() : 'name' + (i - 19)">{{name(g[0])}}</text>
			</template>
			<text v-for="(r, i) of tabelle.runde.slice(0, -1)" :x="rundenX(i)" :y="svgHoch - RAND"
				class="runde">{{r < 0 ? "S" : r > 0 ? "B" + r : "A"}}</text>
		</template>
	</svg>
</template>

<style scoped>
	* {
		--farbe1: #5400a3;
		--farbe2: #a80000;
		--farbe3: #e79b0e;
		--farbe4: #2cbd00;
		--farbe5: #0053be;
		--farbe6: #ddd901;
		--farbe7: #b10061;
		--farbeP1: #0a85ec;
		--farbeP2: #e60c1c;
		--farbeP3: #000000;
		--farbeP4: #000000;
		--farbeP5: #0a85ec;
		--farbeP6: #0a85ec;
		--farbeV3: #000000;
		--farbeV4: #000000;
		--farbeV5: #000000;
		--farbeV6: #000000;
	}

	svg {
		display: block;
		width: 100%;
		height: 100%;
	}

	path {
		stroke: #000;
		fill: none;
		stroke-width: 2;
	}

	path.name1 { stroke: var(--farbe1) }
	path.name2 { stroke: var(--farbe2) }
	path.name3 { stroke: var(--farbe3) }
	path.name4 { stroke: var(--farbe4) }
	path.name5 { stroke: var(--farbe5) }
	path.name6 { stroke: var(--farbe6) }
	path.name7 { stroke: var(--farbe7) }
	path.P1 { stroke: var(--farbeP1) }
	path.P2 { stroke: var(--farbeP2) }
	path.P3 { stroke: var(--farbeP3) }
	path.P4 { stroke: var(--farbeP4) }
	path.P5 { stroke: var(--farbeP5) }
	path.P6 { stroke: var(--farbeP6) }
	path.V3 { stroke: var(--farbeV3) }
	path.V4 { stroke: var(--farbeV4) }
	path.V5 { stroke: var(--farbeV5) }
	path.V6 { stroke: var(--farbeV6) }
	path.PR { stroke: var(--farbePR) }
	path.BY { stroke: var(--farbeBY) }
	path.SX { stroke: var(--farbeSX) }
	path.BA { stroke: var(--farbeBA) }
	path.WT { stroke: var(--farbeWT) }
	path.HE { stroke: var(--farbeHE) }
	path.MS { stroke: var(--farbeMS) }
	path.OL { stroke: var(--farbeOL) }

	text { font-size: 14px !important }
	text:nth-of-type(odd) {
		stroke: initial;
		stroke-width: initial;
	}

	text.runde {
		text-anchor: middle;
		font-size: 10px !important;
	}

	text.name1 { fill: var(--farbe1) }
	text.name2 { fill: var(--farbe2) }
	text.name3 { fill: var(--farbe3) }
	text.name4 { fill: var(--farbe4) }
	text.name5 { fill: var(--farbe5) }
	text.name6 { fill: var(--farbe6) }
	text.name7 { fill: var(--farbe7) }
	text.P1 { fill: var(--farbeP1) }
	text.P2 { fill: var(--farbeP2) }
	text.P3 { fill: var(--farbeP3) }
	text.P4 { fill: var(--farbeP4) }
	text.P5 { fill: var(--farbeP5) }
	text.P6 { fill: var(--farbeP6) }
	text.V3 { fill: var(--farbeV3) }
	text.V4 { fill: var(--farbeV4) }
	text.V5 { fill: var(--farbeV5) }
	text.V6 { fill: var(--farbeV6) }
	text.PR { fill: var(--farbePR) }
	text.BY { fill: var(--farbeBY) }
	text.SX { fill: var(--farbeSX) }
	text.BA { fill: var(--farbeBA) }
	text.WT { fill: var(--farbeWT) }
	text.HE { fill: var(--farbeHE) }
	text.MS { fill: var(--farbeMS) }
	text.OL { fill: var(--farbeOL) }
</style>