- if Article.for_mail_between( newsletter.last_sent_at, newsletter.send_at ).count > 0
  .new_articles
    .label Neue Artikel
    = render partial: 'articles/preview_mail', collection: Article.for_mail_between( newsletter.last_sent_at, newsletter.send_at ), as: :article
  

