- h_page_title 'Statistiken Abrufe'
- h_description 'Aktuelle Seitenabrufe der Website'

%article.statistic_detail
  %h1.title
    Aktuelle Abrufe vom
    =l @today, format: :short_day
  
  .description
    %p Aktuelle Seitenabrufe der Website.
  
  .request_statistics
    %table
      %thead
        %tr
          %th.number{ colspan: 2 } heute
          %th.number{ colspan: 2 } gestern
          %th.number{ colspan: 2 } vorgestern
          %th.number Woche
          %th Entität
          %th Inhalt
        
       
      
      %tbody
        %tr
          - d0 = @requests.inject( 0 ) { |sum,r| sum + r.first.amount }
          - d1 = @requests.inject( 0 ) { |sum,r| sum + ( r.second ? r.second.amount : 0 ) }
          - d2 = @requests.inject( 0 ) { |sum,r| sum + ( r.third ? r.third.amount : 0 ) }
          - w = @requests.inject( 0 ) { |sum,r| sum + ( r.fourth ? r.fourth.amount : 0 ) } / 7
          
          %td.number= d0
          %td.number{ class: h_quot( d0, d1 ).to_f > 0 ? 'positive' : 'negative' }= "#{h_quot d0, d1}%"
          %td.number= d1
          %td.number{ class: h_quot( d1, d2 ).to_f > 0 ? 'positive' : 'negative' }= "#{h_quot d1, d2}%"
          %td.number= d2
          %td.number{ class: h_quot( d2, w ).to_f > 0 ? 'positive' : 'negative' }= "#{h_quot d2, w}%"
          %td.number= w
          %td.entity alle
        
        - @requests.each do |request|
          %tr
            - d0 = request.first.amount
            - d1 = request.second ? request.second.amount : 0
            - d2 = request.third ? request.third.amount : 0
            - w = request.fourth ? request.fourth.amount / 7 : 0
            
            %td.number= d0
            %td.number{ class: h_quot( d0, d1 ).to_f > 0 ? 'positive' : 'negative' }= "#{h_quot d0, d1}%" if d1 > 0
            
            %td.number= d1 if d1 > 0
            %td.number{ class: h_quot( d1, d2 ).to_f > 0 ? 'positive' : 'negative' }= "#{h_quot d1, d2}%" if d2 > 0
            %td.number= d2 if d2 > 0
            %td.number{ class: h_quot( d2, w ).to_f > 0 ? 'positive' : 'negative' }= "#{h_quot d2, w}%" if w > 0
            %td.number= w if w > 0
            %td.entity= link_to( request.first.entity_type, request.first.entity ) if request.first.entity
            %td
              .preview_text
                = request.first.entity ? request.first.entity.preview_text : 'index'
            %td
          
        
      
    
  

