- h_title 'Unsere Produkte'
- h_description( h_page_description_for 'rewards' )

%h1 Unsere Produkte
%p
  Hier erfährst du mehr über die Produkte, die
  %strong= h_orga_name
  anbietet

- if h_is_sales?
  %p
    = link_to 'Neues Produkt...', new_reward_path
  

%ul.rewards_list
  - @rewards.each do |reward|
    = render 'preview', reward: reward
  

