<script setup>
	import { computed } from "vue"
	import { nutzStand } from "../../src/Stand.js"
	import { BAHNEN } from "../../config.js"
	import Bahn from "./Bahn.vue"

	const props = defineProps(["info", "data", "istAktuellerSpieler"])
	
	const stand = nutzStand()

	const istDran = computed( () => !props.info && (props.data === stand.dran) )
	const name = computed( () => BAHNEN[props.data] )
	const randStil = computed( () => `border-color: var(--farbe${props.data})` )
	const logoStil = computed( () => {
		let stil = "background-position: "
		switch (props.data) {
			case "PR": stil += "-726px -191px"; break
			case "BY": stil += "-730px -96px"; break
			case "SX": stil += "-462px -100px"; break
			case "BA": stil += "-193px -101px"; break
			case "WT": stil += "-195px -194px"; break
			case "HE": stil += "-463px -191px"; break
			case "MS": stil += "-728px -285px"; break
			case "OL": stil += "-460px -284px"
		}
		return stil
	} )
	const geld = computed( () => stand.ags[props.data].geld )
	const bhfe = computed( () => stand.gibBhfRest(props.data) )
	const loks = computed( () => stand.ags[props.data].loks )
</script>

<template>
	<Bahn :istDran :istAktuellerSpieler :geld :info :bhfe :data :loks zeigLoks="true" :style="(data !== 'PR') && randStil">
		<span>{{name}}</span>
		<span class="logo" :style="logoStil"></span>
	</Bahn>
</template>

<style scoped>
	div.bahn > span {
		display: inline-block;
		margin: 5px;
		vertical-align: top;
	}

	span:first-of-type {
		margin-left: 10px !important;
		width: 120px;
		height: 52px;
	}

	span.logo {
		width: 36px;
		height: 34px;
		background: url(../1835/img/karten.jpg);
	}
</style>