<script setup>
	import { computed } from "vue"
	import { nutzStand } from "../../src/Stand.js"
	import { storeToRefs } from "../../../lib/vendor/pinia.esm-browser.js"
	import { gibAktienpackete, gibAktienWert } from "../../src/global.js"

	const props = defineProps(["packet", "istDirektor", "istAktuellerSpieler", "papiere", "von"])

	const stand = nutzStand()

	const anteil = computed( () => {
		const tausch = aktien.value[0].startsWith("PR") && stand.tausch
		if (tausch) {
			const doppelPR = ["p3", "p4", "v2", "v4"]
			const tauschWert = props.papiere
			                   .reduce( (r, p) => tausch.includes(p) ? r + (doppelPR.includes(p) ? 1 : .5) : r , 0)
			return ((aktien.value.length > 1) || tauschWert) && (props.packet[1] + tauschWert)
		}
		return (aktien.value.length > 1) && props.packet[1]
	} )
	const direktor = computed( () => props.istDirektor(props.packet[0]) )
	const aktien = computed( () => props.papiere.filter( p => p.startsWith(props.packet[0]) ) )
	const kannPapierKaufen = computed( () => {
		let kann = (stand.runde >= -1) && stand.kannPapierKaufen
		if (kann) {
			if (props.istAktuellerSpieler) // verkaufen
				kann = stand.ags[props.packet[0]].betrieb
			else // verstaatlichen
				kann = stand.extra ? false
				       : gibAktienpackete(stand.spieler[stand.aktuellerSpieler].papiere, stand.ags)[props.packet[0]] > 5
		}
		return kann
	} )

	function gibWert(name) {
		const ag = stand.ags[name.substr(0, 2)]
		return ag.kurs && gibAktienWert(ag)
	}
</script>

<template>
	<div class="aktienpacket">
		<span v-if="anteil" class="anteil" :style="`z-index: ${aktien.length}`">&Sigma; {{10 * anteil}}%</span>
		<span v-if="direktor" class="direktor" :style="`z-index: ${aktien.length}; pointer-events: none`">Direktor</span>
		<Karte v-for="(papiername, index) in aktien"
		       :key="papiername"
		       :was="papiername"
		       :von
		       :ziehbar="kannPapierKaufen"
		       :kurs="gibWert(papiername)"
		       :style="(index < aktien.length - 1 ? `z-index: ${aktien.length - 1 - index};` : '')
		               + (kannPapierKaufen ? '' : 'pointer-events: none')" />
	</div>
</template>

<style scoped>
	div.aktienpacket {
		position: relative;
	}
	
	div.karte,
	div.svg_karte {
		position: relative;
		display: block;
		margin-top: -76px;
	}

	span {
		position: absolute;
	}

	span.anteil {
		top: 7px;
		left: 10px;
		width: auto;
		height: 16px;
		line-height: 19px;
		background-color: #fff;
		font-size: 14px;
		font-weight: bold;
	}
	
	span.direktor {
		top: 78px;
		left: 25px;
		line-height: 10px;
		padding-left: 1px;
		background-color: white;
		font-family: sans-serif;
		font-size: 9.5px;
		font-weight: bold;
		text-transform: uppercase;
	}

	div.karte:first-of-type,
	div.svg_karte:first-of-type {
		margin-top: 0;
	}
</style>