<script setup>
	import { getCurrentInstance, inject, ref, computed, reactive, onMounted, watch } from "vue"
	import { BAHNEN } from "../../config.js"
	import { nutzStand, Stand } from "../../src/Stand.js"
	import { storeToRefs } from "../../../lib/vendor/pinia.esm-browser.js"
	import { Verteiler } from "../../src/Verteiler.js";

	const props = defineProps(["istDran", "istAktuellerSpieler", "geld", "info", "bhfe", "data", "loks", "zeigLoks"])
	
	const stand = nutzStand()
	const { runde, admin } = storeToRefs(stand)

	const root = getCurrentInstance().ctx.$root // TODO durch ref ersetzen?
	const plan = inject("plan")
	const kaufLok = inject("kaufLok")
	
	const bahn = ref()
	const drüber = ref(false)
	
	const istLokAbgabe = computed( () => stand.gibLokrest(props.data) < 0 )
	const kannLokKaufen = computed( () => (props.istDran && props.istAktuellerSpieler && o.istLokAbgabe)
	                                      || (stand.phase && !props.istDran && !o.plan.auswählen
	                                          && stand.kannLokKaufen && !stand.istLokAbgabe) )

	function lokStil(typ, nr, istDran, loks) {
		if (istDran && stand.aktionen.every( a => !a.lok )) {
			if (nr === stand.neueSpur.lok)
				return "border: 2px solid #d8150f"
			else if (nr - loks.indexOf(typ) < stand.fahrstrecken.filter( s => s[0] === typ ).length)
				return "opacity: .5; pointer-events: none"
		} else if (!props.istAktuellerSpieler && (o.plan.auswählen || !stand.kannLokKaufen))
			return "pointer-events: none"
		return ""
	}
	
	function letzteStrecke(lok, i, loks) {
		const letzteFahrt = stand.letzteFahrt
		const fahrtIndex = letzteFahrt ? letzteFahrt.findIndex( f => f[0] === lok) : -1
		if (fahrtIndex >= 0) {
			const lokIndex = loks.indexOf(lok)
		 	return letzteFahrt[fahrtIndex + i - lokIndex]
		} else
		 	return null
	}
	
	function wiederholbar(lok, i, loks) {
		const strecke = letzteStrecke(lok, i, loks)
		return strecke && (strecke[0] === lok) && o.plan.wiederholbar(strecke)
	}
	
	function wiederholSpur(lok, i, loks) {
		o.plan.wiederholSpur(letzteStrecke(lok, i, loks), i)
	}
	
	function akzeptiert(data) {
		return parseInt(data.was) // Loks
	}
	
	function darfAblegen(data) {
		return props.istDran && props.istAktuellerSpieler && !stand.istLokAbgabe
		       && (data.von !== props.data) && (stand.gibLokrest(props.data) > 0)
	}
	
	function beiAbleg(data) {
		if (stand.runde === -3) { // Spielstandsaufnahme Lok verteilen
			const loks = stand.bank.loks
			loks.splice(loks.indexOf(data.was), 1)
			if (isNaN(props.data))
				stand.ags[props.data].loks.push(data.was)
			else
				stand.vorPR[props.data - 1].loks.push(data.was)
			switch (data.was) {
				case "3": stand.phase = 1; break
				case "4": stand.bank.loks = loks.filter( l => l != 2 ); break
				case "4+": stand.bank.loks = loks.filter( l => !["2", "2+"].includes(l) ); break
				case "5": stand.phase = 2; break
				case "6": stand.bank.loks = loks.filter( l => !["2", "2+", "3"].includes(l) ); break
				case "6+": stand.bank.loks = loks.filter( l => !["2", "2+", "3", "3+"].includes(l) ); break
			}
		} else if (darfAblegen(data)) {
			if (data.von) {
				const geld = Number(prompt("Kaufpreis"))
				if (geld) {
					const von = Number(data.von) ? "v" + data.von : data.von
					if (stand.admin || (Stand.gibDirektorNrFürBahn(von)
					                    === Stand.gibDirektorNrFürBahn(Number(props.data) ? "v" + props.data : props.data)))
						(kaufLok || root.kaufLok)(data.was, geld, von)
					else {
						const typ = data.was
						stand.extra = [stand.dran, ...stand.aktionen.splice(0), [typ, geld, von, true]]
						alert(BAHNEN[von] + " muss Lokkauf bestätigen.")
						Stand.setzExtra(stand.extra, stand.dran, von)
						Verteiler.sendeBestätigLokkauf([typ, geld, von])
					}
				}
			} else
				(kaufLok || root.kaufLok)(data.was)
		}
	}
	
	const o = reactive({ plan, istLokAbgabe, bahn })

	function bringInSicht() {
		if (props.istDran)
			o.bahn.scrollIntoView()
	}

	onMounted(bringInSicht)
	watch(() => props.istDran, bringInSicht)
</script>

<template>
	<div ref="bahn"
	     v-drag="{ accepts: akzeptiert, enter: d => drüber = darfAblegen(d) || (runde === -3),
	               leave: () => drüber = false, drop: beiAbleg }"
	     :class="{ bahn: true, drüber }">
		<slot></slot>
		<div v-show="istAktuellerSpieler && !admin && (runde > -2)" class="geld">{{geld}}M</div>
		<template v-if="!info">
			<div v-show="bhfe" class="bhf">{{bhfe > 1 ? bhfe : ""}}<AgMarker :ag="data" /></div>
			<div v-show="zeigLoks" class="lokzahl">{{stand.gibLokrest(data)}}</div>
			<Karte v-for="(l, i) in loks"
			       :was="l"
			       :von="data"
			       :ziehbar="kannLokKaufen"
			       class="lok"
			       :style="lokStil(l, i, istDran, loks)"
			       @click.self="istDran && istAktuellerSpieler && plan.fahrLok(l, i)">
				<div v-show="istDran && istAktuellerSpieler && wiederholbar(l, i, loks)"
				     class="wiederholer" @click="wiederholSpur(l, i, loks)">⟳</div>
			</Karte>
		</template>
	</div>
</template>

<style scoped>
	div.bahn {
		position: relative;
		display: inline-block;
		vertical-align: top;
		margin: 10px 0 0 10px;
		border: 2px solid #000;
		border-radius: 0.5rem;
		background: #fff;
		width: 184px;
		font-family: serif;
		font-weight: bold;
	}

	div.drüber {
		background-color: rgba(0, 0, 0, .1)
	}

	div.geld {
		float: right;
		margin: -20px 7px;
		width: 50px;
		text-align: right;
		font-weight: normal;
	}

	div.bhf {
		position: absolute;
		right: 65px;
		top: 22px;
		min-width: 8px;
	}

	div.bhf > div {
		top: -11px;
		transform: scale(.5);
	}

	div.lokzahl {
		float: right;
		margin: 0 8px 0 0;
	}
  
	div.lok {
		float: none !important;
		margin: 0 0 10px 10px !important;
		border: 1px solid #999;
		border-radius: 0.5rem;
	}

	div.lok div.wiederholer {
		font-size: 30px !important;
		margin: -32px 3px 0px;
		width: 20px;
		cursor: default;
		background: transparent !important;
	}
</style>