<script setup>
	import { getCurrentInstance, ref, computed, reactive, onMounted, watch } from "vue"
	import { nutzStand } from "../../src/Stand.js"
	import { storeToRefs } from "../../../lib/vendor/pinia.esm-browser.js"
	import { gibAktienpackete, gibPapierlimit } from "../../src/global.js"

	import Aktienpacket from "./Aktienpacket.vue"
	import Vorpreussen from "./Vorpreussen.vue"
	import Ag from "./Ag.vue"
	
	const props = defineProps(["info", "spieler", "data"])

	const stand = nutzStand()
	const { runde, extra, tauschtPreußen, admin, tausch } = storeToRefs(stand)
	
	const selber = getCurrentInstance().ctx // TODO durch ref ersetzen?

	const drüber = ref(false)
	
	const limit = computed( () => gibPapierlimit(props.spieler, stand) )
	const istAktienStart = computed( () => {
		const index = Object.keys(stand.spieler).indexOf(props.spieler)
		return (index >= 0) && (index === stand.aktienStart)
	} )
	const istAktuellerSpieler = computed( () => props.spieler === stand.aktuellerSpieler )
	const istDran = computed( () => props.spieler === stand.dran )
	const gesellschaften = computed( () => props.data.papiere.filter( p => p.charAt(0) === "p" ) )
	const aktienpackete = computed( () => Object.entries(gibAktienpackete(props.data.papiere, stand.ags)) )
	const vorpreussen = computed( () => props.data.papiere && props.data.papiere.filter( p => p.startsWith("v") ) )
	const ags = computed( () => Object.keys(stand.ags).filter( a => stand.ags[a].betrieb && istDirektor(a) ) )

	const o = reactive({ istAktuellerSpieler, istDran })
	
	function istDirektor(g) {
		return Object.keys(stand.spieler)[stand.ags[g].direktor] === props.spieler
	}
	
	function akzeptiert(data) {
		return !parseInt(data.was) // Papiere
	}
	
	function beiAbleg(data) {
		if (stand.runde === -2) // Spielstandsaufnahme
			stand.verteilPapier(data.was, props.spieler)
		else if (o.istDran && (data.von !== props.spieler))
			stand.kaufPapier(data.was, data.von/*, zug.sendeZug*/) // TODO wird wahrscheinlich für Bankrott nicht gebraucht
	}
	
	function bringInSicht() {
		if (o.istAktuellerSpieler && o.istDran)
			selber.$el.scrollIntoView()
	}

	onMounted(bringInSicht)
	watch([istAktuellerSpieler, istDran], bringInSicht)
</script>

<template>
	<div v-drag="{ accepts: akzeptiert, enter: d => drüber = (istDran && (d.von !== spieler)) || (runde === -2), leave: () => drüber = false, drop: beiAbleg }"
	     :class="{ drüber }">
		<h1>
			<span v-if="(!extra || tauschtPreußen) && (data.geld < 0) && (runde > -2)" style="color: #888">{{spieler}} ist Bankrott</span>
			<template v-else>
				<span :style="istAktienStart ? `color: #800` : ``">{{(istDran ? "> " : "") + spieler}}</span>
				<span v-if="istAktuellerSpieler && !admin && (runde > -2)">{{data.geld || 0}}M</span>
				<div v-if="!info" class="anzahl_papiere">
					<span class="vignette">{{data.papiere.length}} / {{limit}}</span> Papiere
				</div>
			</template>
		</h1>
		<template v-if="!info">
			<Karte v-for="p in gesellschaften" :was="p" class="privatbahn" :style="tausch && tausch.includes(p) ? `opacity: .5` : ``" />
			<Aktienpacket v-for="g in aktienpackete" :packet="g" :istDirektor :istAktuellerSpieler
			              :papiere="data.papiere" :von="spieler" />
		</template>
		<div class="bahnen">
			<Vorpreussen v-for="v in vorpreussen" :info :data="Number(v[1])" :istAktuellerSpieler
			             :style="tausch && tausch.includes(v) ? `opacity: .5` : ``" />
			<Ag v-for="a in ags" :info :data="a" :istAktuellerSpieler />
		</div>
	</div>
</template>

<style scoped>
	div.privatbahn, div.aktienpacket {
		display: inline-block;
		vertical-align: top;
	}

	div.privatbahn {
		margin: 10px 0 0 10px;
		pointer-events: none !important;
	}

	div.bahnen {
		display: block;
	}

	h1 {
		margin: 0 0 0 1rem;
	}

	h1 > span:nth-of-type(2) {
		margin-left: 1rem;
	}

	h1 > div {
		display: inline-block;
		font-size: initial;
		font-weight: initial;
		margin-left: 1rem;
	}
	
	div.aktienpacket {
		margin: 10px 0 0 10px;
	}
	
	div.anzahl_papiere {
		vertical-align: top;
	}

	span.vignette {
		display: inline-block;
		min-width: 1rem;
		padding: 0.25rem 0.5rem;
		color: white;
		background-color: #999;
		border-radius: 1rem;
		text-align: center;
		font-weight: bold;
	}
	
	div.drüber {
		background-color: rgba(0, 0, 0, .1)
	}
</style>