<script setup>
	import { nutzStand } from "../../src/Stand.js";
	import { storeToRefs } from "../../../lib/vendor/pinia.esm-browser.js";
	import Portfolio from "./Portfolio.vue"
	
	defineProps(["info"])

	const stand = nutzStand()
	const { runde, bank, spieler, aktuellerSpieler, dran } = storeToRefs(stand)
</script>

<template>
	<div id="werwas">
		<h1 v-if="runde > -2">Bank {{bank.geld || 0}}M</h1>
		<Portfolio v-if="info" :info :spieler="aktuellerSpieler" :data="spieler[aktuellerSpieler] || {}" />
		<template v-else>
			<Portfolio v-for="name in Object.keys(spieler)" :key="name" :spieler="name" :data="spieler[name]" />
		</template>
	</div>
</template>

<style scoped>
	h1 {
		margin: 0;
		padding: 1rem 10px 10px 1rem;
	}
	#werwas > div {
		border-top: 1px solid #999;
		padding: 1rem 10px 10px 0;
	}
	#werwas > div:first-child { border: none }
</style>