<script setup>
	import { computed } from "vue"
	import { nutzStand } from "../../src/Stand.js"
	import { storeToRefs } from "../../../lib/vendor/pinia.esm-browser.js"
	import { BAHNEN } from "../../config.js"
	import Bahn from "./Bahn.vue"

	const props = defineProps(["info", "data", "istAktuellerSpieler"])

	const stand = nutzStand()
	const { tausch } = storeToRefs(stand)

	const istDran = computed( () => !props.info && (stand.runde >= -1) && (props.data === Number(stand.dran[1])) )
	const halb = computed( () => (props.data !== 2) && (props.data !== 4) )
	const name = computed( () => BAHNEN["v" + props.data].replace("Köln-", "Köln- ").replace("Ober", "Ober- ") )
	const geld = computed( () => stand.vorPR[props.data - 1].geld )
	const loks = computed( () => stand.vorPR[props.data - 1].loks )
</script>

<template>
	<Bahn :istDran :istAktuellerSpieler :geld :info :data :loks :zeigLoks="!tausch || !tausch.includes(data)">
		<span class="logo"></span>
		<div :style="halb ? '' : 'display: none'">
			<div>5%</div>
			<svg width="20" height="20">
				<rect x="12" y="6" width="3" height="3" fill="#fff" />
				<rect x="12" y="13" width="3" height="3" fill="#fff" />
			</svg>
		</div>
		<span>{{name}}</span>
		<svg width="30" height="30">
			<circle cx="15" cy="15" r="15" />
			<text x="15" y="24" text-anchor="middle" fill="#fff">{{data}}</text>
		</svg>
	</Bahn>
</template>

<style scoped>
	span,
	div.bahn > svg {
		display: inline-block;
		margin: 5px;
		vertical-align: top;
	}

	svg text {
		font-size: 26px;
		font-weight: normal;
	}

	span.logo {
		width: 22px;
		height: 56px;
		background-image: url(../1835/img/karten.jpg);
		background-position: -271px -4px;
	}

	div.bahn > div:first-of-type {
		position: absolute;
		margin: -42px 7px 0;
	}

	div.bahn > div > div {
		padding: 1px;
		background-color: #fff;
		font-size: 12px;
	}

	span:nth-of-type(2) {
		width: 100px;
	}
</style>