<script setup>
	import { ref, computed, getCurrentInstance, reactive } from "vue"
	import { nutzStand, Stand } from "../../src/Stand.js"
	import { storeToRefs } from "../../../lib/vendor/pinia.esm-browser.js"
	import { gibAktienWert, gibAktionenText } from "../../src/global.js"

	import Papiergruppe from "./Papiergruppe.vue"
	
	const props = defineProps(["zug", "auswahl"])

	const stand = nutzStand()
	const { bank, spieler, ags, phase, runde, standRunde, lok, dran, aktuellerSpieler, aktionen, extra } = storeToRefs(stand)

	const reihenRef = ref(null)
	const drüber = ref(false)
	const passt = ref(false)
	
	const root = getCurrentInstance().root.ctx // TODO durch ref ersetzen?

	const reihen = computed( () => o.reihenRef ? Array.from(o.reihenRef.children) : [] )
	const rundenStil = computed( () => stand.runde <= 0 ? "left: 20px; top: 24px" : `left: ${8 + 42 * (stand.runde - 1)}px; top: 84px` )
	const obersteReihe = computed( () => o.aktien && o.reihen.find( r => r.childElementCount ) )
	const aktien = computed( () => stand.bank.aktien )
	const unsendbar = computed( () => stand.extra && (!stand.aktionen.length
	                                  || (stand.aktionen.length && (stand.aktionen[0].art !== 18) && (stand.spieler[stand.dran].geld < 0))) )
	const lokGruppen = computed( () => {
		let letzte
		return stand.bank.loks ? stand.bank.loks.filter(l => {
			const dabei = (l !== letzte)
			if (dabei)
				letzte = l; 
			return dabei
		}) : []
	} )

	const lokVorschau = computed( () => {
		const alleLoks = ["2", "2+", "3", "3+", "4", "4+", "5", "5+", "6", "6+"]
		return alleLoks.splice(alleLoks.indexOf(stand.lok))
	} )

	const poolGruppen = computed( () => {
		let gruppe = []
		if (stand.bank.pool) {
			let letzte
			stand.bank.pool.forEach( p => {
				const aktie = p.substr(0, 2)
				if (aktie !== letzte) {
					letzte = aktie; 
					gruppe.push(aktie)
				}
			} )
		}
		return gruppe
	} )

	const o = reactive({ reihenRef, reihen, aktien, passt })

	function agStil(a, n) {
		const mehr = a.kurs[2] || 0
		let stil = "left: " + (8 + 62.3 * a.kurs[0] + 10 * mehr) + "px; top: " + (390 - 61 * a.kurs[1]) + "px"
		if (mehr)
			stil += "; z-index: -" + mehr
		return stil
	}

	function paket(p) {
		return !o.aktien || o.aktien.includes("BY2") ? [] : o.aktien.filter( a => {
			a = a.substr(0, 2)
			return ((p === 0) && ((a === "BY") || (a === "BA") || (a === "MS")))
							 || ((p === 1) && ((a === "SX") || (a === "WT") || (a === "OL")))
							 || ((p === 2) && (a === "HE"))
							 || ((p === 3) && (a === "PR"))
		} )
	}

	function startGruppe(drin) {
		const gruppe = []
		for (let p of o.aktien) {
			if (drin.includes(p)) {
				const packet = [p]
				switch (p) {
					case "p1":
					case "p5":
					case "p6": packet.push("BY")
						break
					case "p2": packet.push("SX2")
				}
				gruppe.push(packet)
			}
		}
		return gruppe
	}

	function wert(name) {
		const ag = stand.ags[name]
		return ag.kurs && gibAktienWert(ag)
	}

	function beiKlick() {
		props.zug.sendeZug(o.passt)
		o.passt = false
	}

	function beiDrück(event, kurs) {
		const bounds = event.target.getBoundingClientRect()
		props.auswahl.zeig(stand.kursloseAGs, bounds.x, bounds.y, agName => {
			const ag = stand.ags[agName]
			ag.kurs = kurs
			for (let n in stand.ags) {
				const test = stand.ags[n]
				if ((test != ag) && test.kurs && test.kurs.every( (v, i) => (i > 1) || (v == ag.kurs[i]) )) {
					ag.kurs[2] = 0
					if (test.kurs[2])
						++test.kurs[2]
					else
						test.kurs[2] = 1
				}
			}
			ag.betrieb = true
		} )
	}
	
	function akzeptiert(data) {
		return data.was && stand.ags.hasOwnProperty(data.was.slice(0, 2))
	}
	
	function darfAblegen(data) {
		return stand.istLokAbgabe || (data.von === stand.dran)
	}
	
	function beiAbleg(data) {
		if (parseInt(data.was)) {
			const aktion = { lok: data.was }
			if (stand.extra)
				aktion.von = stand.dran
			stand.aktionen.push(aktion)
			Stand.gibAbLok(aktion, stand)
		} else if (stand.runde < -1) { // Spielstandsaufnahme
			o.aktien.splice(o.aktien.indexOf(data.was), 1)
			stand.bank.pool.push(data.was)
		} else
			stand.kaufPapier(data.was, data.von, props.zug.sendeZug)
	}
</script>

<template>
	<div id="boerse">
		<div v-show="(runde >= 0) && (phase < 1)" class="decker" style="left: 49px"></div>
		<div v-show="(runde >= 0) && (phase < 2)" class="decker" style="left: 90px"></div>
		<div id="sende_boerse_zug_decker" class="decker"></div>
		
		<template v-if="runde === -4">
			<div v-if="(standRunde < 0) || (standRunde == 0)" @click="standRunde = 0" class="chip"
			     :style="'left: 20px; top: 24px' + (standRunde < 0 ? '; opacity: .5' : '')"></div>
			<div v-if="(standRunde < 0) || (standRunde == 1)" @click="standRunde = 1" class="chip"
			     :style="'left: 8px; top: 84px' + (standRunde < 0 ? '; opacity: .5' : '')"></div>
			<div v-if="(standRunde < 0) || (standRunde == 2)" @click="standRunde = 2" class="chip"
			     :style="'left: 50px; top: 84px' + (standRunde < 0 ? '; opacity: .5' : '')"></div>
			<div v-if="(standRunde < 0) || (standRunde == 3)" @click="standRunde = 3" class="chip"
			     :style="'left: 92px; top: 84px' + (standRunde < 0 ? '; opacity: .5' : '')"></div>
			<template v-if="stand.kursloseAGs.length">
				<template v-for="(n, j) in 7">
					<template v-for="(n, i) in 16">
						<div v-if="((i > 3) || ((i > 1) && (j < 6)) || (j < 5))
						           && ((i < 5) || ((i < 7) && (j > 0)) || ((i < 9) && (j > 1))
						               || ((i < 12) && (j > 2)) || ((i < 15) && (j > 3)) || (j > 4))"
						     @mousedown.prevent="beiDrück($event, [i, j])" @touchstart.prevent="beiDrück($event, [i, j])" class="chip kurs"
						     :style="`left: ${8 + 62.3 * i}px; top: ${390 - 61 * j}px`"></div>
					</template>
				</template>
			</template>
		</template>
		<div v-else-if="runde >= 0" class="chip" :style="rundenStil"></div>
		<div v-if="runde === -3" class="start">
			<div><Papiergruppe v-for="t in [2, '2+', 3, '3+', 4]"
				                :gruppe="bank.loks.filter( l => l == t )" class="papiergruppe" /></div>
			<div><Papiergruppe v-for="t in ['4+', 5, '5+', 6, '6+']"
				                :gruppe="bank.loks.filter( l => l == t )" class="papiergruppe" /></div>
		</div>
		<template v-else-if="runde === -2">
			<div class="start" style="position: absolute; top: 0; z-index: 1; pointer-events: none">
				<div>
					<Papiergruppe v-for="g in aktien.filter( p => ['p1', 'p2', 'p3', 'p4', 'p5', 'p6'].includes(p) )"
					              :gruppe="[g]" class="papiergruppe" />
				</div>
				<div><Papiergruppe v-for="g in aktien.filter( p => ['v1', 'v2', 'v3'].includes(p) )" :gruppe="[g]"
				                   class="papiergruppe" /></div>
				<div><Papiergruppe v-for="g in aktien.filter( p => ['v4', 'v5', 'v6'].includes(p) )" :gruppe="[g]"
				                   class="papiergruppe" /></div>
				<div>
					<Papiergruppe :gruppe="aktien.filter( p => p.startsWith('PR') )" class="papiergruppe" />
					<Papiergruppe :gruppe="aktien.filter( p => p.startsWith('BY') )" class="papiergruppe" />
					<Papiergruppe :gruppe="aktien.filter( p => p.startsWith('SX') )" class="papiergruppe" />
				</div>
				<div>
					<Papiergruppe :gruppe="aktien.filter( p => p.startsWith('BA') )" class="papiergruppe" />
					<Papiergruppe :gruppe="aktien.filter( p => p.startsWith('HE') )" class="papiergruppe" />
					<Papiergruppe :gruppe="aktien.filter( p => p.startsWith('WT') )" class="papiergruppe" />
				</div>
				<div>
					<Papiergruppe :gruppe="aktien.filter( p => p.startsWith('MS') )" class="papiergruppe" />
					<Papiergruppe :gruppe="aktien.filter( p => p.startsWith('OL') )" class="papiergruppe" />
				</div>
			</div>
			<div id="pool" v-drag="{ accepts: akzeptiert, enter: () => drüber = true, leave: () => drüber = false, drop: beiAbleg }"
			     :class="{ drüber }">
				<Papiergruppe v-for="g in poolGruppen" :gruppe="bank.pool.filter( p => p.substr(0, 2) === g )" :kurs="wert(g)" />
			</div>
		</template>
		<div v-else-if="runde === -1" ref="reihenRef" class="start reihen">
			<div><Papiergruppe v-for="g in startGruppe(['p1'])" :gruppe="g" :obersteReihe class="papiergruppe" /></div>
			<div><Papiergruppe v-for="g in startGruppe(['v1', 'p2', 'v2'])" :gruppe="g" :obersteReihe class="papiergruppe" /></div>
			<div><Papiergruppe v-for="g in startGruppe(['v3', 'v4', 'BY2', 'p3'])" :gruppe="g" :obersteReihe class="papiergruppe" /></div>
			<div><Papiergruppe v-for="g in startGruppe(['p4', 'v5', 'v6', 'p5', 'p6'])" :gruppe="g" :obersteReihe class="papiergruppe" /></div>
		</div>
		<template v-else>
			<template v-for="(a, n) in ags">
				<AgMarker v-if="a.betrieb && a.kurs" :ag="n" :style="agStil(a, n)" />
			</template>
			
			<!-- ausgegebene Aktien -->
			<div id="boerse_ausgabe1">
				<Papiergruppe :gruppe="paket(0)" :nurErste="true" />
			</div>
			<div id="boerse_ausgabe2">
				<Papiergruppe :gruppe="paket(1)" :nurErste="true" />
			</div>
			<div id="boerse_ausgabe3">
				<Papiergruppe :gruppe="paket(2)" :nurErste="true" />
			</div>
			<div id="boerse_ausgabe4">
				<Papiergruppe :gruppe="paket(3)" :nurErste="true" />
			</div>
			
			<!-- aktuelles Lokangebot -->
			<div id="lokangebot">
				<Papiergruppe v-for="g in lokGruppen" :gruppe="bank.loks.filter(l => l === g)" />
			</div>

			<!-- zukünftiges Lokangebot -->
			<div v-if="lok" class="lokVorschau">
				<template v-for="l of lokVorschau">
					<Karte :was="l" class="lokvorschau" />
					<div class="lokzahl">{{stand.gibLokZahl(l)}}</div>
				</template>
			</div>

			<!-- frei handelbare Aktien -->
			<div id="pool"
			     v-drag="{ accepts: d => d.was, enter: d => drüber = darfAblegen(d), leave: () => drüber = false, drop: d => darfAblegen(d) && beiAbleg(d) }"
			     :class="{ drüber }">
				<Papiergruppe v-for="g in poolGruppen" :gruppe="bank.pool.filter( p => p.substr(0, 2) === g )" :kurs="wert(g)" von="pool" />
			</div>
		</template>
		
		<div v-if="dran === aktuellerSpieler" class="sende_boerse_zug">
			<h2 v-if="extra && spieler[dran] && (extra[0] >= 0)">
				{{Object.keys(spieler)[extra[0]]}} Zwischenzug:
			</h2>
			<h1>{{dran}}</h1>
			<p v-if="!aktionen.length">Passt</p>
			<p v-for="(a, i) in aktionen.filter( a => (a.geld < 0) || !(a.von >= 0) || (Object.keys(spieler)[a.von] === dran) )">
				{{gibAktionenText(a, Object.keys(spieler))}}
				<a v-if="i === aktionen.length - 1" @click="(zug || root).löschLetzteAktion">x</a>
			</p>
			<button :disabled="unsendbar" @click="beiKlick">Zug senden</button>
			<label v-if="!aktionen.length && !extra" style="margin-left: 10px">
				<input type="checkbox" v-model="passt"> Weiterhin passen
			 </label>
		</div>
		<div v-else class="sende_boerse_zug">
			<h1 v-if="(runde === -1) || (runde === 0)">{{spieler[stand.dran] && stand.dran}}</h1>
			<button v-if="runde >= -1" @click="(zug || root).aktualisieren" style="margin-top: 1em">Aktualisieren</button>
		</div>
	</div>
</template>

<style scoped>
	#boerse {
		position: relative;
		width: 1000px;
		height: 703px;
		background: url(../1835/img/boerse.jpg);
	}

	div.chip {
		position: absolute;
		width: 37px;
		height: 37px;
		background: url(../1835/img/gelb.jpg) -227px -369px;
		border-radius: 20px;
	}

	div.kurs {
		z-index: 1;
		pointer-events: all;
		background: rgba(0, 0, 0, .2) !important;
	}
	
	div.decker {
		position: absolute;
		top: 83px;
		width: 40px;
		height: 40px;
		background-color: #faf9bf;
	}
	
	#sende_boerse_zug_decker {
		left: 4px;
		top: 430px;
		width: 320px;
		min-height: 149px;
		background-color: #faf9bf;
	}
	.sende_boerse_zug {
		position: absolute;
		top: initial;
		bottom: 124px;
		width: 320px;
		min-height: 149px;
		background: rgba(250, 249, 191, .5);
		padding: .8rem;
		box-sizing: border-box;
		pointer-events: none;
	}
	.sende_boerse_zug h1 {
		margin: 0;
		font-size: 1.19rem;
	}
	.sende_boerse_zug h2 {
		font-size: initial;
		margin: 0 0 .2rem;
	}
	.sende_boerse_zug p {
		margin: 0.5rem 0;
	}
	.sende_boerse_zug p a {
		margin-left: 1rem;
		pointer-events: initial;
		cursor: default;
		color: #d8150f;
	}

	#boerse_ausgabe1,
	#boerse_ausgabe2,
	#boerse_ausgabe3,
	#boerse_ausgabe4 {
		position: absolute;
		bottom: 5px;
		width: 133px
	}
	#boerse_ausgabe1 { left: 60px }
	#boerse_ausgabe2 { left: 258px }
	#boerse_ausgabe3 { left: 458px }
	#boerse_ausgabe4 { left: 654px }
	
	#lokangebot {
		position: absolute;
		top: 195px;
		left: 805px;
		width: 133px
	}

	.lokVorschau {
		position: absolute;
		top: 450px;
		left: 805px;
		width: 133px;
	}

	#lokangebot > div,
	.lokVorschau > div {
		margin-top: 5px;
	}

	#lokangebot > div:first-of-type,
	div.lokVorschau > div:first-of-type {
		margin-top: 0;
	}

	div.start {
		position: absolute;
		right: 5px;
		bottom: 5px;
	}

	#pool {
		position: absolute;
		bottom: 140px;
		right: 214px;
		width: 456px;
		height: 304px;
		direction: rtl;
		display: flex;
		flex-wrap: wrap-reverse;
		align-items: flex-start;
		z-index: 0
	}

	#pool > div:empty {
		min-height: 64px;
	}

	#pool.drüber {
		background-color: rgba(0, 0, 0, .1)
	}
	
	div.start > div {
		display: flex;
		margin: 0;
		justify-content: flex-end;
	}

	div.papiergruppe {
		display: inline-block;
		margin: 5px 0 0 5px;
	}
	
	div.reihen > div {
		height: 117px;
		justify-content: flex-end;
	}
	
	div.lokvorschau {
		margin-top: -65px !important;
	}

	div.lokvorschau:first-of-type {
		margin-top: 0 !important;
	}

	div.lokzahl {
		position: absolute;
		margin-left: 135px;
		margin-top: -96px !important;
		padding: 5px 7px;
		background: #fdfdc1;
	}
	
	label { pointer-events: auto }
</style>