<script setup>
	import { ref, computed, reactive } from "vue"
	import { nutzStand } from "../../src/Stand.js"
	import { storeToRefs } from "../../../lib/vendor/pinia.esm-browser.js"

	const props = defineProps(["gruppe", "kurs", "von", "nurErste", "obersteReihe"])

	const stand = nutzStand()
	const { runde } = storeToRefs(stand)

	const el = ref(null)

	const wert = computed( () => {
		switch (props.gruppe[0].substr(0, 2)) {
			case "PR": return 154
			case "BY": return 92
			case "SX": return 88
			case "BA":
			case "WT":
			case "HE": return 84
			default: return 80
		}
	} )
	
	const o = reactive({ el })

	function ziehbar(p, index) {
		if ((stand.runde > -4) && (stand.runde < -1))
			return true
		if (parseInt(p))
			return !stand.auswählen && stand.kannLokKaufen && !stand.istLokAbgabe
		if (stand.kannPapierKaufen) {
			if (stand.runde === -1) {
				if (isNaN(stand.clemens)) {
					if (props.obersteReihe && o.el) {
						const reihe = o.el.parentElement
						return (p !== "BY") && (p !== "SX2")
						       && ((reihe === props.obersteReihe)
						           || (!o.el.previousElementSibling && (reihe.previousElementSibling === props.obersteReihe)
						               && (reihe.previousElementSibling.childElementCount === 1)))
					} else
						return false
				} else
					return true
			} else
				return !stand.extra && (index === 0)
		}
	}
</script>

<template>
	<div ref="el" data-non-component="papierGruppeVorlage">
		<Karte v-for="(papiername, index) in gruppe"
		       :key="papiername"
		       :was="papiername"
		       :von
		       :ziehbar="el && ziehbar(papiername, nurErste ? index : 0)"
		       :kurs="kurs || wert"
		       :style="((index < gruppe.length - 1) ? `z-index: ${gruppe.length - 1 - index}` : '')
		               + (el && ((runde < -1) || ziehbar(runde === -1 ? gruppe[0] : papiername, nurErste ? index : 0)) ? '' : ';filter: brightness(90%)')" />
	</div>
</template>

<style scoped>
	div[data-non-component=papierGruppeVorlage] {
		position: relative;
	}
	div[data-non-component=papierGruppeVorlage] div.karte {
		position: relative;
		margin-top: -76px;
	}
	div[data-non-component=papierGruppeVorlage] div.karte:first-of-type {
		margin-top: 0;
	}
</style>