%h1= @successful ? 'Danke' : 'Problem'

- if @successful
  %p
    Ihre Bestätigung
    %strong war erfolgreich.
  
- else
  %p
    Der Link ist leider
    %strong nicht korrekt.
    %br
    Versuche bite die Bestätigung nochmals.
  

