= form_for @stream do |f|
  - if @stream.errors.any?
    #error_explanation
      %h2= "#{pluralize(@stream.errors.count, "error")} prohibited this stream from being saved:"
      %ul
        - @stream.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :token
    = f.text_field :token
  .field
    = f.label :status
    = f.text_field :status
  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :owner
    = f.text_field :owner
  .field
    = f.label :public
    = f.check_box :public
  .field
    = f.label :max_participants
    = f.number_field :max_participants
  .field
    = f.label :only_invites
    = f.check_box :only_invites
  .field
    = f.label :status_required
    = f.text_field :status_required
  .field
    = f.label :fade_away_days
    = f.number_field :fade_away_days
  .actions
    = f.submit 'Save'
