.anrede
  Hallo
  = @contact.name_text + ','

%p
  der neue Beitragszeitraum
  =l Time.zone.now, format: :month_year
  beginnt und wir möchten dich bitten, deinen Mitgliedsbeitrag zu überweisen.

%p
  Du hast dich bei der Aufnahme für einen
  %strong= t( "activerecord.attributes.membership/fee_period.#{@membership.fee_period}" ) + 'en'
  Beitrag von
  %strong= number_to_currency @membership.fee_amount
  entschieden. Bitte überweise diese Summe auf unser Konto:

%p
  Kontoinhaber:
  %br
  %strong= h_orga_name
  %br
  IBAN:
  %br
  %strong DE00 0000 0000 0000 0000 00
  %br
  Verwendungszweck:
  %br
  %strong
    Referenz
    = @membership.token
    Mitgliedsbeitrag
  
= render 'general/mailer_regards'
