- if Event.for_mail_from( newsletter.send_at ).count > 0
  .new_events
    .label Nächste Termine
    = render partial: 'events/preview_mail', collection: Event.for_mail_from( newsletter.send_at ), as: :event
  

