= link_to event, class: 'preview', id: event.token do
  .time=l event.starts_at, format: :short
  .title= event.title
  - unless event.description.blank?
    .description= event.description
  
  - unless event.location.blank?
    .location= event.location
  
  .more Mehr lesen... &rarr;

