- cancel_action = capture do
  = link_to 'Abbrechen', events_path, class: 'button'


%h1 Neuer Termin
%p
  Hier kannst du einen neuen Termin für unseren Kalender eintragen.

= render 'form', cancel_action: cancel_action
