%h1 Alle Zahlungen

%section.new_payment_section
  = render 'form', payment: @payment

%ul.payments_list
  - the_date = Time.mktime( 1970, 1, 1 )
  - @payments.each do |payment|
    - if the_date != payment.paid_at.at_midnight
      - the_date = payment.paid_at.at_midnight
      %li.separator
        =l the_date, format: :short_day
      
    
    %li= render 'detail', payment: payment
  

