- cancel_action = capture do
  = link_to 'Abbrechen', admin_payments_path, class: 'button'


%h1 Neue Zahlung
%p
  Hier kannst du eine neue Zahlung durch ein Mitglied eintragen.

= render 'form', cancel_action: cancel_action
