%p
  - if order.customer_kind != 'private'
    - unless order.delivery_org.blank?
      %strong= order.delivery_org
      %br
    
    - unless order.delivery_name.blank?
      - unless order.delivery_org.blank?
        z.Hd.
      
      = order.delivery_name
      %br
    
  - else
    %strong= order.contact ? order.contact.name_text : 'unbekannt'
    %br
  
  = order.delivery_street
  = order.delivery_housenr
  %br
  = order.delivery_plz
  = order.delivery_city
  %br
  = order.delivery_country

