%h3 Schritt 6 - Datenschutz und AGBs

= form_for @order do |f|
  - if @order.errors.any?
    #error_explanation
      %h2=t( 'errors.template.header', model: I18n.t( "activerecord.models.order.one" ), count: @order.errors.count )
      %ul
        - @order.errors.messages.each do |message|
          %li=t 'errors.format', message: message.last.first, attribute: I18n.t( "activerecord.attributes.order.#{message.first}" )
        
      
    
  
  = f.hidden_field :step
  
  .field
    = f.check_box :read_privacy
    = f.label :read_privacy do
      Ich habe die
      = link_to 'Bestimmungen zum Datenschutz', '/datenschutz'
      gelesen und akzeptiere die Speicherung meiner Daten zu Zwecken der Verarbeitung der Bestellung und zur Kontaktaufnahme mit der angegebenen Person.
    
  
  .field
    = f.check_box :read_terms
    = f.label :read_terms do
      Ich habe die
      = link_to 'Allgemeinen Geschäftsbedingungen', '/agbs'
      der Caritas (Vertragspartnerin der Bestellung) zur Kenntnis genommen.
    
  
  %p
    Hiermit schliessen Sie Ihre Bestellung
    %strong verbindlich ab und bestellen kostenpflichtig.
  
  .actions
    = link_to 'Zurück', order_path( @order, order: { step: 4 } ), method: :patch, class: 'button secondary'
    = f.submit 'Bestellen'
  

