- cancel_action = nil unless defined? cancel_action

= render 'orderquant_summary', order: @order

%h3 Kontaktinfos & Lieferadresse
%p.help_text
  Wir möchten Sie gerne über den Stand der Bestellung auf dem Laufenden halten und Ihnen in Zukunft gerne Aktualisierungen und Hinweise zu den Produkten senden (keine Werbung, Abmeldung jederzeit moglich!).

= form_for @order, class: 'blank' do |f|
  - if @order.errors.any?
    #error_explanation
      %h2=t( 'errors.template.header', model: I18n.t( "activerecord.models.order.one" ), count: @order.errors.count )
      %ul
        - @order.errors.messages.each do |message|
          %li=t 'errors.format', message: message.last.first, attribute: I18n.t( "activerecord.attributes.order.#{message.first}" )
        
      
    
  
  = f.hidden_field :step
  
  = f.fields_for :contact, @order.contact do |contact_form|
    %fieldset
      %legend Kontaktinformationen
      
      .field
        = contact_form.label :email
        = contact_form.email_field :email
        = # render 'general/email_help'
      
      .field
        = contact_form.label :first_name
        = contact_form.text_field :first_name
      
      .field
        = contact_form.label :last_name
        = contact_form.text_field :last_name
      
    
  
  %fieldset
    %legend Lieferadresse
    
    - if @order.customer_kind != 'private'
      .field
        = f.label :delivery_org
        = f.text_field :delivery_org
      
      .field
        = f.label :delivery_name
        = f.text_field :delivery_name
      
    
    .field
      = f.label :delivery_street
      = f.text_field :delivery_street
    
    .field
      = f.label :delivery_housenr
      = f.text_field :delivery_housenr
    
    .field
      = f.label :delivery_plz
      = f.text_field :delivery_plz
    
    .field
      = f.label :delivery_city
      = f.text_field :delivery_city
    
    - if @order.customer_location != 'germany'
      .field
        = f.label :delivery_country
        = f.text_field :delivery_country
      
    
  
  = render 'contacts/subform_checker', f: f
  
  .actions
    = link_to 'Zurück', order_path( @order, order: { step: @order.step.to_i - 2 } ), method: :patch, class: 'button secondary'
    = f.submit 'Weiter'
  

