- cancel_action = nil unless defined? cancel_action

= render 'orderquant_summary', order: @order

%h3 Liefer- und Rechnungsadresse

= render 'delivery_address', order: @order

= form_for @order do |f|
  - if @order.errors.any?
    #error_explanation
      %h2=t( 'errors.template.header', model: I18n.t( "activerecord.models.order.one" ), count: @order.errors.count )
      %ul
        - @order.errors.messages.each do |message|
          %li=t 'errors.format', message: message.last.first, attribute: I18n.t( "activerecord.attributes.order.#{message.first}" )
        
      
    
  
  = f.hidden_field :step
  
  .field
    = f.check_box :invoice_differs, data: { action: 'checkbox_switch', sel: '#invoice_address_block' }
    = f.label :invoice_differs
  
  #invoice_address_block.fields_block{ class: @order.invoice_differs? ? nil: 'initially_hidden' }
    .field
      = f.label :invoice_org
      = f.text_field :invoice_org
    
    .field
      = f.label :invoice_name
      = f.text_field :invoice_name
    
    .field
      = f.label :invoice_street
      = f.text_field :invoice_street
    
    .field
      = f.label :invoice_housenr
      = f.text_field :invoice_housenr
    
    .field
      = f.label :invoice_plz
      = f.text_field :invoice_plz
    
    .field
      = f.label :invoice_city
      = f.text_field :invoice_city
    
    - if @order.customer_location != 'germany'
      .field
        = f.label :invoice_country
        = f.text_field :invoice_country
      
    
  
  .actions
    = link_to 'Zurück', order_path( @order, order: { step: @order.step.to_i - 2 } ), method: :patch, class: 'button secondary'
    = f.submit 'Weiter'
  

