= form_for @order do |f|
  - if @order.errors.any?
    #error_explanation
      %h2= "#{pluralize( @order.errors.count, "error" ) } prohibited this order from being saved:"
      %ul
        - @order.errors.full_messages.each do |message|
          %li= message
        
      
    
  
  .field
    = f.label :status
    = f.select :status, Order.t_select( 'status' )
  
  %fieldset
    %legend Bestellart
    
    .field
      = f.label :customer_kind
      = f.select :customer_kind, Order.t_select( 'customer_kind' )
    
    .field
      = f.label :customer_location
      = f.select :customer_location, Order.t_select( 'customer_location' )
    
  
  - if @order.contact
    %fieldset
      %legend Besteller*in
      = link_to @order.contact.name_text, @order.contact, class: 'button secondary'
    
  
  %fieldset
    %legend Lieferadresse
    .field
      = f.label :delivery_org
      = f.text_field :delivery_org
    
    .field
      = f.label :delivery_name
      = f.text_field :delivery_name
    
    .field
      = f.label :delivery_street
      = f.text_field :delivery_street
    
    .field
      = f.label :delivery_housenr
      = f.text_field :delivery_housenr
    
    .field
      = f.label :delivery_plz
      = f.text_field :delivery_plz
    
    .field
      = f.label :delivery_city
      = f.text_field :delivery_city
    
    .field
      = f.label :delivery_country
      = f.text_field :delivery_country
    
  
  %fieldset
    %legend Rechnungsadresse
    %p.help_text optional, leer lassen, falls Lieferadresse verwendet werden soll
    
    .field
      = f.check_box :invoice_org
      = f.label :invoice_differs
    
    .field
      = f.label :invoice_org
      = f.text_field :invoice_org
    
    .field
      = f.label :invoice_name
      = f.text_field :invoice_name
    
    .field
      = f.label :invoice_street
      = f.text_field :invoice_street
    
    .field
      = f.label :invoice_housenr
      = f.text_field :invoice_housenr
    
    .field
      = f.label :invoice_plz
      = f.text_field :invoice_plz
    
    .field
      = f.label :invoice_city
      = f.text_field :invoice_city
    
    .field
      = f.label :invoice_country
      = f.text_field :invoice_country
    
  
  %fieldset
    %legend Einwilligungen
    .field
      = f.check_box :read_privacy
      = f.label :read_privacy
    
    .field
      = f.check_box :read_terms
      = f.label :read_terms
    
  %fieldset
    %legend Optionale Statusinfos
    .field
      = f.label :delivery_status
      = f.text_field :delivery_status
    
    .field
      = f.label :delivery_date_at
      = f.datetime_select :delivery_date_at, include_blank: true
    
    .field
      = f.label :delivery_reference
      = f.text_field :delivery_reference
    
    .field
      = f.label :invoice_status
      = f.text_field :invoice_status
    
    .field
      = f.label :invoice_date_at
      = f.datetime_select :invoice_date_at, include_blank: true
    
    .field
      = f.label :invoice_reference
      = f.text_field :invoice_reference
    
  
  .actions
    = cancel_action
    = f.submit 'Save'
  

