%h1= @successful ? 'Bestätigt!' : 'Problem!'

- if @successful
  %p
    Ihre Bestätigung
    %strong war erfolgreich.
    %br
    Vielen Dank.
  
  %p
    Hier finden Sie
    = link_to 'Ihre Bestellung', Order.find_by( token: session[ :order_token ] )
  
- else
  %p
    Der Link ist leider
    %strong nicht korrekt.
    %br
    Versuchen Sie die Bestätigung nochmals. Kann es sein, dass der Link abgeschnitten oder falsch umgebrochen war?
  

