- h_page_title "Bestellung"
- h_description "Bestellung von #{@order.contact ? @order.contact.name_text : 'unbekannt'}"

%article.order_detail
  %h1 Danke für Ihre Bestellanfrage
  
  - if @order.unconfirmed?
    %p
      Wir haben Ihnen eine E-Mail an die angegebene Adresse zur Bestätigung der Bestellung gesendet.
    
    %p
      %strong Bitte bestätigen Sie Ihre Bestellung  durch Anklicken des Aktivierungslinks in der E-Mail.
    
    %p
      Die E-Mail sollte in den nächsten Minuten eintreffen. Bitte schauen Sie auch in ihrem Spam-Postfach nach.
    
  
  - else
    %p.help_text
      Wir haben ihre Bestellanfrage erhalten. Wir werden Ihre Bestellung innerhalb weniger Werktage bearbeiten, die Verfügbarkeit Ihrer Artikel prüfen und Ihnen dann eine Bestellbestätigung und Rechnung per Email zukommen lassen.
    
    %p
      Bestellnummer:
      %strong= @order.token
    
    = render 'show_detail', order: @order
  

