%li.page_preview.example
  .short
    .menu{ title: 'Im Menu sichtbar als' }
      .badge{ title: 'Position in Reihenfolge der Seiten' } X
      %span Menu-Eintrag der Seite
    
  .full
    .preview
      .status Beispiel
      .title{ title: 'Titel der Seite' } Mein Seitentitel
      .path
        Lokale URL:
        = '/dieser/pfad/zur/seite'
      
      .description Beschreibung der Seite. Wird vor allem bei Link-Auszügen mitgeliefert, also bei Social Media Referenzen.
    
  

