%h1= h_orga_name

%p hier kannst du eine sehr minimalistische Version des Eisenbahn Brettspiel Klassiskers "1835" in Deutschland spielen.

= render 'articles/teaser', articles: Article.published.latest( 3 )

= render 'events/teaser', events: Event.upcoming( 3 )

%p
  Falls dich die Weiterentwicklung interessiert, kannst du unseren Newsletter abonnieren

.action_buttons
  = link_to 'Abonnieren', new_contact_path, class: 'button'
  
  = render 'general/social_media_buttons'

