<p>
  Dies ist eine Testseite, die als Rails Template vorliegt und trotzdem in die Navigation eingebunden wird.

<%= render 'events/teaser', event: Event.upcoming.first %>
<p>
  Diese Funktionen wird nicht so oft vorkommen.
</p>
