= form_for @code do |f|
  - if @code.errors.any?
    #error_explanation
      %h2= "#{pluralize(@code.errors.count, "error")} prohibited this code from being saved:"
      %ul
        - @code.errors.full_messages.each do |message|
          %li= message
        
      
    
  
  = hidden_field_tag :at, params[ :at ]
  
  .field
    = f.label :input
    = f.text_field :input, placeholder: 'Was man als Code eingibt'
  
  .field
    = f.label :url
    = f.text_field :url, placeholder: 'Die URL wo man dann hinkommt'
  
  .actions
    = f.submit 'Save'
  

