%h1 Listing codes

%table
  %thead
    %tr
      %th Input
      %th Url
      %th
      %th
      %th

  %tbody
    - @codes.each do |code|
      %tr
        %td= code.input
        %td= code.url
        %td= link_to 'Edit', edit_code_path( code, at: params[ :at ] )
        %td= link_to 'Destroy', code, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Code', new_code_path( at: params[ :at ] )
