%fieldset
  %legend Postadresse
  
  .field
    = f.label :street
    = f.text_field :street, placeholder: 'z.B. Hauptstrasse'
  
  .field
    = f.label :housenr
    = f.text_field :housenr, placeholder: 'z.B. 12'
  
  .field
    = f.label :plz
    = f.text_field :plz, placeholder: 'z.B. 12345'
  
  .field
    = f.label :city
    = f.text_field :city, placeholder: 'z.B. Neustadt'
  

