- cancel_action = capture do
  = link_to 'Abbrechen', @contact, class: 'button secondary'


%h1 Kontakt bearbeiten

- if h_is_admin?
  = render 'form_admin', cancel_action: cancel_action
- else
  = render 'form', cancel_action: cancel_action

