%h1 Newsletter

%p
  %strong Vielen Dank für Deine Anmeldung
  %br
  Wir senden Dir eine E-Mail zur Bestätigung an
  %code= @contact.email
  zu.

%p
  Schaue bitte auch in Deinem Spam-Postfach, falls Du nach ein paar Stunden noch keine Bestätigung bekommen haben.

