.contact_page
  = render 'contacts/show_header', contact: @contact
  
  = render 'admin/accounts/tabs', contact: @contact, active_tab: 'contact'
  
  .contact_details
    = render 'show', contact: @contact
    .action_buttons
      = link_to image_tag( 'sym/pencil_w100.svg' ), edit_contact_path( @contact ), class: 'sym_button', title: 'bearbeiten'
      = link_to image_tag( 'sym/bin_w100.svg' ), @contact, method: :delete, data: { confirm: "Willst Du den Kontakt mit der E-Mail '#{@contact.email}' wirklich löschen?\n\nDie Aktion kann nicht rückgängig gemacht werden." }, class: 'sym_button danger', title: 'Kontakt löschen'
      
    
  

