- h_title 'Spenden zu Finanzierungen'
- h_description( h_page_description_for 'donations' )

%h1 Spenden zu Finanzierungen

%ul.donations_list
  - @donations.each do |donation|
    %li= render 'preview', donation: donation
  

