.preview.pref_preview
  .show_view{ id: "show_#{pref.iid}", data: { action: 'show_hide', sel: "#show_#{pref.iid}, #edit_#{pref.iid}" } }
    .label= pref.description
    .value
      = pref.value
      = image_tag 'sym/pencil_w100.svg', class: 'sym_button'
    
  
  .edit_view{ id: "edit_#{pref.iid}" }
    = render 'form', pref: pref, cancel_action: link_to( 'Abbrechen', '#', class: 'button secondary', data: { action: 'show_hide', sel: "#show_#{pref.iid}, #edit_#{pref.iid}" } )
  

