.preview.pref_preview.switch_preview{ id: pref.iid }
  = link_to image_tag( "sym/switch_#{pref.value}.svg" ), switch_pref_path( pref ), method: :put, remote: true, class: 'switch'
  .label= pref.description

