body {
    margin: 0;
    height: 100vh;
    display: flex;

	--farbeGelb: #e4ca25;
	--farbeGrün: #a9d800;
	--farbeBraun: #c05b01;

	--farbePR: #000000;
	--farbeBY: #0a85ec;
	--farbeSX: #e60c1c;
	--farbeBA: #743512;
	--farbeWT: #f3f611;
	--farbeHE: #00690c;
	--farbeMS: #2e249e;
	--farbeOL: #a3a5a4;
}

#app {
	display: flex;
	flex: 1;
	overflow: auto;
}

form > select {
	float: right;
	margin-top: 13px;
}

h1 {
	margin: .5em 0 .3em;
	font-size: 1.5em
}

form > h1 > span {
	font-size: 1rem;
	font-weight: normal;
}

form p {
	margin: 0 0 .3em
}

button {
	margin: 0;
	padding: 0.5rem 1rem;
	border: none;
	border-radius: 0.5rem;
	
	color: white;
	background-color: #36F;
	font-family: Arial, sans-serif;
	pointer-events: auto;
}

button[disabled] {
	opacity: 0.4 !important;
}

button[disabled]:hover {
	background-color: #36F !important;
}