.anrede
  Hallo
  = @receiver + ','

%p
  Es ist mindestens eine neue Bestellung auf dem Portal von
  = h_orga_name
  vorhanden.

%p
  Hier geht es direkt zum Login:
  %br
  = link_to h_orga_name + ' Login', @login_link

= render 'general/mailer_regards'
