%h1
  Hallo
  = @name

%p
  Dein*e Vorgänger*in hat seinen*ihren Zug gemacht.
  %br
  Du bist als nächstes dran!

%p
  = link_to 'zu deinem Spiel', @spiel_link

%p
  Herzliche Grüße,
  %br
  deine Spielleiter App

