- if defined?( is_open ).nil?
  - is_open = true

%li
  .proposal_card{ id: proposal.iid }
    .short.will_toggle{ class: is_open ? 'open' : nil, data: h_show_toggler?( proposal ) ? { action: 'toggle', sel: "##{proposal.iid} .full" } : nil }
      .end_aligned= render 'general/toggle_icon' if h_show_toggler? proposal
      
      .title
        .number
          Vorschlag
          %strong= proposal.position
        
        = proposal.title
      
    .full.will_be_toggled{ class: is_open ? 'toggled_open' : nil }
      .description
        = h_format proposal.description
      
      - if h_proposal_editable?( proposal )
        .actions
          = link_to image_tag( 'sym/pencil_w100.svg' ), edit_proposal_path( proposal ), remote: true, class: 'sym_button'
        
      
    
    - if proposal.decision.voting?
      - logger.debug "== start resistance_scale"
      = render 'proposals/resistance_scale', proposal: proposal
    - elsif proposal.decision.done?
      - if proposal.decision.is_selection?
        .selection_result
          = proposal.selection_value
        
      - else
        = render 'proposals/result_scale', proposal: proposal
      
    
  

