.voting_section
  .result_scale{ class: h_result_value_class( proposal ), style: "width: #{proposal.votes_value * 11.11}%;" }
    &nbsp;
    
    .result_tick{ class: h_result_value_class( proposal ), style: "right: #{[(-3 + proposal.votes_value * 2),0].min}rem;" }
      = proposal.votes_value
    
  
  .scale_labels
    .left kein Widerstand
    .right hoher Widerstand
  

