- votable = proposal.decision.votable_by? current_account
- vote = proposal.vote_value_for( current_account )

.voting_section
  - if votable or !vote.blank?
    - if proposal.decision.is_selection?
      .selection_scale
        
        .end_aligned
          .label
            - if vote == 1
              ausgewählt
            - else
              bisher enthalten
            
          
          = link_to image_tag( "sym/vote_circle_#{vote == 1 ? 'cross_' : '' }b100.svg" ), vote_proposal_path( proposal, value: 1 ), method: :put, remote: true, class: 'vote_circle'
      
    - else
      %ul.resistance_scale
        - ( 0..9 ).each do |value|
          - if votable
            %li
              = link_to value.to_s, vote_proposal_path( proposal, value: value ), method: :put, remote: true, class: "tick" + h_vote_value_class( vote, value )
            
          - else
            %li
              .tick.inactive{ class: h_vote_value_class( vote, value ) }= value
          
        
      
    
  
  .scale_labels
    - if votable or !vote.blank?
      - unless proposal.decision.is_selection?
        .left kein Widerstand
        .right hoher Widerstand
      
    
  

