$("#new_proposal").slideUp( 200 ).empty();
$("#new_proposal_button").slideDown( 200 );
$("#proposals_list").replaceWith( "<%= escape_javascript( render 'proposals/index', proposals: @decision.proposals ) %>" );
