%h1 Listing proposals

%table
  %thead
    %tr
      %th Token
      %th Status
      %th Account
      %th Decision
      %th Title
      %th Description
      %th
      %th
      %th

  %tbody
    - @proposals.each do |proposal|
      %tr
        %td= proposal.token
        %td= proposal.status
        %td= proposal.account
        %td= proposal.decision
        %td= proposal.title
        %td= proposal.description
        %td= link_to 'Show', proposal
        %td= link_to 'Edit', edit_proposal_path(proposal)
        %td= link_to 'Destroy', proposal, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Proposal', new_proposal_path
