.video_block#video
  .video
    Das Video
  

.description_block
  %h2.title Über das Projekt
  
  .project_details
    .label Finanzierung läuft
    .row
      .from
        vom
        %br
        %strong=l @funding.starts_at, format: :very_short_day
      
      .to
        bis
        %br
        %strong=l @funding.ends_at, format: :very_short_day
      
    
    %br
    .label Umsetzung geplant
    .row
      %strong= @funding.performance_period
    
    %br
    .label Finanzierungsziel
    .row
      .from
        %strong= number_to_currency @funding.goal_amount
      
    .label für
    .row
      %strong= h_format @funding.goal_text
    
    %br
    .label Kategorie
    .row
      %strong= @funding.category
    
    %br
    .label Ort
    .row
      %strong= @funding.location
    
  
  %br
  %h2.title.will_toggle{ data: { action: 'toggle', sel: "#project_description" } }
    .end_aligned= render 'general/toggle_icon'
    Projektbeschreibung
  
  #project_description.will_be_toggled
    .description= h_format @funding.description
    
    = render 'faq_block', funding: @funding
  

.social_block#social_media_buttons
  .label Folge uns auf Social Media
  - unless @funding.some_1.blank?
    = link_to image_tag( "logos/#{@funding.some_1_service}_logo.svg" ), @funding.some_1, class: 'sym_button'
  
  - unless @funding.some_2.blank?
    = link_to image_tag( "logos/#{@funding.some_2_service}_logo.svg" ), @funding.some_2, class: 'sym_button'
  
  - unless @funding.some_3.blank?
    = link_to image_tag( "logos/#{@funding.some_3_service}_logo.svg" ), @funding.some_3, class: 'sym_button'
  

.support_form_block#support_form
  %h2.title Spenden
  
  = form_tag new_funding_donation_path( @funding ), method: :put, class: 'support_form' do
    %label
      Durchschnittliche Spende:
      %strong 12,34€
    
    .field
      = number_field_tag :amount, nil, step: 'any', min: 1, placeholder: 'z.B. 12,34 €'
      .help Deine Spende kannst du dir bis zu einem Höchstbetrag von 1.650€ bei der Lohn-/Einkommenssteuer zu 50% erstatten lassen.
    
    .actions.initially_hidden
      = submit_tag 'Spenden'
    
  

= render 'rewards_block', funding: @funding
