// Place all the styles related to the Codes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.page_codes_index,
.page_codes_new {
  margin: 2rem;
  
  form {
    margin: 1rem 0;
  }
}