<% @spiele.each do |spiel|
  if spiel.content.nil? %>
<p><%= spiel.id %> leer <%= link_to "löschen", spiel, method: :delete, data: { confirm: "Sicher?" } %></p>
  <% else
    data = JSON spiel.content
    if data.has_key? "spieler" %>
<p><%= spiel.id %> <%= data["spieler"].keys.join ", " %>
  <%= Zug.where("spiel_id = ?", spiel.id).last.created_at %>
  <%= link_to "bearbeiten", spiel %>
  <%= link_to "löschen", spiel, method: :delete, data: { confirm: "Sicher?" } %></p>
    <% else %>
<p><%= spiel.id %> neu</p>
  <% end
  end
end %>
