<% posts_hashes = @posts.collect { |p|
          { token: p.contact.token, text: h_format( p.text_content ), wann: p.created_at } } %>
<% all_hashes = ( @zuege_hashes + posts_hashes ).sort_by { |e| e[ :wann ] } %>
<% @stand.content.insert( 1, '"authenticity_token": "' + form_authenticity_token + '",' ) %>
<% @stand.content.insert( -2, (@stand.content[-2] == "," ? "" : ",") + '"zuege":' + JSON( all_hashes ) ) %>

<%= @stand.content.html_safe %>
