<div>
	<%= form_with(model: @stand, local: true, method: "PATCH", html: { "@submit": "aendern", class: 'admin_form' }) do |form| %>
		<input type="hidden" name="stand"/>
		<input type="hidden" name="zug"/>
		<textarea name="text" style="width: 100%; height: 38rem"><%= @text %></textarea>
		<p style="margin: 0">Züge</p>
		<textarea name="zuege" style="width: 100%; height: 8rem"></textarea>
		
		<button type="submit">Ändern</button>
	<% end %>
</div>