<form id="problemForm" v-if="zeigtProblem" @submit.prevent="schickProblem">
	<p>Ein Problem melden:</p>
	<label>
		Titel
		<input type="text" name="titel" />
	</label>
	<label>
		Beschreibung
		<textarea name="beschreibung"></textarea>
	</label>
	<button @click.prevent="brichAbProblem">Abbrechen</button>
	<button>Abschicken</button>
</form>
<form id="installationForm" v-if="zeigtInstallation" @submit.prevent="deinstallier">
	<p>Lokale Installation:</p>
	<button @click.prevent="aktualisier">Aktualisieren</button>
	<button>Deinstallieren</button>
</form>
