<nav id="nav_sidebar">
	<%= render 'plan/sende_zug_form' %>

	<ul>
		<li class="boerse_btn" @click="beiKlickBtn" data-tab_sel="#section_boerse"
		    v-drag="{ accepts: d => d, over: () => !offeneTabs.includes(0) && beiKlickTab({ target: $refs.börseTab }) }">B</li>
		<li @click="beiKlickBtn" data-tab_sel="#section_logbuch">V</li>
		<li @click="beiKlickBtn" data-tab_sel="#section_spielerinfo"
		    v-drag="{ accepts: d => d, over: () => !offeneTabs.includes(2) && beiKlickTab({ target: $refs.infoTab }) }">I</li>
		<li class="weisser_btn" @click="beiKlickBtn" data-tab_sel="#section_phasen">P</li>
		<li class="weisser_btn" @click="beiKlickBtn" data-tab_sel="#section_gleise">G</li>
	</ul>
</nav>
