<section id="section_phasen">
	<h1 @click="beiKlickTab">Phasen</h1>
	<div class="tab_view">
		<div class="tab_content">
			<img src="../1835/img/phasen.jpg" style="display: block; width: 100%" />
		</div>
	</div>
</section>
