<section id="section_boerse">
	<h1 ref="börseTab" @click="beiKlickTab"
	    v-drag="{ accepts: d => d, over: () => !offeneTabs.includes(0) && beiKlickTab({ target: $refs.börseTab }) }">Börse</h1>
	<div>
		<Boerse v-if="offeneTabs.includes(0)" :zug="plan"></Boerse>
	</div>
</section>
