<section id="section_spielerinfo">
	<h1 ref="infoTab" @click="beiKlickTab"
	    v-drag="{ accepts: d => d, over: () => !offeneTabs.includes(2) && beiKlickTab({ target: $refs.infoTab }) }">Spielerinfo</h1>
	<div class="tab_view" v-drag="{ accepts: d => d, over: (d, t, e) => rollAutomatisch(t, e, false, true), end: (d, t, e) => stopAutoRollen(t) }">
	  	<div class="tab_content">
	    	<Spielerinfo v-if="offeneTabs.includes(2)"></Spielerinfo>
	  	</div>
	</div>
</section>
