<section id="section_gleise">
	<h1 @click="beiKlickTab">Gleise</h1>
	<div class="tab_view">
		<div class="tab_content">
			<div id="gleise">
				<img src="../1835/img/gelb.jpg" />
				<div id="decker_1"></div>
				<img style="margin-top: -54px" src="../1835/img/gruen.jpg" />
				<img src="../1835/img/braun.jpg" />
				<p v-for="(v, i) in gleisVorlage"
						:style="gibGleisRestStil(v)">
					{{gibGleisRest(i)}}
				</p>
			</div>
		</div>
	</div>
</section>
