<form id="sende_zug" @submit.prevent="sendeZug">
	<div class="top_infos">
		<span v-if="log.length" style="flex: 1">{{(phase === 2) ? "Braune" : (phase === 1) ? "Grüne" : "Gelbe"}} Phase</span>
		<span v-else>Neues Spiel wird angelegt..</span>
		<svg @click="zeigtProblem = true" title="Sende eine Fehlermeldung" style="position: relative; margin-left: .6em; width: 15px; height: 15px">
			<path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF" d="M11.78 5.841a.75.75 0 0 1-1.06 0l-1.97-1.97v7.379a.75.75 0 0 1-1.5 0V3.871l-1.97 1.97a.75.75 0 0 1-1.06-1.06l3.25-3.25L8 1l.53.53 3.25 3.25a.75.75 0 0 1 0 1.061zM2.5 9.75a.75.75 0 0 0-1.5 0V13a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V9.75a.75.75 0 0 0-1.5 0V13a.5.5 0 0 1-.5.5H3a.5.5 0 0 1-.5-.5V9.75z"></path>
		</svg>
		<a v-if="version" @click="zeigtInstallation = true" style="margin-left: .6em">{{version}}</a>
		<svg v-if="installierbar && !version" @click="installier" title="Installiere die WebApp lokal im Browser" style="position: relative; margin-left: .6em; width: 15px; height: 15px">
			<path fill-rule="evenodd" clip-rule="evenodd" fill="#ffffff" d="M11.78 7.159a.75.75 0 0 0-1.06 0l-1.97 1.97V1.75a.75.75 0 0 0-1.5 0v7.379l-1.97-1.97a.75.75 0 0 0-1.06 1.06l3.25 3.25L8 12l.53-.53 3.25-3.25a.75.75 0 0 0 0-1.061zM2.5 9.75a.75.75 0 0 0-1.5 0V13a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V9.75a.75.75 0 0 0-1.5 0V13a.5.5 0 0 1-.5.5H3a.5.5 0 0 1-.5-.5V9.75z"></path>
		</svg>
	</div>
	<template v-if="extra && ((direktor !== originalDirektor) || isNaN(extra[0]))">
		<h2 v-if="bahnen[extra[0]]">
			{{extra[0].startsWith("v") ? extra[0][1] + " " : ""}}{{bahnen[extra[0]]}} Zwischenzug:
		</h2>
		<h2 v-else>{{extra[0] < 0 ? "Spielleiter" : dran}} Zwischenzug:</h2>
	</template>
	<h1 v-if="bahnen[dran]">{{dran.startsWith("v") ? dran[1] + " " : ""}}{{bahnen[dran]}} <span>({{direktor}})</span></h1>
	<div class="aktionen">
		<template v-if="istAktuellerSpielerDran">
			<template v-for="(a, i) in bahnAktionen">
				<template v-if="a.fährt">
					<p v-for="(s, j) in a.fährt" style="display: flex; align-items: center">
						{{gibStreckenText(s.concat())}}
						<a v-if="i === bahnAktionen.length - 1" @click="löschSpur(j)">x</a>
					</p>
					<p v-if="fahrGeld">
						fährt {{fahrGeld}}M <label v-if="ags[dran]"><input type="checkbox" v-model="einbehalt"> einbehalten</label>
					</p>
				</template>
				<p v-else>
					{{gibAktionenText(a)}}
					<a v-if="i === bahnAktionen.length - 1" @click="löschLetzteAktion">x</a>
				</p>
			</template>
 
			<template v-if="tauschtPreußen && !ags[dran]">
				<button v-if="tauschtPreußen" @click.prevent="behalten">Behalten</button>
				&nbsp;<em>oder</em>&nbsp;
				<button :disabled="aktionen.length > 0" @click.prevent="wandelUm">In Preußen wandeln</button>
				<a class="button sym" href="/1836_inbetriebnahme_preussen" title="weitere Infos dazu" target="_blank">
					<img src="../app/assets/images/sym/info_icon_a100.svg">
				</a>
			</template>
			<button v-else :disabled="zugUnvollständig">Zug senden</button>
		</template>
		<button v-else-if="runde < -1" :disabled="(runde < -3) && ((standRunde < 0) || kursloseAGs.length)"
		        @click.prevent="gehSpielaufnahmeWeiter">{{runde == -4 ? "Senden" : "Weiter"}}</button>
		<button v-else @click.prevent="aktualisieren">Aktualisieren</button>
	</div>
</form>
