<div id="plan">
	<Spielerinfo v-if="info"
	    :info="info"
	    :bank="bank"
	    :bahnen="bahnen"
	    :spieler="spieler"
	    :aktueller-spieler="aktuellerSpieler"></Spielerinfo>
	<template v-else>
		<%= render 'plan/nav_sidebar' %>
		
		<div id="plan_view"
		     v-drag="{ accepts: d => d === 'spur', over: (d, t, e) => fährt && rollAutomatisch(t, e, true, true), end: (d, t, e) => fährt && stopAutoRollen(t) }">
			<Plan ref="plan" :auswahl="$refs.auswahl" :einbehalt="einbehalt" @fahr="beiFahr"></Plan>
		</div>
	
		<%= render 'plan/section_boerse' %>
		<%= render 'plan/section_logbuch' %>
		<%= render 'plan/section_spielerinfo' %>
		<%= render 'plan/section_phasen' %>
		<%= render 'plan/section_gleise' %>
		
		<div id="meldung" v-if="letzteZüge.length" @click="letzteZüge.splice(0)">
			<template v-for="zug in letzteZüge">
				<h1 v-if="zug.token">{{Object.entries(spieler).find( e => e[1].token && e[1].token === zug.token )[0]}}</h1>
				<h1 v-else>{{zug.wer < 0 ? "Spielleiter" : bahnen[zug.wer] || Object.keys(spieler)[zug.wer]}}</h1>
				<div v-if="zug.text" v-html="zug.text"></div>
				<div v-else-if="!(zug.was && zug.was.length)">passt</div>
				<div v-for="was in zug.was">{{gibAktionenText(was, Object.keys(spieler))}}</div>
			</template>
		</div>
		
		<%= render 'plan/forms' %>
		<div id="wertverlauf" v-if="ende"><Wertverlauf :gib-verlaufstabelle="gibVerlaufstabelle"></Wertverlauf></div>
		<Auswahl ref="auswahl"></Auswahl>
		<div id="spielerStop" v-show="stopptSpieler" @click="weiterSpielen"><div>
			<h1 v-if="bahnen[dran]">{{dran.startsWith("v") ? dran[1] + " " : ""}}{{bahnen[dran]}} <span>({{direktor}})</span> ist dran</h1>
			<h1 v-else>{{dran}} ist dran</h1>
			<button>Ok</button>
		</div></div>
	</template>
</div>
