<script setup>
</script>

<template>
	<g>
		<path d="M 0,54 A 81,81 0,0,1 70.5,94.5" class="bohlen" />
		<path d="M 0,52 A 83,83 0,0,1 72.2,93.5" class="schiene" />
		<path d="M 0,56 A 79,79 0,0,1 68.8,95.5" class="schiene" />
	</g>
</template>

<style scoped>
	path { fill: none }

	path.bohlen {
		stroke: #8e3500;
		stroke-width: 8;
		stroke-dasharray: 2 4.1;
		stroke-dashoffset: 4;
	}
	
	path.schiene {
		stroke: #000;
		stroke-width: 1;
	}
</style>