<script setup>
</script>

<template>
	<g>
		<line x1="0" y1="54" x2="94" y2="54" class="bohlen" />
		<line x1="0" y1="52" x2="94" y2="52" class="schiene" />
		<line x1="0" y1="56" x2="94" y2="56" class="schiene" />
	</g>
</template>

<style scoped>
	line.bohlen {
		stroke: #8e3500;
		stroke-width: 8;
		stroke-dasharray: 2 3.9;
		stroke-dashoffset: 4;
	}
	
	line.schiene {
		stroke: #000;
		stroke-width: 1;
	}
</style>