<script setup>
</script>

<template>
	<g>
		<path d="M 0,54 A 27,27 0,0,1 23.5,94.5" class="bohlen" />
		<path d="M 0,52 A 29,29 0,0,1 25.2,95.5" class="schiene" />
		<path d="M 0,56 A 25,25 0,0,1 21.8,93.5" class="schiene" />
	</g>
</template>

<style scoped>
	path { fill: none }

	path.bohlen {
		stroke: #8e3500;
		stroke-width: 8;
		stroke-dasharray: 2 3.8;
		stroke-dashoffset: 4.5;
	}
	
	path.schiene {
		stroke: #000;
		stroke-width: 1;
	}
</style>