.anrede
  Willkommen,
  = @contact.name_text

%p
  Vielen Dank, dass du uns unterstützen möchtest! Das hilft uns einiges weiter.

- if @contact.wants_news?
  %p
    Wir schicken dir gerne unseren
    %strong Newsletter
    zu. Der kommt unregelmässig, immer dann, wenn es etwas substanziell Neues gibt. Wenn du mehr möchtest, kannst du uns auch auf Sozialen Medien folgen:
    %br
    = render 'general/social_media_buttons', with_icon: false
  

- if @contact.offers_help?
  %p
    Danke auch für dein
    %strong Hilfe-Angebot.
    %br
    Vielleicht kannst du uns in einer Antwort kurz schildern, was Du gut kannst oder gerne tust oder wo Du Dir vorstellen kannst, dass du uns unterstützen könntest.
  
  %p
    Da wir bisher noch wenige Aktive sind, wird es ein bisschen dauern, bis jemand auf dich zukommt. Wir melden uns aber, versprochen.
  

%p
  Um deinen Kontakt zu bestätigen,
  %strong klicke bitte
  folgenden Link:
  %br
  = link_to @confirmation_link, @confirmation_link

= render 'general/mailer_regards'
