Hallo <%= @contact.name_text %>

<%= @inviting_contact.name_text %> hat dich zu einem Chat auf der Website von <%= @site_name %> eingeladen.

Um daran teilzunehmen, klicke bitte folgenden Link:
<%= @participation_link %>

<%= render 'general/mailer_regards' %>
