<!doctype html>
<html class="no-js" lang="">
	<!-- --------------------------------------- -->
	<head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<title>1835 Plan</title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<!-- <link rel="apple-touch-icon" href="icon.png"> -->
		<!-- Place favicon.ico in the root directory -->

		<%= stylesheet_link_tag 'plan1835/plan1835' %>

		<script src="../lib/vendor/modernizr-3.6.0.min.js"></script>
		<script>
			// TogetherJSConfig_hubBase = "https://hub.jsfiddle.net"
			TogetherJSConfig_hubBase = "https://togetherjs-hub.glitch.me/"
			TogetherJSConfig_siteName = "1835<%= Rails.env.development? ? '_dev' : '' %>_<%= params[ :id ] %>"
			TogetherJSConfig_toolName = "TogetherJS_1835<%= Rails.env.development? ? '_dev' : '' %>_<%= params[ :id ] %>"
			TogetherJSConfig_autoStart = true
			TogetherJSConfig_findRoom = "spiel1835<%= Rails.env.development? ? '_dev' : '' %>_<%= params[ :id ] %>"
			TogetherJSConfig_youtube = false
			TogetherJSConfig_ignoreForms = true
		</script>
		<script src="../lib/vendor/togetherjs-min.js"></script>

		<script type="module" src="../1835/src/plan.js"></script>
		<script nomodule src="../lib/lad_module.js"></script><!-- falls module Skripte nicht geladen werden (Firefox mein Mac & Chrome)-->
		<script src="../lib/lad_nomodule.js"></script><!-- falls nomodule Skripte nicht geladen werden (Chrome) -->
	</head>

	<body>
		<!--[if lte IE 9]>
			<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
		<![endif]-->

		<%= yield %>
	</body>
</html>