- cancel_button = nil unless defined? cancel_button
- initially_hidden = false unless defined? initially_hidden

= form_for @account do |f|
  - if @account.errors.any?
    #error_explanation
      %h2= I18n.t( 'errors.template.header', model: I18n.t( "activerecord.models.account.one" ), count: @account.errors.count )
      %ul
        - @account.errors.messages.each do |message|
          %li= I18n.t 'errors.format', message: message.last.first, attribute: I18n.t( "activerecord.attributes.account.#{message.first}" )
        
      
    
  
  = hidden_field_tag :what, 'priv'
  
  .field
    = f.label :login
    = f.text_field :login, placeholder: 'z.B. lisa.muster@organisator.org'
    .help Am besten verwendest du hier deine E-Mail Adresse.
  
  .field
    = f.label :old_password
    = f.password_field :old_password
  
  .field
    = f.label :password
    = f.password_field :password
  
  .field
    = f.label :password_confirmation
    = f.password_field :password_confirmation
  
  .actions
    = f.submit class: 'button main'
  

