- cancel_button = nil unless defined? cancel_button
- initially_hidden = false unless defined? initially_hidden

= form_for @account, class: initially_hidden ? 'initially_hidden' : nil do |f|
  - if @account.errors.any?
    #error_explanation
      %h2= I18n.t( 'errors.template.header', model: I18n.t( "activerecord.models.account.one" ), count: @account.errors.count )
      %ul
        - @account.errors.messages.each do |message|
          %li= I18n.t 'errors.format', message: message.last.first, attribute: I18n.t( "activerecord.attributes.account.#{message.first}" )
        
      
    
  
  .field.file.image
    = f.label :picture
    = f.file_field :picture
  
  .field
    = f.label :displayname
    = f.text_field :displayname, placeholder: 'z.B. Spitzname'
    .help_text Wenn hier kein Anzeigename eingetragen wird, wird Vorname Nachname verwendet.
  
  .field
    = f.label :label
    = f.text_field :label, placeholder: 'z.B. Redakteurin'
  
  .field
    = f.label :description
    = f.text_area :description, rows: 5,placeholder: 'z.B. eine kurze, überraschende Beschreibung deiner Person.'
  
  .actions
    = cancel_action
    = f.submit class: 'button main'
  

